openapi: 3.1.0
info:
  title: API Reference authentication checkout API
  version: 1.0.0
servers:
- url: https://api-sandbox.coinflow.cash/api
  description: https://api-sandbox.coinflow.cash/api
tags:
- name: checkout
paths:
  /checkout/ach/{merchantId}:
    post:
      operationId: ach-checkout
      summary: ACH Checkout
      description: Processes a checkout via ACH.
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '428':
          description: User must re-verify account
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchCheckoutArgs'
  /checkout/apa/{merchantId}:
    post:
      operationId: apa-checkout
      summary: APA Checkout
      description: Initiates the checkout for an APA Payment
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_ApaCheckout_Response_200'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApaCheckoutArgs'
  /checkout/v2/apple-pay/{merchantId}:
    post:
      operationId: apple-pay
      summary: Apple Pay Checkout
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '402':
          description: ApplePay unavailable
          content:
            application/json:
              schema:
                description: Any type
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayCheckoutArgs'
  /checkout/apple-pay/validatemerchant:
    get:
      operationId: validate-merchant
      summary: Apple Pay Validate Merchant
      tags:
      - checkout
      parameters:
      - name: domainName
        in: query
        description: '- Top level domain that the Apple Pay Button is associated with'
        required: true
        schema:
          type: string
      - name: merchantId
        in: query
        description: 'The merchant ID associated with this request, required

          if you are utilizing custom certificates

          - The Merchant ID of the Merchant'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                description: Any type
  /checkout/capture:
    post:
      operationId: capture-payment
      summary: Capture Payment
      description: If a payment has been created with authOnly=true, capture it using this endpoint.
      tags:
      - checkout
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_CapturePayment_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePaymentRequest'
  /checkout/card/{merchantId}:
    post:
      operationId: card-checkout
      summary: Card Checkout
      description: Processes a checkout via credit card information, will tokenize and save the card for reuse by the customer in the future.
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCheckoutResponse'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCheckoutArgs'
  /checkout/card-on-file-authorized:
    post:
      operationId: card-on-file-authorized
      summary: Card on File Authorized
      description: 'Checks if a user is authorized for card on file transactions with this card.


        It is recommended to call this endpoint to confirm card on file transactions can be performed with a card before attempting any session (such as an auction) involving card on file transactions.'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_CardOnFileAuthorized_Response_200'
        '403':
          description: Card on file not enabled
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Validation for this card has expired. Revalidate the CVV for this card, and make a new purchase using the /api/checkout/card/token in order to begin using this endpoint again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateCVVFields'
        '412':
          description: 3DS Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
              required:
              - token
  /checkout/card-on-file:
    post:
      operationId: card-on-file-checkout
      summary: Card On File Checkout
      description: 'Processes a Card On File Transaction using a saved card from a previous Customer Initiated Transaction (CIT).


        This endpoint can only be used if the customer is actively involved

        in the purchase flow and has explicitly granted their authorization

        to charge their card.'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '403':
          description: Card on file not enabled
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Validation for this card has expired. Revalidate the CVV for this card, and make a new purchase using the /api/checkout/card/token in order to begin using this endpoint again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateCVVFields'
        '412':
          description: 3DS Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardOnFileCheckoutArgs'
  /checkout/cashapp/{merchantId}:
    post:
      operationId: cash-app-checkout
      summary: Cash App Checkout
      description: Initiates the checkout for a Cash App Payment
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_CashAppCheckout_Response_200'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashAppCheckoutArgs'
  /checkout/pix:
    post:
      operationId: create-pix-payment
      summary: Create Pix Payment
      description: Initiates a Pix payment order. Returns a BR code used to pay the order. Must be paid before the returned expiration date (5 minutes).
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCheckoutResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCheckoutArgs'
  /checkout/crypto:
    post:
      operationId: crypto-checkout-headless
      summary: Crypto Payin
      description: Initiates a payment where the customer is paying with Crypto
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadlessCheckoutSession'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoHeadlessCheckoutArgs'
    get:
      operationId: get-supported-chains-and-tokens-for-merchant
      summary: Get supported chains and tokens
      description: Get the supported chains and tokens for crypto payin w/ merchant settings
      tags:
      - checkout
      parameters:
      - name: subtotalCents
        in: query
        description: '- (Optional) - include parameter to receive quoted fee in response'
        required: false
        schema:
          type: number
          format: double
      - name: subtotalCurrency
        in: query
        description: '- (Optional) - include parameter if subtotal is not USD'
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
      - name: tier
        in: query
        description: '- (Optional) - filter tokens by fee tier'
        required: false
        schema:
          $ref: '#/components/schemas/CryptoTier'
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedChainTokenCombos'
  /checkout/jwt-token:
    post:
      operationId: get-checkout-jwt-token
      summary: Get Checkout Jwt Token
      description: "Gets a Checkout Jwt Token for a purchase\n\nCheckout JWT tokens ensure:\n1. The arguments of the purchase cannot be manipulated\n2. The checkout JWT is only valid for a single purchase\n3. The arguments of the purchase are encrypted to be hidden from the user\n (webhook info, chargebackProtectionData, etc...)"
      tags:
      - checkout
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_GetCheckoutJwtToken_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCheckoutLinkArgs'
  /checkout/link:
    post:
      operationId: get-checkout-link
      summary: Get Checkout Link
      description: 'Gets a checkout link for the UserID that can be embedded in vanilla iframe

        or the user can be redirected to'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-coinflow-submerchant-id
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_GetCheckoutLink_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCheckoutLinkArgs'
  /checkout/destination-auth-key:
    post:
      operationId: get-destination-auth-key
      summary: Get Destination Auth Key
      description: 'If your merchant account is settling USDC to an account OTHER than

        the one defined in your settlement settings, you can utilize this

        endpoint to get a destinationAuthKey which can be passed into the

        checkout endpoints which will settle USDC to the account which

        is passed into this endpoint.'
      tags:
      - checkout
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout_GetDestinationAuthKey_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blockchain:
                  $ref: '#/components/schemas/Blockchain'
                destination:
                  type: string
              required:
              - blockchain
              - destination
  /checkout/fees:
    post:
      operationId: get-fees
      summary: Get Interchange Fees
      description: 'Gets the breakdown of possible fees


        It is unlikely you will be calling this endpoint. Only call if you want to see the fee breakdown for all payment methods ex: Debit vs. Credit. If you are trying to display

        all possible fees (including gas) broken down by line item and the final total amount, call the "Get Totals" endpoint.'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partial_Record_PaymentMethods.FeeOption-Array-or-FeeDetail-or-CurrencyCents__'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeDetailRequest'
  /checkout/totals/{merchantId}:
    post:
      operationId: get-totals
      summary: Get Totals
      description: Gets the fees, quotes, and totals for a particular checkout.
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record_PaymentMethods.TotalsResponseSettlement-or-undefined_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTotalsBody'
  /checkout/evm/usdc-authorization:
    post:
      operationId: get-usdc-authorization-message
      summary: Get USDC Authorization Message (EVM only)
      description: 'Gets the USDC authorization message to be signed by the customer for dual-source payments.

        The signed message allows the customer''s USDC to be used alongside credit card payment.


        This is only necessary for EVM chains when using customer USDC + credit card payment.'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsdcAuthorizationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsdcAuthorizationBody'
  /checkout/google-pay/{merchantId}:
    post:
      operationId: google-pay
      summary: Google Pay Checkout
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '402':
          description: GooglePay unavailable
          content:
            application/json:
              schema:
                description: Any type
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePayCheckoutArgs'
  /checkout/interac:
    post:
      operationId: interac-checkout
      summary: Interac e-Transfer Checkout (New Contact)
      description: Initiates an Interac e-Transfer payin with a new contact. Returns the paymentId.
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteracCheckoutResponse'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInteracCheckoutArgs'
  /checkout/interac/token:
    post:
      operationId: interac-token-checkout
      summary: Interac e-Transfer Checkout (Saved Contact)
      description: Initiates an Interac e-Transfer payin with a previously saved contact.
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteracCheckoutResponse'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedTokenCheckoutArgs'
  /checkout/merchant-initiated-transaction:
    post:
      operationId: merchant-initiated-transaction
      summary: Merchant Initiated Transaction
      description: 'Processes a Merchant Initated Transaction using a saved card from a previous Customer Initiated Transaction (CIT) authorized for this purpose.


        This endpoint can only be used if the customer has once before authorized their card to be charged on your platform.

        An example flow would be a usage based billing paradigm. A customer would add their card and perform a zero authorization transaction which would then allow this card to be charged in subsequent merchant initiated transactions.'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '403':
          description: Merchant Initiated Transactions not enabled
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Validation for this card has expired. Revalidate the CVV for this card, and make a new purchase using the /api/checkout/card/token in order to begin using this endpoint again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateCVVFields'
        '429':
          description: Reached Max Number of Transactions In Period
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantInitiatedTransactionArgs'
  /checkout/paypal/{merchantId}:
    post:
      operationId: new-pay-pal-checkout
      summary: PayPal New Checkout
      description: Initiates the checkout for PayPal payment with a new account
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayPalCheckoutResponse'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPayPalCheckoutArgs'
  /checkout/paypal/token/{merchantId}:
    post:
      operationId: saved-pay-pal-checkout
      summary: PayPal Saved Checkout
      description: Initiates the checkout for PayPal payment with a saved account
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayPalCheckoutResponse'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedPayPalCheckoutArgs'
  /checkout/review:
    put:
      operationId: review-payment
      summary: Review Payment Protection
      description: If a payment has a chargeback protection status of Pending Review, select the action to be taken on the payment
      tags:
      - checkout
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewPaymentRequest'
  /checkout/token/{merchantId}:
    post:
      operationId: token-checkout
      summary: Saved Card Checkout
      description: Processes a checkout via tokenized card information.
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '412':
          description: 3DS Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '422':
          description: Address Required
          content:
            application/json:
              schema:
                description: Any type
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCheckoutArgs'
  /checkout/iban:
    post:
      operationId: iban-checkout
      summary: Sepa/Faster Payments Checkout (New Account)
      description: 'Initiates a Sepa/Faster Payments payment order with a new account. Returns destination account info.

        Must be paid before the returned expiration date (5 minutes).'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanPaymentDetails'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '426':
          description: BIC required
          content:
            application/json:
              schema:
                description: Any type
        '428':
          description: User must re-verify account
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewIbanCheckoutArgs'
  /checkout/iban/token:
    post:
      operationId: iban-token-checkout
      summary: Sepa/Faster Payments Checkout (Saved Account)
      description: 'Initiates a Sepa/Faster Payments payment order. Returns destination account info.

        Must be paid before the returned expiration date (5 minutes).'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanPaymentDetails'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '428':
          description: User must re-verify account
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedTokenCheckoutArgs'
  /checkout/wire:
    post:
      operationId: wire-checkout
      summary: US Wire Domestic Payments Checkout (New Account)
      description: 'Initiates a US Domestic Wire Payments payment order with a new account. Returns destination account info.

        Must be paid before the returned expiration date (5 minutes).'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USWirePaymentDetails'
        '412':
          description: Additional Account Details Are Required - Please provide the required fields in body.bankAccountDetails.wireRoutingNumber and/or body.bankAccountDetails.accountNumber
          content:
            application/json:
              schema:
                description: Any type
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '428':
          description: User must re-verify account
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewWireCheckoutArgs'
  /checkout/wire/token:
    post:
      operationId: wire-token-checkout
      summary: US Wire Domestic Payments Checkout (Saved Account)
      description: 'Initiates a US Domestic Wire Payments payment order with a saved account. Returns destination account info.

        Must be paid before the returned expiration date (5 minutes).'
      tags:
      - checkout
      parameters:
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USWirePaymentDetails'
        '412':
          description: Additional Account Details Are Required - Please provide the required fields in body.bankAccountDetails.wireRoutingNumber and/or body.bankAccountDetails.accountNumber
          content:
            application/json:
              schema:
                description: Any type
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '428':
          description: User must re-verify account
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationRequiredResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedWireTokenCheckoutArgs'
  /checkout/venmo/{merchantId}:
    post:
      operationId: new-venmo-checkout
      summary: Venmo New Checkout
      description: Initiates the checkout for Venmo payment with a new account
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenmoCheckoutResponse'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewVenmoCheckoutArgs'
  /checkout/venmo/token/{merchantId}:
    post:
      operationId: saved-venmo-checkout
      summary: Venmo Saved Checkout
      description: Initiates the checkout for Venmo payment with a saved account
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        description: '- (Optional) If you are using Coinflow Chargeback Protection, you must pass the device id of the customer''s device.'
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenmoCheckoutResponse'
        '412':
          description: Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
        '423':
          description: Customer is Blocked
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pick_VerificationRequiredResponse.verification-or-verificationLink_'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedVenmoCheckoutArgs'
  /checkout/void:
    post:
      operationId: void-payment
      summary: Void Payment
      description: If a payment has been created with authOnly=true, void the authorization using this endpoint.
      tags:
      - checkout
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidPaymentRequest'
  /checkout/zero-authorization/{merchantId}:
    post:
      operationId: zero-authorization
      summary: Zero Authorization
      description: 'Performs an Authorization transaction on a Card for $0.00 to be validated and stored for future use.


        This endpoint can only be used if the customer is actively involved

        in the purchase flow and has explicitly granted their authorization

        to charge their card.'
      tags:
      - checkout
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      - name: x-coinflow-auth-session-key
        in: header
        description: The session key generated for the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      - name: x-device-id
        in: header
        required: false
        schema:
          type: string
      - name: x-coinflow-client-ip
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZeroAuthorizationCheckoutResponse'
        '403':
          description: Zero Authorization not enabled
          content:
            application/json:
              schema:
                description: Any type
        '410':
          description: Validation for this card has expired. Revalidate the CVV for this card, and make a new purchase using the /api/checkout/card/token in order to begin using this endpoint again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateCVVFields'
        '412':
          description: 3DS Challenge required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeFields'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZeroAuthorizationCheckoutArgsWithoutReason'
components:
  schemas:
    PixCheckoutResponse:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
        brCode:
          type: string
          description: QR code to display to complete payment.
        quote:
          $ref: '#/components/schemas/CurrencyCents'
        expires:
          type: string
          description: BR Code expiration
      required:
      - paymentId
      - brCode
      - quote
      - expires
      title: PixCheckoutResponse
    AchCheckoutArgs:
      type: object
      properties:
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        chargebackProtectionData:
          $ref: '#/components/schemas/CartClassOmitted'
        feePercentage:
          type: number
          format: double
          description: 'If this purchase is for a seller/submerchant where the marketplace takes a fee, this is the % fee which is

            taken from the subtotal amount.'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        subtotal:
          $ref: '#/components/schemas/Cents'
        jwtToken:
          type: string
          description: 'This is a token encoding the parameters for the request. Allows purchase parameters to be verified

            to prevent manipulation when the checkout page is presented to the user.'
        authOnly:
          type: boolean
          description: 'Only authorize the purchase. This will not actually capture the payment.(default: false)'
        rent:
          $ref: '#/components/schemas/AchCheckoutArgsRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
        stellarTransaction:
          type: string
          description: '(Stellar only) Base64 XDR transaction string for executing a merchant contract call on a successful purchase.


            For transaction purchases, pass the base64 XDR string created using `.toXDR()` on a transaction

            built with generated TypeScript bindings (e.g., `NftClientWrapper.buildNftPurchaseTx`).


            For direct USDC transfers (no merchant transaction), omit this field or pass undefined.


            Gas fees for the transaction will be automatically calculated and added to the total charged to the customer.'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        threeDsChallengePreference:
          $ref: '#/components/schemas/ThreeDsChallengePreference'
        destinationAuthKey:
          type: string
          description: 'If utilizing USDC settlement to addresses other than your main merchant

            settlement address. Utilize this destinationAuthKey which is a JWT encoded

            with the information for which address to send the USDC to.'
        userLocation:
          $ref: '#/components/schemas/IUserLocation'
        overrideChargebackProtectionDecision:
          type: boolean
        doNotReviewChargebackProtection:
          type: boolean
        token:
          type: string
          description: Token for the bankAccount to be used for the checkout.
        transaction:
          type:
          - string
          - 'null'
          description: '- (Solana): A Base58 encoded transaction'
      required:
      - subtotal
      - token
      title: AchCheckoutArgs
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCrypto1:
      type: array
      items:
        $ref: '#/components/schemas/FeeOption'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCrypto1
    ApplePayPaymentTokenPaymentMethod:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ApplePayPaymentTokenPaymentMethodType'
          description: A value representing the card's type of payment.
        network:
          $ref: '#/components/schemas/ApplePayPaymentTokenPaymentMethodNetwork'
          description: A string, suitable for display, that is the name of the payment network backing the card.
        displayName:
          type: string
          description: A string, suitable for display, that describes the card.
      required:
      - type
      - network
      - displayName
      description: Information about the card used in the transaction.
      title: ApplePayPaymentTokenPaymentMethod
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsGooglePay1:
      type: array
      items:
        $ref: '#/components/schemas/FeeOption'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsGooglePay1
    ApplePayCheckoutArgs:
      type: object
      properties:
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        chargebackProtectionData:
          $ref: '#/components/schemas/CartClassOmitted'
        feePercentage:
          type: number
          format: double
          description: 'If this purchase is for a seller/submerchant where the marketplace takes a fee, this is the % fee which is

            taken from the subtotal amount.'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        subtotal:
          $ref: '#/components/schemas/Subtotal'
        jwtToken:
          type: string
          description: 'This is a token encoding the parameters for the request. Allows purchase parameters to be verified

            to prevent manipulation when the checkout page is presented to the user.'
        statementDescriptor:
          type: string
          description: 'If the bank supports dynamic descriptors, this will appear on the customer''s

            statement.'
        accountFundingTransaction:
          $ref: '#/components/schemas/AccountFundingTransaction'
        authOnly:
          type: boolean
          description: 'Only authorize the purchase. This will not actually capture the payment.(default: false)'
        rent:
          $ref: '#/components/schemas/ApplePayCheckoutArgsRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
        stellarTransaction:
          type: string
          description: '(Stellar only) Base64 XDR transaction string for executing a merchant contract call on a successful purchase.


            For transaction purchases, pass the base64 XDR string created using `.toXDR()` on a transaction

            built with generated TypeScript bindings (e.g., `NftClientWrapper.buildNftPurchaseTx`).


            For direct USDC transfers (no merchant transaction), omit this field or pass undefined.


            Gas fees for the transaction will be automatically calculated and added to the total charged to the customer.'
        presentment:
          $ref: '#/components/schemas/Currency'
        chargebackProtectionAccountType:
          $ref: '#/components/schemas/ChargebackProtectionAccountType'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        redemptionCheck:
          type: boolean
          description: (Solana only) If a transaction involved in the purchase, should payment be checked for redemption
        threeDsChallengePreference:
          $ref: '#/components/schemas/ThreeDsChallengePreference'
        destinationAuthKey:
          type: string
          description: 'If utilizing USDC settlement to addresses other than your main merchant

            settlement address. Utilize this destinationAuthKey which is a JWT encoded

            with the information for which address to send the USDC to.'
        customerUsdcTransferData:
          $ref: '#/components/schemas/CustomerUsdcTransferData'
        customerUsdcTransferDataV2:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2'
        userLocation:
          $ref: '#/components/schemas/IUserLocation'
        overrideChargebackProtectionDecision:
          type: boolean
        doNotReviewChargebackProtection:
          type: boolean
        applePayPayment:
          $ref: '#/components/schemas/ApplePayPayment'
      required:
      - subtotal
      - applePayPayment
      title: ApplePayCheckoutArgs
    NormalRedeemTransaction:
      type: object
      properties:
        data:
          type: string
          description: 'The data to call this contract with, HEX encoded.


            The coinflow contract calls the "to" contract, contract pulls USDC from msg.sender, and transfers the NFT/item to the "receiver" address defined in the contract function arguments.'
        to:
          type: string
          description: The merchant's whitelisted contract
      required:
      - data
      - to
      description: Transaction to be called.
      title: NormalRedeemTransaction
    MoneyTopUpCartItemItemClass:
      type: string
      enum:
      - moneyTopUp
      description: 'Denotes the cart item class. The item schema is chosen based on this value.

        Allowed value: moneyTopUp

        Example: moneyTopUp'
      title: MoneyTopUpCartItemItemClass
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix:
      oneOf:
      - $ref: '#/components/schemas/CurrencyCents'
      - $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix1'
      - $ref: '#/components/schemas/FeeDetail'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix
    CardCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/CardCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: CardCheckoutArgsRent
    NewInteracCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/NewInteracCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: NewInteracCheckoutArgsRent
    google.payments.api.SelectionOptionData:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier of a [[SelectionOption|`SelectionOption`]].

            Must match with [[SelectionOption.id|`SelectionOption.id`]]

            field.'
      required:
      - id
      description: Data for a [[SelectionOption|`SelectionOption`]].
      title: google.payments.api.SelectionOptionData
    SavedWireTokenCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/SavedWireTokenCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: SavedWireTokenCheckoutArgsRent
    ReviewPaymentRequest:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
        accept:
          type: boolean
      required:
      - paymentId
      - accept
      title: ReviewPaymentRequest
    Checkout_GetCheckoutJwtToken_Response_200:
      type: object
      properties:
        checkoutJwtToken:
          description: Any type
      required:
      - checkoutJwtToken
      title: Checkout_GetCheckoutJwtToken_Response_200
    Checkout_CardOnFileAuthorized_Response_200:
      type: object
      properties:
        authorized:
          type: boolean
      required:
      - authorized
      title: Checkout_CardOnFileAuthorized_Response_200
    NewPayPalCheckoutArgsPaypal:
      oneOf:
      - $ref: '#/components/schemas/NewPayPalCheckoutArgsPaypal0'
      - $ref: '#/components/schemas/NewPayPalCheckoutArgsPaypal1'
      description: The email or phone number tied to the PayPal account
      title: NewPayPalCheckoutArgsPaypal
    NewPayPalCheckoutArgsPaypal0:
      type: object
      properties:
        email:
          type: string
      required:
      - email
      title: NewPayPalCheckoutArgsPaypal0
    CryptoCartItemItemClass:
      type: string
      enum:
      - crypto
      description: 'Denotes the cart item class. The item schema is chosen based on this value.

        Allowed value: crypto

        Example: crypto'
      title: CryptoCartItemItemClass
    google.payments.api.CardInfo:
      type: object
      properties:
        assuranceDetails:
          $ref: '#/components/schemas/google.payments.api.AssuranceDetails'
        cardNetwork:
          $ref: '#/components/schemas/google.payments.api.CardNetwork'
        cardDetails:
          type: string
          description: 'The details about the card.


            This value will be generally the last 4 digits of the card.


            These details **should not** be displayed to the buyer,

            but can be used when the details of a buyer''s card are needed. An

            example would be for customer support to help the buyer identify the

            card used for this transaction. For a user-visible description, use

            [[PaymentMethodData.description|`PaymentMethodData.description`]]

            instead.'
        billingAddress:
          $ref: '#/components/schemas/google.payments.api.Address'
      required:
      - cardNetwork
      - cardDetails
      description: 'Data for a [[PaymentMethodType|`PaymentMethodType.CARD`]] payment

        method.'
      title: google.payments.api.CardInfo
    CashAppCheckoutArgs:
      type: object
      properties:
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        feePercentage:
          type: number
          format: double
          description: 'If this purchase is for a seller/submerchant where the marketplace takes a fee, this is the % fee which is

            taken from the subtotal amount.'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        subtotal:
          $ref: '#/components/schemas/Subtotal'
        jwtToken:
          type: string
          description: 'This is a token encoding the parameters for the request. Allows purchase parameters to be verified

            to prevent manipulation when the checkout page is presented to the user.'
        rent:
          $ref: '#/components/schemas/CashAppCheckoutArgsRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
        stellarTransaction:
          type: string
          description: '(Stellar only) Base64 XDR transaction string for executing a merchant contract call on a successful purchase.


            For transaction purchases, pass the base64 XDR string created using `.toXDR()` on a transaction

            built with generated TypeScript bindings (e.g., `NftClientWrapper.buildNftPurchaseTx`).


            For direct USDC transfers (no merchant transaction), omit this field or pass undefined.


            Gas fees for the transaction will be automatically calculated and added to the total charged to the customer.'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        destinationAuthKey:
          type: string
          description: 'If utilizing USDC settlement to addresses other than your main merchant

            settlement address. Utilize this destinationAuthKey which is a JWT encoded

            with the information for which address to send the USDC to.'
        userLocation:
          $ref: '#/components/schemas/IUserLocation'
        overrideChargebackProtectionDecision:
          type: boolean
        doNotReviewChargebackProtection:
          type: boolean
        email:
          type: string
      required:
      - subtotal
      title: CashAppCheckoutArgs
    RecipientInfoWallet:
      type: object
      properties:
        custodialType:
          $ref: '#/components/schemas/RecipientInfoWalletCustodialType'
          description: 'The type of the wallet

            Allowed values: custodial, nonCustodial, unknown

            Example: custodial'
        blockchain:
          type: string
          description: 'The blockchain on which the transaction was made

            Example: BTC

            Pattern: ^[A-Z0-9-]+$'
        address:
          type: string
          description: The crypto wallet address that will receive the funds
      required:
      - custodialType
      - blockchain
      - address
      description: The crypto wallet that will receive the funds
      title: RecipientInfoWallet
    HeadlessCheckoutSession:
      type: object
      properties:
        sessionId:
          type: string
          description: The session/payment identifier
        depositAddress:
          type: string
          description: The deposit address where funds should be sent
        paymentChainName:
          type: string
          description: Human-readable chain name
        paymentCurrencySymbol:
          type: string
          description: The token symbol
        paymentAmount:
          type: string
          description: The amount to pay in the selected currency
        chainLogoUrl:
          type: string
        currencyLogoUrl:
          type: string
        paymentId:
          type: string
      required:
      - sessionId
      - depositAddress
      - paymentChainName
      - paymentCurrencySymbol
      - paymentAmount
      - chainLogoUrl
      - currencyLogoUrl
      - paymentId
      description: Response from creating a payin session
      title: HeadlessCheckoutSession
    CustomerUsdcTransferDataValidBefore:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CustomerUsdcTransferDataValidBefore
    SupportedToken:
      type: object
      properties:
        name:
          type: string
        symbol:
          type: string
        image:
          type: string
        feeTier:
          $ref: '#/components/schemas/CryptoTier'
        fee:
          $ref: '#/components/schemas/CurrencyCents'
      required:
      - name
      - symbol
      - image
      - feeTier
      title: SupportedToken
    NewInteracCheckoutArgsRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: NewInteracCheckoutArgsRentLamports
    NameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        name:
          type: string
      title: NameCustomerInfo
    Exclude_ApaCredentialType.ApaCredentialType.PAN_:
      oneOf:
      - $ref: '#/components/schemas/ApaCredentialType.PHONE'
      - $ref: '#/components/schemas/ApaCredentialType.EMAIL'
      description: Exclude from T those types that are assignable to U
      title: Exclude_ApaCredentialType.ApaCredentialType.PAN_
    CardOnFileCheckoutArgsWithTokenRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/CardOnFileCheckoutArgsWithTokenRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: CardOnFileCheckoutArgsWithTokenRent
    GetTotalsBodyRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: GetTotalsBodyRentLamports
    SplitNameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
      - firstName
      - lastName
      title: SplitNameCustomerInfo
    ZeroAuthorizationCheckoutArgsWithoutReason:
      oneOf:
      - $ref: '#/components/schemas/ZeroAuthorizationCheckoutArgsNewCardWithoutReason'
      - $ref: '#/components/schemas/ZeroAuthorizationCheckoutArgsSavedCardWithoutReason'
      title: ZeroAuthorizationCheckoutArgsWithoutReason
    PayPalCheckoutResponse:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
      required:
      - paymentId
      title: PayPalCheckoutResponse
    SavedVenmoCheckoutArgsRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: SavedVenmoCheckoutArgsRentLamports
    GooglePayCheckoutArgsPaymentData:
      type: object
      properties:
        apiVersion:
          type: number
          format: double
          description: 'Major API version.


            This value will match what was set in

            [[PaymentDataRequest.apiVersion|`PaymentDataRequest.apiVersion`]].'
        apiVersionMinor:
          type: number
          format: double
          description: 'Minor API version.


            This value will match what was set in

            [[PaymentDataRequest.apiVersionMinor|`PaymentDataRequest.apiVersionMinor`]].'
        email:
          type: string
          description: 'The buyer''s email.


            This value will only be set if

            [[PaymentDataRequest.emailRequired|`PaymentDataRequest.emailRequired`]]

            was set to `true`.'
        shippingAddress:
          $ref: '#/components/schemas/google.payments.api.Address'
        paymentMethodData:
          $ref: '#/components/schemas/google.payments.api.PaymentMethodData'
        offerData:
          $ref: '#/components/schemas/google.payments.api.OfferData'
        shippingOptionData:
          $ref: '#/components/schemas/google.payments.api.SelectionOptionData'
        bin:
          type: string
      required:
      - apiVersion
      - apiVersionMinor
      - paymentMethodData
      description: 'Payment data.


        Contains the payment data requested in

        [[PaymentDataRequest|`PaymentDataRequest`]]'
      title: GooglePayCheckoutArgsPaymentData
    Verification:
      type: object
      properties:
        reference:
          type: string
        status:
          $ref: '#/components/schemas/VerificationStatus'
        vendor:
          $ref: '#/components/schemas/VerificationVendor'
        name:
          type: string
        attested:
          type: boolean
        shareToken:
          type: string
        shareTokenStatus:
          type: string
        sessionToken:
          type: string
      required:
      - reference
      - status
      - vendor
      title: Verification
    ApaCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/ApaCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: ApaCheckoutArgsRent
    USWirePaymentDetails:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        account_number:
          type: string
          description: The bank account number that funds should be directed to.
        wireRoutingNumber:
          type: string
          description: The wire routing number that funds should be directed to.
        paymentId:
          type: string
        recipientName:
          type: string
        memo:
          type: string
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        expires:
          type: string
      required:
      - address
      - account_number
      - wireRoutingNumber
      - paymentId
      - recipientName
      - memo
      - amount
      - expires
      title: USWirePaymentDetails
    CustomPayInFeeValue:
      oneOf:
      - $ref: '#/components/schemas/CustomPayInFeeValue0'
      - $ref: '#/components/schemas/CustomPayInFeeValue1'
      title: CustomPayInFeeValue
    GooglePayCheckoutArgs:
      type: object
      properties:
        subtotal:
          $ref: '#/components/schemas/Subtotal'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        chargebackProtectionData:
          $ref: '#/components/schemas/CartClassOmitted'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        rent:
          $ref: '#/components/schemas/GooglePayCheckoutArgsRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        redemptionCheck:
          type: boolean
          description: (Solana only) If a transaction involved in the purchase, should payment be checked for redemption
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
        authOnly:
          type: boolean
          description: 'Only authorize the purchase. This will not actually capture the payment.(default: false)'
        feePercentage:
          type: number
          format: double
          description: 'If this purchase is for a seller/submerchant where the marketplace takes a fee, this is the % fee which is

            taken from the subtotal amount.'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        jwtToken:
          type: string
          description: 'This is a token encoding the parameters for the request. Allows purchase parameters to be verified

            to prevent manipulation when the checkout page is presented to the user.'
        threeDsChallengePreference:
          $ref: '#/components/schemas/ThreeDsChallengePreference'
        destinationAuthKey:
          type: string
          description: 'If utilizing USDC settlement to addresses other than your main merchant

            settlement address. Utilize this destinationAuthKey which is a JWT encoded

            with the information for which address to send the USDC to.'
        customerUsdcTransferData:
          $ref: '#/components/schemas/CustomerUsdcTransferData'
        customerUsdcTransferDataV2:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2'
        stellarTransaction:
          type: string
          description: '(Stellar only) Base64 XDR transaction string for executing a merchant contract call on a successful purchase.


            For transaction purchases, pass the base64 XDR string created using `.toXDR()` on a transaction

            built with generated TypeScript bindings (e.g., `NftClientWrapper.buildNftPurchaseTx`).


            For direct USDC transfers (no merchant transaction), omit this field or pass undefined.


            Gas fees for the transaction will be automatically calculated and added to the total charged to the customer.'
        userLocation:
          $ref: '#/components/schemas/IUserLocation'
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        overrideChargebackProtectionDecision:
          type: boolean
        doNotReviewChargebackProtection:
          type: boolean
        authentication3DS:
          $ref: '#/components/schemas/Authentication3DS'
        chargebackProtectionAccountType:
          $ref: '#/components/schemas/ChargebackProtectionAccountType'
        presentment:
          $ref: '#/components/schemas/Currency'
        accountFundingTransaction:
          $ref: '#/components/schemas/AccountFundingTransaction'
        statementDescriptor:
          type: string
          description: 'If the bank supports dynamic descriptors, this will appear on the customer''s

            statement.'
        paymentData:
          $ref: '#/components/schemas/GooglePayCheckoutArgsPaymentData'
      required:
      - subtotal
      - paymentData
      title: GooglePayCheckoutArgs
    GetUsdcAuthorizationResponseMessageData:
      type: object
      properties:
        nonce:
          type: string
        validBefore:
          type: string
        validAfter:
          type: string
        value:
          type: string
        to:
          type: string
        from:
          type: string
      required:
      - nonce
      - validBefore
      - validAfter
      - value
      - to
      - from
      description: Structured message data for transparency
      title: GetUsdcAuthorizationResponseMessageData
    GetUsdcAuthorizationBody:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Cents'
        paymentId:
          type: string
          description: Optional payment ID for generating unique nonce
      required:
      - amount
      description: Request body for getting USDC authorization message
      title: GetUsdcAuthorizationBody
    CheckoutCapturePostResponsesContentApplicationJsonSchemaJobId:
      oneOf:
      - type: number
        format: double
      - type: string
      title: CheckoutCapturePostResponsesContentApplicationJsonSchemaJobId
    TokenSubtotalAmount:
      oneOf:
      - type: number
        format: double
      - type: string
      description: Number of tokens
      title: TokenSubtotalAmount
    Partial_Record_PaymentMethods.FeeOption-Array-or-FeeDetail-or-CurrencyCents__:
      type: object
      properties:
        card:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard'
        ach:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsAch'
        fasterPayments:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsFasterPayments'
        sepa:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsSepa'
        pix:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix'
        usdc:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsUsdc'
        googlePay:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsGooglePay'
        applePay:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsApplePay'
        credits:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCredits'
        crypto:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCrypto'
        wire:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire'
        cashApp:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCashApp'
        apa:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsApa'
        paypal:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPaypal'
        venmo:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsVenmo'
        interac:
          $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsInterac'
      description: Make all properties in T optional
      title: Partial_Record_PaymentMethods.FeeOption-Array-or-FeeDetail-or-CurrencyCents__
    NewVenmoCheckoutArgsVenmo1:
      type: object
      properties:
        phoneNumber:
          $ref: '#/components/schemas/NewVenmoCheckoutArgsVenmoOneOf1PhoneNumber'
      required:
      - phoneNumber
      title: NewVenmoCheckoutArgsVenmo1
    ZeroAuthVerifyCard:
      type: object
      properties:
        cardToken:
          type: string
      required:
      - cardToken
      description: 'Configuration for zero authorization flow - verify existing card mode.

        Shows the "Verify Card" flow for a specific saved card.

        The card token will be validated to ensure it belongs to the current user''s wallet.

        If the card doesn''t belong to the user, falls back to "Add New Card" view.'
      title: ZeroAuthVerifyCard
    CartItemClassOmitted:
      oneOf:
      - $ref: '#/components/schemas/Pick_nftCartItem.Exclude_keyofnftCartItem.sellingPrice-or-itemClass__'
      - $ref: '#/components/schemas/Pick_GiftCardCartItem.Exclude_keyofGiftCardCartItem.listPrice__'
      - $ref: '#/components/schemas/CryptoCartItem'
      - $ref: '#/components/schemas/MoneyTopUpCartItem'
      title: CartItemClassOmitted
    GooglePayCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/GooglePayCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: GooglePayCheckoutArgsRent
    ReturnedTokenIdRedeem:
      type: object
      properties:
        waitForHash:
          type: boolean
          description: 'Whether the UI should wait

            for the transaction to be sent and

            the hash to be returned.'
        transaction:
          $ref: '#/components/schemas/ReturnedTokenIdRedeemTransaction'
          description: Transaction to be called.
        type:
          $ref: '#/components/schemas/ReturnedTokenIdRedeemType'
        nftContract:
          type: string
      required:
      - transaction
      - type
      description: '(EVM only) If your contract returns the NFT ID, then utilize this object.


        The contract mints the NFT to msg.sender (which is the Coinflow contract), the Coinflow contract picks up the returned NFT ID, and fwd''s the NFT to the end user''s wallet.'
      title: ReturnedTokenIdRedeem
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire1:
      type: array
      items:
        $ref: '#/components/schemas/FeeOption'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire1
    CardOnFileCheckoutArgsWithTokenRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CardOnFileCheckoutArgsWithTokenRentLamports
    GooglePayCheckoutArgsRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: GooglePayCheckoutArgsRentLamports
    DecryptedApplePayToken:
      type: object
      properties:
        applicationPrimaryAccountNumber:
          type: string
        applicationExpirationDate:
          type: string
        currencyCode:
          type: string
        transactionAmount:
          type: number
          format: double
        deviceManufacturerIdentifier:
          type: string
        paymentDataType:
          type: string
        paymentData:
          $ref: '#/components/schemas/PaymentData'
      required:
      - applicationPrimaryAccountNumber
      - applicationExpirationDate
      - currencyCode
      - transactionAmount
      - deviceManufacturerIdentifier
      - paymentDataType
      - paymentData
      title: DecryptedApplePayToken
    CardCheckoutResponse:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
        authorizationExpiration:
          type: string
          description: 'The datetime when this authorization expires and subsequent card-on-file

            or merchant-initiated transactions can no longer be made. After this time,

            the card must be re-authorized via another CIT transaction.

            Only present when card-on-file or MIT settings are enabled on the merchant.'
      required:
      - paymentId
      title: CardCheckoutResponse
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard1:
      type: array
      items:
        $ref: '#/components/schemas/FeeOption'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard1
    Pick_nftCartItem.Exclude_keyofnftCartItem.sellingPrice-or-itemClass__:
      type: object
      properties:
        productName:
          type: string
          description: The name of the related product
        productType:
          $ref: '#/components/schemas/productType'
        listPrice:
          $ref: '#/components/schemas/PickNftCartItemExcludeKeyofnftCartItemSellingPriceOrItemClassListPrice'
          description: The item's list price
        quantity:
          type: number
          format: double
          description: The number of units sold
        rawProductData:
          $ref: '#/components/schemas/AnyObject'
        seller:
          $ref: '#/components/schemas/SellerInfo'
        transactionHistory:
          type: array
          items:
            $ref: '#/components/schemas/TransactionHistoryItem'
      required:
      - productName
      - productType
      - quantity
      description: From T, pick a set of properties whose keys are in the union K
      title: Pick_nftCartItem.Exclude_keyofnftCartItem.sellingPrice-or-itemClass__
    CardDataWithoutAddress:
      type: object
      properties:
        cardToken:
          type: string
          description: This is the card token received from the `CoinflowCardNumberInput`
        expYear:
          type: string
          description: 'The Cards Expiration Year ex: 2026 => 26'
        expMonth:
          type: string
          description: 'The Cards Expiration Month ex: January => 01 December => 12'
        additionalVendorData:
          $ref: '#/components/schemas/CardDataWithoutAddressAdditionalVendorData'
          description: 'Optional non-PCI passthrough fields merged into the stored card vendorData.

            Base type is empty; tokenization providers extend it with their own fields.'
        email:
          type: string
        businessName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
      - cardToken
      - expYear
      - expMonth
      - email
      - firstName
      - lastName
      title: CardDataWithoutAddress
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire:
      oneOf:
      - $ref: '#/components/schemas/CurrencyCents'
      - $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire1'
      - $ref: '#/components/schemas/FeeDetail'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsWire
    PaymentData:
      type: object
      properties:
        onlinePaymentCryptogram:
          type: string
        eciIndicator:
          type: string
      required:
      - onlinePaymentCryptogram
      title: PaymentData
    ApaCheckoutArgs:
      type: object
      properties:
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        feePercentage:
          type: number
          format: double
          description: 'If this purchase is for a seller/submerchant where the marketplace takes a fee, this is the % fee which is

            taken from the subtotal amount.'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        subtotal:
          $ref: '#/components/schemas/Subtotal'
        jwtToken:
          type: string
          description: 'This is a token encoding the parameters for the request. Allows purchase parameters to be verified

            to prevent manipulation when the checkout page is presented to the user.'
        rent:
          $ref: '#/components/schemas/ApaCheckoutArgsRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
        stellarTransaction:
          type: string
          description: '(Stellar only) Base64 XDR transaction string for executing a merchant contract call on a successful purchase.


            For transaction purchases, pass the base64 XDR string created using `.toXDR()` on a transaction

            built with generated TypeScript bindings (e.g., `NftClientWrapper.buildNftPurchaseTx`).


            For direct USDC transfers (no merchant transaction), omit this field or pass undefined.


            Gas fees for the transaction will be automatically calculated and added to the total charged to the customer.'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        destinationAuthKey:
          type: string
          description: 'If utilizing USDC settlement to addresses other than your main merchant

            settlement address. Utilize this destinationAuthKey which is a JWT encoded

            with the information for which address to send the USDC to.'
        customerUsdcTransferDataV2:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2'
        userLocation:
          $ref: '#/components/schemas/IUserLocation'
        overrideChargebackProtectionDecision:
          type: boolean
        doNotReviewChargebackProtection:
          type: boolean
        credentialType:
          $ref: '#/components/schemas/Exclude_ApaCredentialType.ApaCredentialType.PAN_'
        credentialValue:
          type: string
          description: Lowercased email or E.164-formatted phone number, matching credentialType.
        email:
          type: string
          description: 'Email for new customers paying with a phone APA credential. Not needed

            when credentialType is EMAIL (credentialValue is used as the email).'
      required:
      - subtotal
      - credentialType
      - credentialValue
      title: ApaCheckoutArgs
    NewVenmoCheckoutArgsVenmo:
      oneOf:
      - $ref: '#/components/schemas/NewVenmoCheckoutArgsVenmo0'
      - $ref: '#/components/schemas/NewVenmoCheckoutArgsVenmo1'
      description: The email or phone number tied to the Venmo account
      title: NewVenmoCheckoutArgsVenmo
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard:
      oneOf:
      - $ref: '#/components/schemas/CurrencyCents'
      - $ref: '#/components/schemas/PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard1'
      - $ref: '#/components/schemas/FeeDetail'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsCard
    google.payments.api.PaymentMethodData:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/google.payments.api.PaymentMethodType'
        info:
          $ref: '#/components/schemas/google.payments.api.CardInfo'
        description:
          type: string
          description: 'User-facing message to describe the payment method funding this

            transaction.


            You are required to show this message to the buyer as confirmation of

            their funding source. Please refer to the

            [documentation](https://developers.google.com/pay/api/|documentation)

            for more information.


            **IMPORTANT:** Do not attempt to parse the contents of this string as

            the format, contents, and length may change at any time. If you need

            additional details, see

            [[PaymentMethodData.info|`PaymentMethodData.info`]].'
        tokenizationData:
          $ref: '#/components/schemas/google.payments.api.PaymentMethodTokenizationData'
      required:
      - type
      - tokenizationData
      description: Data for a payment method.
      title: google.payments.api.PaymentMethodData
    CapturePaymentRequest:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
        subtotal:
          $ref: '#/components/schemas/Subtotal'
        rent:
          $ref: '#/components/schemas/CapturePaymentRequestRent'
          description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
        transactionData:
          $ref: '#/components/schemas/EvmTransactionData'
      required:
      - paymentId
      - subtotal
      description: From T, pick a set of properties whose keys are in the union K
      title: CapturePaymentRequest
    NewVenmoCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/NewVenmoCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: NewVenmoCheckoutArgsRent
    DecentRedeemCost:
      type: object
      properties:
        isNative:
          type: boolean
          description: 'Whether or not the token is the native token for the chain (ex: Ethereum - ETH, Polygon - POL).

            If native dstToken should be the 0 address (0x00...)'
        amount:
          type: string
          description: 'This is the raw amount of the token

            ex: 50000000000000n'
      required:
      - isNative
      - amount
      description: Amount of the token on the destination chain you will be receiving
      title: DecentRedeemCost
    NewIbanCheckoutArgsRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/NewIbanCheckoutArgsRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: NewIbanCheckoutArgsRent
    CardDataAdditionalVendorData:
      type: object
      properties: {}
      description: 'Optional non-PCI passthrough fields merged into the stored card vendorData.

        Base type is empty; tokenization providers extend it with their own fields.'
      title: CardDataAdditionalVendorData
    GetTotalsBodyRent:
      type: object
      properties:
        lamports:
          $ref: '#/components/schemas/GetTotalsBodyRentLamports'
      required:
      - lamports
      description: (Solana only) if your transaction requires a known amount of Rent to be paid, you can pass it here.
      title: GetTotalsBodyRent
    VenmoCheckoutResponse:
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of the payment that was created.
      required:
      - paymentId
      title: VenmoCheckoutResponse
    CashAppCheckoutArgsRentLamports:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CashAppCheckoutArgsRentLamports
    PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix1:
      type: array
      items:
        $ref: '#/components/schemas/FeeOption'
      title: PartialRecordPaymentMethodsFeeOptionArrayOrFeeDetailOrCurrencyCentsPix1
    CoinflowBlockchain:
      type: string
      enum:
      - solana
      - eth
[...]
