openapi: 3.1.0
info:
  title: API Reference authentication merchant API
  version: 1.0.0
servers:
- url: https://api-sandbox.coinflow.cash/api
  description: https://api-sandbox.coinflow.cash/api
tags:
- name: merchant
paths:
  /withdraw/crypto-deposit-address/activate:
    post:
      operationId: activate-passive-deposit-address
      summary: Activate Passive Deposit Address
      description: 'Activate a passive deposit address so it accepts new payments. If a deposit

        address already exists for this merchant + withdrawer + chain + token, that

        address is re-activated and returned. Otherwise a new session is created

        and its address is activated.'
      tags:
      - merchant
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassiveDepositAddressStatusResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoWithdrawBody'
  /merchant/block-seller:
    put:
      operationId: block-marketplace-seller
      summary: Bans a seller
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockSellerRequest'
  /merchant/blocked/{customerId}:
    put:
      operationId: unblock-account
      summary: Block or Unblock Customer
      tags:
      - merchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantId:
                  type: string
                reason:
                  type: string
                status:
                  $ref: '#/components/schemas/AvailabilityStatus'
              required:
              - reason
  /merchant/block-withdrawer/{withdrawerId}:
    put:
      operationId: block-or-unblock-withdrawer
      summary: Block or Unblock Withdrawer
      tags:
      - merchant
      parameters:
      - name: withdrawerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blockchain:
                  $ref: '#/components/schemas/Blockchain'
                reason:
                  type: string
                status:
                  $ref: '#/components/schemas/AvailabilityStatus'
              required:
              - reason
              - status
  /merchant/{customerId}/exempt3DS:
    put:
      operationId: update-3-ds-exemption
      summary: Configure 3DS exemption
      description: Change customer 3DS exemption status
      tags:
      - merchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantId:
                  type: string
                exempt:
                  type: boolean
              required:
              - exempt
  /merchant/{customerId}/attemptLimit:
    put:
      operationId: update-attempt-limit-setting
      summary: Configure attempt limit setting
      description: Change customer attempt limit setting
      tags:
      - merchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantId:
                  type: string
                setting:
                  $ref: '#/components/schemas/FailedAttemptSetting'
              required:
              - setting
  /merchant/chargebacks/{paymentId}/respond:
    post:
      operationId: respond
      summary: Create Chargeback Response
      description: Respond to a chargeback. This will send the response to the card network.
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Merchant_Respond_Request'
  /withdraw/crypto-deposit-address:
    post:
      operationId: create-crypto-withdraw-deposit
      summary: Create Crypto Withdraw Deposit
      description: 'Create a crypto deposit session for a payout. Returns a deposit address where

        the merchant can send funds. Once funds are received via the deposit webhook,

        the payout is automatically initiated.'
      tags:
      - merchant
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWithdrawDepositResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoWithdrawBody'
    get:
      operationId: get-supported-chains
      summary: Get Supported Chains
      description: Get the list of supported chains and tokens for crypto deposit withdrawals.
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSupportedChainsResponse'
  /merchant/exports:
    post:
      operationId: create-export
      summary: Create Export
      description: Create a new export job
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IExport'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExportRequest'
    get:
      operationId: list-exports
      summary: List Exports
      description: List all exports for the merchant
      tags:
      - merchant
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: limit
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IExport'
  /withdraw/crypto-deposit-address/deactivate:
    post:
      operationId: deactivate-passive-deposit-address
      summary: Deactivate Passive Deposit Address
      description: Deactivate (pause) a passive deposit address so it stops accepting new payments.
      tags:
      - merchant
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassiveDepositAddressStatusResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassiveDepositAddressBody'
  /merchant/exports/{exportId}:
    delete:
      operationId: delete-export
      summary: Delete Export
      description: Delete an export
      tags:
      - merchant
      parameters:
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
    get:
      operationId: get-export
      summary: Get Export
      description: Get a specific export by ID
      tags:
      - merchant
      parameters:
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IExport'
  /merchant:
    put:
      operationId: edit-merchant
      summary: Edit Merchant
      description: Edit the merchant details
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IMerchant_string_'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customerDefaultOverrideLimit:
                  $ref: '#/components/schemas/Cents'
                fraudEmails:
                  type: array
                  items:
                    type: string
                chargebackEmails:
                  type: array
                  items:
                    type: string
                billingEmails:
                  type: array
                  items:
                    type: string
                settlementAddresses:
                  $ref: '#/components/schemas/MerchantPutRequestBodyContentApplicationJsonSchemaSettlementAddresses'
                brand:
                  $ref: '#/components/schemas/MerchantBrandSettings'
                enforceJwt:
                  type: boolean
                cryptoPayinSettings:
                  $ref: '#/components/schemas/Pick_CryptoPayInSettings.customerEmailNotifications-or-merchantEmailNotifications_'
                achSettings:
                  $ref: '#/components/schemas/Pick_ACHSettings.customerEmailNotifications-or-merchantEmailNotifications_'
                cardSettings:
                  $ref: '#/components/schemas/Pick_CardSettings.customerEmailNotifications-or-merchantEmailNotifications_'
                webhookSettings:
                  $ref: '#/components/schemas/Pick_WebhookSettings.Exclude_keyofWebhookSettings.webhookUrls__'
                colors:
                  $ref: '#/components/schemas/MerchantTheme'
                password:
                  type: string
    get:
      operationId: get-merchant
      summary: Get Merchant
      description: Get the merchant
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IMerchant_string_'
  /merchant/payments/{paymentId}/fail:
    put:
      operationId: fail-payment
      summary: Fail Payment
      description: '-- This method is for test environment only --

        Force an ACH, Wire, Iban, CashApp or PIX payment to fail'
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /merchant/chargebacks:
    get:
      operationId: get-all-chargebacks
      summary: Get all chargebacks
      tags:
      - merchant
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: page
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: responded
        in: query
        required: false
        schema:
          type: boolean
      - name: discrepancy
        in: query
        required: false
        schema:
          type: boolean
      - name: processor
        in: query
        required: false
        schema:
          type: string
      - name: protection
        in: query
        required: false
        schema:
          type: string
      - name: threeDSecure
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: reasonCode
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllChargebackResponse'
  /merchant/payments:
    get:
      operationId: get-all-payments
      summary: Get All Payments
      tags:
      - merchant
      parameters:
      - name: since
        in: query
        description: '- UTC epoch milliseconds of the earliest date to include in the results'
        required: false
        schema:
          type: string
      - name: until
        in: query
        description: '- UTC epoch milliseconds of the latest date to include in the results'
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: '- Page number to return starting from 1. Must be used with limit param.'
        required: false
        schema:
          type: number
          format: double
      - name: limit
        in: query
        description: '- amount of records per page (def. 100). Must be used with page param.'
        required: false
        schema:
          type: number
          format: double
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MerchantPaymentsGetParametersSortBy'
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: method
        in: query
        required: false
        schema:
          type: string
      - name: protection
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: amount
        in: query
        required: false
        schema:
          type: string
      - name: authCode
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IPayment'
  /merchant/chargebacks/{paymentId}:
    get:
      operationId: get-chargeback
      summary: Get chargeback data
      description: Get information about a Chargeback for a payment
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetChargeback_Response_200'
  /merchant/chargebacks/{paymentId}/draft:
    get:
      operationId: get-chargeback-response-draft
      summary: Get Chargeback Response Draft
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: string
    put:
      operationId: save-draft-and-notes
      summary: Save Chargeback Response Draft
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                draft:
                  type: string
  /merchant/chargebacks/rate:
    get:
      operationId: get-chargeback-stats
      summary: Get chargeback stats for time frame
      tags:
      - merchant
      parameters:
      - name: since
        in: query
        description: -- YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: until
        in: query
        description: -- YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargebackStats'
  /merchant/withdraws/payout/balance:
    get:
      operationId: get-payout-balance
      summary: Get Coinflow Wallet Balance
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetPayoutBalance_Response_200'
  /merchant/customers:
    get:
      operationId: get-customer-accounts
      summary: Get customer list
      description: List customers for a merchant
      tags:
      - merchant
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: page
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: blocked
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MerchantCustomersGetParametersSortBy'
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: protection
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ICustomerWallet'
  /merchant/withdraws/payout/delegated/quote:
    post:
      operationId: get-delegated-payout-quote
      summary: Get Delegated Payout Quote
      description: 'Get a quote for a delegated payout including the fee breakdown.

        Shows the total amount that will be debited from the merchant''s wallet,

        the amount the user will receive, and the merchant fees.'
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatedPayoutQuote'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegatedPayoutQuoteArgs'
  /merchant/payments/enhanced/{paymentId}:
    get:
      operationId: get-enhanced-tx-information
      summary: Get Enhanced Transaction Information
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetEnhancedTxInformation_Response_200'
  /merchant/exports/{exportId}/download:
    get:
      operationId: get-export-download-url
      summary: Get Export Download URL
      description: Get a signed download URL for a completed export
      tags:
      - merchant
      parameters:
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDownloadResponse'
  /merchant/credits/status/{jobId}:
    get:
      operationId: get-job-status
      summary: Get Job Status
      description: Get the status of a mint or burn job
      tags:
      - merchant
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          description: Any type
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
  /merchant/v2:
    get:
      operationId: get-merchant-v-2
      summary: Get Merchant
      description: Get the merchant
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetMerchantV2_Response_200'
  /merchant/payments/{paymentId}:
    get:
      operationId: get-payment-by-id
      summary: Get Payment By ID
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        description: '- ID of the payment to retrieve'
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPayment'
  /merchant/webhooks:
    get:
      operationId: get-all-webhooks
      summary: Get Payment Webhook Activity
      tags:
      - merchant
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: limit
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: responseCode
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: Search by numeric responseCode
        required: false
        schema:
          type: string
      - name: eventType
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter by sentAt >= startDate (ISO 8601)
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: Filter by sentAt <= endDate (ISO 8601)
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: Search by transaction Id
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookDisplay'
  /merchant/payments/ach-returns:
    get:
      operationId: get-ach-returns
      summary: Get Returned ACH Payments
      tags:
      - merchant
      parameters:
      - name: since
        in: query
        description: '- UTC ISO String of the earliest date to include in the results'
        required: false
        schema:
          type: string
      - name: until
        in: query
        description: '- UTC ISO String of the latest date to include in the results'
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: '- Number of results to return per page (MAX 1000)'
        required: false
        schema:
          type: number
          format: double
      - name: page
        in: query
        description: '- Page number to return'
        required: false
        schema:
          type: number
          format: double
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MerchantPaymentsAchReturnsGetParametersSortBy'
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: protection
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IPayment'
  /merchant/submerchants:
    get:
      operationId: get-submerchants-for-merchant
      summary: Get Submerchants under Merchant
      description: Get submerchant Ids for a merchant
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /merchant/url-whitelist-requests:
    get:
      operationId: get-url-whitelist-requests
      summary: Get URL Whitelist Requests
      description: Get all whitelist requests for the current merchant
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetUrlWhitelistRequests_Response_200'
  /merchant/withdraws/{withdrawalId}:
    get:
      operationId: get-withdrawal
      summary: Get Withdrawal
      description: "Get a specific withdrawal associated with the merchant\n  The withdrawal can be specified by transfer id or transaction"
      tags:
      - merchant
      parameters:
      - name: withdrawalId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_GetWithdrawal_Response_200'
        '404':
          description: Withdrawal not found
          content:
            application/json:
              schema:
                description: Any type
  /merchant/withdraws:
    get:
      operationId: get-all-withdraws
      summary: Get Withdraws
      description: Get All Withdraws associated with the merchant
      tags:
      - merchant
      parameters:
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/MerchantWithdrawsGetParametersSortBy'
      - name: sortDirection
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: speed
        in: query
        required: false
        schema:
          type: string
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WithdrawWithDescriptiveStatus'
  /merchant/withdrawers:
    get:
      operationId: get-withdrawers
      summary: Gets merchant withdrawers
      tags:
      - merchant
      parameters:
      - name: blocked
        in: query
        description: Filter on blocked status (boolean string - 'true' or 'false')
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: Search term to filter results
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IWithdrawer'
  /withdraw/crypto-deposit-address/passive:
    get:
      operationId: list-passive-deposit-addresses
      summary: List Passive Deposit Addresses
      description: 'List passive deposit addresses (active and paused) belonging to the

        authenticated merchant + withdrawer. Sessions that were never activated

        as passive are excluded.'
      tags:
      - merchant
      parameters:
      - name: x-coinflow-auth-user-id
        in: header
        description: The external identifier of the end user - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassiveDepositAddressListResponse'
  /merchant/credits/mint:
    post:
      operationId: mint-credits
      summary: Mint Credits
      description: Mint Credits from your Merchant's Coinflow USDC wallet to a users wallet
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_MintCredits_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditOperation'
  /merchant/{customerId}/protection:
    put:
      operationId: override-chargeback-protection
      summary: Override Chargeback Protection
      description: Override the chargeback protection setting to false
      tags:
      - merchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantId:
                  type: string
                protectionEnabled:
                  type: boolean
              required:
              - protectionEnabled
  /merchant/withdraws/payout/delegated:
    post:
      operationId: payout-from-delegated-settlement-wallet
      summary: Payout to a user via Coinflow Wallet
      description: 'Payout a user from the coinflow wallet balance.

        By default, this endpoint waits for transaction confirmation before returning.

        Set waitForConfirmation to false to return immediately after queuing the transaction.'
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatedPayoutResponse'
        '402':
          description: Insufficient Funds
          content:
            application/json:
              schema:
                description: Any type
        '451':
          description: User Must Complete Additional Verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutFromDelegatedSettlementWalletRequestUnavailableForLegalReasonsError'
        '503':
          description: Payout encountered a temporary issue and needs to be retried, please immediately retry the request.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutDelegatedArgs'
  /merchant/withdraws/payout:
    post:
      operationId: do-payout
      summary: Payout to a user via Merchant Self-Custodial Wallet
      description: 'Get a transaction which will payout a user''s account upon successful sending

        of the transaction.'
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWithdrawTransactionResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserWithdrawTransactionParams'
  /merchant/payments/{paymentId}/refund:
    put:
      operationId: refund-payment
      summary: Refund Payment
      description: 'Refunds a payment. First will check if the users wallet has credits to refund the payment. If so, will take the

        credits from the users wallet and refund the payment. Otherwise, will transfer USDC from the merchants wallet to

        Coinflow''s wallet and refund the payment.The amount of USDC transferred will the total amount of the payment +

        credit card fees + gas fees.'
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        description: '- ID of the payment to refund'
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_RefundPayment_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destinationWallet:
                  type: string
                partialAmount:
                  $ref: '#/components/schemas/Cents'
                refundReason:
                  $ref: '#/components/schemas/RefundReason'
              required:
              - refundReason
  /merchant/program:
    post:
      operationId: request-program-approval
      summary: Request Program Approval
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blockchain:
                  $ref: '#/components/schemas/Blockchain'
                programId:
                  type: string
              required:
              - blockchain
              - programId
  /merchant/url-whitelist-request:
    post:
      operationId: request-url-whitelist
      summary: Request URL Whitelisting
      description: 'Request to whitelist a URL for embedding the checkout form.

        The request will be placed in a pending state for compliance review.'
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                url:
                  type: string
              required:
              - url
  /merchant/webhooks/{webhookLogId}:
    post:
      operationId: resend-webhook
      summary: Resend Payment Webhook
      tags:
      - merchant
      parameters:
      - name: webhookLogId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_ResendWebhook_Response_200'
        '403':
          description: Not authorized to resend webhook
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                description: Any type
  /merchant/url-whitelist:
    delete:
      operationId: revoke-url-whitelist
      summary: Revoke URL Whitelist
      description: Revokes a URLs whitelist for use in the checkout iframe
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
              required:
              - url
  /merchant/{customerId}/override-limit:
    put:
      operationId: set-customer-override-limit
      summary: Set Customer Override Limit
      description: Set Customer Override Limit
      tags:
      - merchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        description: 'Send `customerOverrideLimit: null` to clear the per-customer

          override and fall back to the merchant default. Sending `{cents: 0}`

          preserves the explicit "no overrides allowed" state.'
        content:
          application/json:
            schema:
              type: object
              properties:
                merchantId:
                  type: string
                customerOverrideLimit:
                  oneOf:
                  - $ref: '#/components/schemas/Cents'
                  - type: 'null'
              required:
              - customerOverrideLimit
  /merchant/settlement-address:
    post:
      operationId: set-settlement-address
      summary: Set Settlement Address
      description: 'Set the blockchain account information which will be used for settlement. Only call this if you want the money processed

        from credit card transactions to be sent to directly as USDC to a company owned blockchain address.'
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IMerchant_string_'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                blockchain:
                  $ref: '#/components/schemas/Blockchain'
              required:
              - address
              - blockchain
  /merchant/payments/{paymentId}/settle:
    put:
      operationId: settle-payment
      summary: Settle Payment
      description: '-- This method is for test environment only --

        Force an ACH, Wire, Iban, CashApp or PIX payment to settlement'
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant_SettlePayment_Response_200'
  /merchant/unverify-seller:
    put:
      operationId: unverify-seller
      summary: Unverify Seller
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                merchantId:
                  type: string
              required:
              - reason
              - merchantId
  /merchant/withdraws/custom-fees:
    put:
      operationId: update-custom-withdrawal-fees
      summary: Update Custom Withdrawal Fees
      description: Update custom withdrawal fees for a merchant
      tags:
      - merchant
      parameters:
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomWithdrawFeesConfig'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomWithdrawFeesConfig'
  /merchant/chargebacks/{paymentId}/ignore:
    put:
      operationId: update-chargeback-ignore-status
      summary: Update merchant ignore chargeback
      tags:
      - merchant
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The API key of the merchant - see https://docs.coinflow.cash/api-reference/api-reference/authentication/get-session-key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignore:
                  type: boolean
              required:
              - ignore
components:
  schemas:
    Pick_IIbanAccount.Exclude_keyofIIbanAccount.vendorData__:
      type: object
      properties:
        last4:
          type: string
        accountHash:
          type: string
        alias:
          type: string
        token:
          type: string
        reference:
          type: string
        sortCode:
          type: string
        bic:
          type: string
      required:
      - last4
      - accountHash
      - alias
      - token
      - reference
      - sortCode
      description: From T, pick a set of properties whose keys are in the union K
      title: Pick_IIbanAccount.Exclude_keyofIIbanAccount.vendorData__
    Blockchain.ETH:
      type: string
      enum:
      - eth
      title: Blockchain.ETH
    WithdrawWebhookData:
      type: object
      properties:
        wallet:
          type: string
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        signature:
          type: string
        userFees:
          $ref: '#/components/schemas/CurrencyCents'
        userGasFees:
          $ref: '#/components/schemas/CurrencyCents'
        userCustomFees:
          $ref: '#/components/schemas/CurrencyCents'
        userSwapFees:
          $ref: '#/components/schemas/CurrencyCents'
        merchantFees:
          $ref: '#/components/schemas/CurrencyCents'
        merchantGasFees:
          $ref: '#/components/schemas/CurrencyCents'
        merchantSwapFees:
          $ref: '#/components/schemas/CurrencyCents'
        total:
          $ref: '#/components/schemas/CurrencyCents'
        currency:
          $ref: '#/components/schemas/Currency'
        merchantId:
          type: string
        userId:
          type: string
          description: 'If you use the `x-coinflow-user-id` header, this will be set to the value of that header.

            Otherwise, it will use the wallet address if available'
        idempotencyKey:
          type: string
      required:
      - wallet
      - blockchain
      - signature
      - userFees
      - userGasFees
      - userCustomFees
      - merchantFees
      - merchantGasFees
      - total
      - currency
      - merchantId
      title: WithdrawWebhookData
    Blockchain.STELLAR:
      type: string
      enum:
      - stellar
      title: Blockchain.STELLAR
    SettlementLocations:
      type: string
      enum:
      - circle
      - brale
      - paper
      - brale_youpay
      - bastion
      title: SettlementLocations
    ApplePayIntegratorRegistration:
      type: object
      properties:
        domainNames:
          type: array
          items:
            type: string
        partnerMerchantName:
          type: string
        partnerMerchantValidationURI:
          type: string
        partnerInternalMerchantIdentifier:
          type: string
      required:
      - domainNames
      - partnerMerchantName
      - partnerMerchantValidationURI
      - partnerInternalMerchantIdentifier
      title: ApplePayIntegratorRegistration
    NameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        name:
          type: string
      title: NameCustomerInfo
    Merchant_SettlePayment_Response_200:
      oneOf:
      - type: number
        format: double
      - type: string
      - description: Any type
      title: Merchant_SettlePayment_Response_200
    IVenmoPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/VenmoPaymentStatus'
        processor:
          $ref: '#/components/schemas/VenmoProcessor'
        token:
          type: string
        authOnly:
          type: boolean
        transaction:
          type: string
        capturePending:
          type: boolean
        sandboxSimulations:
          $ref: '#/components/schemas/IVenmoPaymentInfoSandboxSimulations'
      required:
      - status
      - processor
      - token
      title: IVenmoPaymentInfo
    CrbMerchantSettings:
      type: object
      properties:
        customerId:
          type: string
        cifNumber:
          type: string
        subledgerAccountNumber:
          type: string
        environment:
          $ref: '#/components/schemas/CrbEnvironment'
      required:
      - customerId
      description: 'The merchant''s CRB banking identity. CRB is onboarded manually in CRB''s

        dashboard — these values are pasted into our merchant dashboard and

        verified live against CRB before being persisted.'
      title: CrbMerchantSettings
    IMerchantUser:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        scope:
          $ref: '#/components/schemas/MerchantScope'
        secret:
          type: string
        resetNonce:
          type: string
        resetNonceUsed:
          type: boolean
        ssoProvider:
          $ref: '#/components/schemas/SsoProvider'
        ssoId:
          type: string
      required:
      - email
      - scope
      title: IMerchantUser
    ICustomerStringBlockConfigOverride:
      type: object
      properties:
        maxDistinctTokensPer30Days:
          type: number
          format: double
      description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
      title: ICustomerStringBlockConfigOverride
    PayoutProviderOption:
      type: string
      enum:
      - aptpay
      - coinfx
      - checkbook
      - BRAID
      - brale
      - mock
      title: PayoutProviderOption
    VenmoPaymentStatus:
      type: string
      enum:
      - INITIATED
      - AUTHORIZED
      - DEPOSITED
      - SETTLED
      - REFUNDED
      - FAILED
      - CHARGEBACK
      - CHARGEBACK_LOST
      - CHARGEBACK_WON
      - VOIDED
      title: VenmoPaymentStatus
    IMerchantStringRiskControls:
      type: object
      properties:
        topup:
          $ref: '#/components/schemas/TopupRiskControls'
      title: IMerchantStringRiskControls
    Blockchain.ARBITRUM:
      type: string
      enum:
      - arbitrum
      title: Blockchain.ARBITRUM
    ApaPaymentStatus:
      type: string
      enum:
      - INITIATED
      - APPROVED
      - DEPOSITED
      - SETTLED
      - FAILED
      - REFUNDED
      title: ApaPaymentStatus
    EftPayoutProvider:
      type: string
      enum:
      - checkbook
      - aptpay
      - mock
      title: EftPayoutProvider
    IPaymentSubscription:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ISubscription_string_'
      title: IPaymentSubscription
    OverrideMethod.CustomerOverride:
      type: string
      enum:
      - customer_override
      title: OverrideMethod.CustomerOverride
    CustomWithdrawFeesConfig:
      type: object
      properties:
        asap:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        same_day:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        standard:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        card:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        iban:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        pix:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        eft:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        venmo:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        paypal:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        wire:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        interac:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        global:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        lineItemLabel:
          type: string
        isBundled:
          type: boolean
      required:
      - global
      - lineItemLabel
      - isBundled
      description: Make all properties in T optional
      title: CustomWithdrawFeesConfig
    BlockedLevel:
      type: string
      enum:
      - Unverified
      - Suspended
      title: BlockedLevel
    ReserveStatus:
      type: string
      enum:
      - Disabled
      - Active
      - SweepFixed
      title: ReserveStatus
    Pick_IPayPal.Exclude_keyofIPayPal.vendorData__:
      type: object
      properties:
        isDeleted:
          type: boolean
        alias:
          type: string
        token:
          type: string
        type:
          $ref: '#/components/schemas/PickIPayPalExcludeKeyofIPayPalVendorDataType'
      required:
      - alias
      - token
      - type
      description: From T, pick a set of properties whose keys are in the union K
      title: Pick_IPayPal.Exclude_keyofIPayPal.vendorData__
    JobStatusResponseOneOf2Status:
      type: string
      enum:
      - failed
      title: JobStatusResponseOneOf2Status
    MerchantRfiRef:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: '#/components/schemas/RfiStatus'
        url:
          type: string
        assignmentFormId:
          type: string
      required:
      - name
      - status
      - url
      title: MerchantRfiRef
    CryptoPayinFundsReceivedWebhookData:
      type: object
      properties:
        paymentId:
          type: string
        sessionId:
          type: string
        depositAddress:
          type: string
        blockchainChainId:
          type: string
        blockchainName:
          type: string
        tokenSymbol:
          type: string
        customerId:
          type: string
        customerEmail:
          type: string
        amount:
          $ref: '#/components/schemas/Cents'
        merchantId:
          type: string
        transactionHash:
          type: string
        receivedAt:
          type: string
          format: date-time
      required:
      - paymentId
      - sessionId
      - depositAddress
      - blockchainChainId
      - blockchainName
      - tokenSymbol
      - customerId
      - customerEmail
      - amount
      - merchantId
      - transactionHash
      - receivedAt
      title: CryptoPayinFundsReceivedWebhookData
    PaymentWebhookData:
      type: object
      properties:
        id:
          type: string
        wallet:
          type: string
        webhookInfo:
          oneOf:
          - $ref: '#/components/schemas/AnyObject'
          - type: 'null'
        subtotal:
          $ref: '#/components/schemas/Cents'
        fees:
          $ref: '#/components/schemas/Cents'
        gasFees:
          $ref: '#/components/schemas/Cents'
        chargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        fxFees:
          $ref: '#/components/schemas/Cents'
        networkFees:
          $ref: '#/components/schemas/Cents'
        total:
          $ref: '#/components/schemas/Cents'
        subscription:
          $ref: '#/components/schemas/IPopulatedSubscription_string_'
        merchantId:
          type: string
        paymentMethod:
          type: string
        merchantPaidFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidGasFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFxFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidNetworkFees:
          $ref: '#/components/schemas/Cents'
        invoicedCreditCardFees:
          $ref: '#/components/schemas/Cents'
        invoicedChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        invoicedGasFees:
          $ref: '#/components/schemas/Cents'
        invoicedFxFees:
          $ref: '#/components/schemas/Cents'
        invoicedNetworkFees:
          $ref: '#/components/schemas/Cents'
        cardToken:
          type: string
        last4:
          type: string
        bin:
          type: string
        reasonCode:
          type: string
        reasonMessage:
          type: string
      required:
      - id
      - wallet
      - subtotal
      - fees
      - gasFees
      - chargebackProtectionFees
      - fxFees
      - total
      - merchantId
      title: PaymentWebhookData
    MerchantPaymentsGetParametersSortBy:
      type: string
      enum:
      - createdAt
      - amount
      title: MerchantPaymentsGetParametersSortBy
    PaymentDeclinedWebhookData3:
      type: object
      properties:
        merchantId:
          type: string
        fxFees:
          $ref: '#/components/schemas/Cents'
        last4:
          type: string
        cardToken:
          type: string
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        id:
          type: string
        subscription:
          $ref: '#/components/schemas/IPopulatedSubscription_string_'
        subtotal:
          $ref: '#/components/schemas/Cents'
        chargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        gasFees:
          $ref: '#/components/schemas/Cents'
        networkFees:
          $ref: '#/components/schemas/Cents'
        total:
          $ref: '#/components/schemas/Cents'
        merchantPaidChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidGasFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFxFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidNetworkFees:
          $ref: '#/components/schemas/Cents'
        invoicedCreditCardFees:
          $ref: '#/components/schemas/Cents'
        invoicedChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        invoicedGasFees:
          $ref: '#/components/schemas/Cents'
        invoicedFxFees:
          $ref: '#/components/schemas/Cents'
        invoicedNetworkFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFees:
          $ref: '#/components/schemas/Cents'
        reasonCode:
          type: string
        fees:
          $ref: '#/components/schemas/Cents'
        paymentMethod:
          type: string
        bin:
          type: string
        reasonMessage:
          type: string
        declineCode:
          type: string
        declineDescription:
          type: string
        avsResponseCode:
          type: string
        cvvResponseCode:
          type: string
        threeDsAuthenticationStatus:
          $ref: '#/components/schemas/AuthenticationStatus'
        customerId:
          type: string
      required:
      - merchantId
      - fxFees
      - webhookInfo
      - id
      - subtotal
      - chargebackProtectionFees
      - gasFees
      - networkFees
      - total
      - merchantPaidChargebackProtectionFees
      - merchantPaidGasFees
      - merchantPaidFxFees
      - merchantPaidNetworkFees
      - invoicedCreditCardFees
      - invoicedChargebackProtectionFees
      - invoicedGasFees
      - invoicedFxFees
      - invoicedNetworkFees
      - merchantPaidFees
      - fees
      - declineCode
      - declineDescription
      - avsResponseCode
      - cvvResponseCode
      - threeDsAuthenticationStatus
      - customerId
      description: From T, pick a set of properties whose keys are in the union K
      title: PaymentDeclinedWebhookData3
    PassiveDepositAddressStatusResponseStatus:
      type: string
      enum:
      - active
      - paused
      title: PassiveDepositAddressStatusResponseStatus
    WithdrawCurrency:
      oneOf:
      - $ref: '#/components/schemas/Currency.USD'
      - $ref: '#/components/schemas/Currency.EUR'
      - $ref: '#/components/schemas/Currency.GBP'
      - $ref: '#/components/schemas/Currency.BRL'
      - $ref: '#/components/schemas/Currency.CAD'
      title: WithdrawCurrency
    RefundStatus:
      type: string
      enum:
      - Pending
      - Invoiced
      - Settled
      - Failed
      title: RefundStatus
    CreditOperation:
      type: object
      properties:
        wallet:
          type: string
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        amount:
          $ref: '#/components/schemas/Cents'
        idempotencyKey:
          type: string
      required:
      - wallet
      - blockchain
      - amount
      title: CreditOperation
    WebhookCategory:
      type: string
      enum:
      - Purchase
      - Subscription
      - KYC
      - Withdraw
      - Marketplace
      title: WebhookCategory
    IPaymentDelayedSettlement:
      type: object
      properties:
        disbursedAt:
          type: string
          format: date-time
        isDisbursed:
          type: boolean
        days:
          type: number
          format: double
        scheduledDate:
          type: string
          format: date-time
        isScheduled:
          type: boolean
      required:
      - isDisbursed
      - days
      - scheduledDate
      - isScheduled
      title: IPaymentDelayedSettlement
    UAParser.ICPU:
      type: object
      properties:
        architecture:
          type: string
          description: "Possible architecture:\n 68k, amd64, arm, arm64, avr, ia32, ia64, irix, irix64, mips, mips64, pa-risc,\n ppc, sparc, sparc64"
      title: UAParser.ICPU
    PaymentChargebackWebhookData3:
      type: object
      properties:
        merchantId:
          type: string
        fxFees:
          $ref: '#/components/schemas/Cents'
        last4:
          type: string
        cardToken:
          type: string
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        id:
          type: string
        subscription:
          $ref: '#/components/schemas/IPopulatedSubscription_string_'
        subtotal:
          $ref: '#/components/schemas/Cents'
        chargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        gasFees:
          $ref: '#/components/schemas/Cents'
        networkFees:
          $ref: '#/components/schemas/Cents'
        total:
          $ref: '#/components/schemas/Cents'
        merchantPaidChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidGasFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFxFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidNetworkFees:
          $ref: '#/components/schemas/Cents'
        invoicedCreditCardFees:
          $ref: '#/components/schemas/Cents'
        invoicedChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        invoicedGasFees:
          $ref: '#/components/schemas/Cents'
        invoicedFxFees:
          $ref: '#/components/schemas/Cents'
        invoicedNetworkFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFees:
          $ref: '#/components/schemas/Cents'
        chargebackId:
          type: string
        reasonCode:
          type: string
        reasonDescription:
          type: string
        respondByDate:
          type: string
          format: date-time
        fees:
          $ref: '#/components/schemas/Cents'
        paymentMethod:
          type: string
        bin:
          type: string
        reasonMessage:
          type: string
        customerId:
          type: string
      required:
      - merchantId
      - fxFees
      - webhookInfo
      - id
      - subtotal
      - chargebackProtectionFees
      - gasFees
      - networkFees
      - total
      - merchantPaidChargebackProtectionFees
      - merchantPaidGasFees
      - merchantPaidFxFees
      - merchantPaidNetworkFees
      - invoicedCreditCardFees
      - invoicedChargebackProtectionFees
      - invoicedGasFees
      - invoicedFxFees
      - invoicedNetworkFees
      - merchantPaidFees
      - chargebackId
      - reasonCode
      - reasonDescription
      - respondByDate
      - fees
      - customerId
      description: From T, pick a set of properties whose keys are in the union K
      title: PaymentChargebackWebhookData3
    ACHSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/AchProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxAmount:
          $ref: '#/components/schemas/Cents'
        nameMatchThreshold:
          type: number
          format: double
        requireKycBeforePurchase:
          type: boolean
        withdrawNameMatchThreshold:
          type: number
          format: double
        allowDelayedTransactions:
          type: boolean
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        instantSettle:
          type: boolean
        minFee:
          $ref: '#/components/schemas/Cents'
        maxFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/Cents'
        settlementDays:
          type: number
          format: double
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - allowDelayedTransactions
      - customerEmailNotifications
      - merchantEmailNotifications
      - instantSettle
      title: ACHSettings
    ICustomerStringMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: ICustomerStringMerchant
    RainAutoTopUpCadence:
      type: string
      enum:
      - transaction
      - hour
      - day
      - week
      - month
      title: RainAutoTopUpCadence
    CustomerUsdcTransferDataV2:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        value:
          type: string
        validAfter:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidAfter'
        validBefore:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidBefore'
        nonce:
          type: string
        signature:
          type: string
      required:
      - from
      - to
      - value
      - validAfter
      - validBefore
      - nonce
      - signature
      description: 'V2 of CustomerUsdcTransferData — replaces the (v, r, s) triple with a single

        `signature` bytes string, matching USDC FiatTokenV2_2''s bytes-overload

        `transferWithAuthorization`. All other fields unchanged from V1.'
      title: CustomerUsdcTransferDataV2
    HighnoteMerchantSettings:
      type: object
      properties:
        businessId:
          type: string
        primaryAuthorizedPersonId:
          type: string
          description: 'Highnote id of the primary business person, captured from the

            createBusiness response — onboardBusiness attributes its consent to it.'
        merchantAcceptorId:
          type: string
        applicationSubmittedAt:
          type: string
          format: date-time
          description: 'Set when onboardBusiness (the ProductApplication submission) succeeded.

            A re-run while underwriting is still Pending must not re-submit the

            application — Highnote rejects duplicates, which would overwrite a

            healthy Pending status with an error.'
      required:
      - businessId
      title: HighnoteMerchantSettings
    TokenizationProviderOption:
      type: string
      enum:
      - bt
      - tokenex
      title: TokenizationProviderOption
    NuveiV1MerchantArgs:
      type: object
      properties:
        merchantId:
          type: string
        merchantSiteId:
          type: string
        conversionAffiliateCountryCode:
          type: string
      required:
      - merchantId
      - merchantSiteId
      title: NuveiV1MerchantArgs
    Partial_WithdrawLimit_:
      type: object
      properties:
        singleTxLimit:
          $ref: '#/components/schemas/Cents'
        dailyLimit:
          $ref: '#/components/schemas/Cents'
        monthlyLimit:
          $ref: '#/components/schemas/Cents'
      description: Make all properties in T optional
      title: Partial_WithdrawLimit_
    InterchangeSettings:
      type: object
      properties:
        useType:
          type: boolean
        useRegion:
          type: boolean
        useScheme:
          type: boolean
        useBrand:
          type: boolean
        useDurbin:
          type: boolean
      required:
      - useType
      - useRegion
      - useScheme
      - useBrand
      - useDurbin
      title: InterchangeSettings
    IExportMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: IExportMerchant
    IChargebackUpdate:
      type: object
      properties:
        transactionType:
          type: string
        code:
          type: string
        description:
          type: string
        postedAt:
          type: string
          format: date-time
      required:
      - transactionType
      - code
      - description
      - postedAt
      title: IChargebackUpdate
    ExportProgress:
      type: object
      properties:
        processed:
          type: number
          format: double
        total:
          type: number
          format: double
      required:
      - processed
      title: ExportProgress
    ExportDownloadLog:
      type: object
      properties:
        editor:
          type: string
        editorType:
          $ref: '#/components/schemas/EditorType'
        ipAddress:
          type: string
        downloadedAt:
          type: string
          format: date-time
      required:
      - editor
      - editorType
      - ipAddress
      - downloadedAt
      title: ExportDownloadLog
    IRefundPayment:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IPayment_string_'
      title: IRefundPayment
    WithdrawReviewStatus:
      type: string
      enum:
      - in_review
      title: WithdrawReviewStatus
    VerificationVendor:
      type: string
      enum:
      - middesk
      - sumsub
      - sumsub_docv
      - persona
      - persona_kyb
      title: VerificationVendor
    InteracPaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - EXPIRED
      - REFUNDED
      title: InteracPaymentStatus
    Record_any.any_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_any.any_
    BlockSellerRequest:
      type: object
      properties:
        merchantId:
          type: string
        reason:
          type: string
        level:
          $ref: '#/components/schemas/BlockedLevel'
      required:
      - merchantId
      - reason
      - level
      title: BlockSellerRequest
    InteracPayoutProvider:
      type: string
      enum:
      - checkbook
      - mock
      - aptpay
      title: InteracPayoutProvider
    IMerchantStringWithdrawFeePayment:
      type: object
      properties:
        paysGasFees:
          $ref: '#/components/schemas/Partial_Record_Blockchain.boolean__'
        bundleDelegatedPayoutFees:
          type: boolean
        paysSwapFees:
          type: boolean
        paysWithdrawFees:
          type: boolean
      title: IMerchantStringWithdrawFeePayment
    PaymentChargebackWebhookData:
      type: object
      properties:
        id:
          type: string
        wallet:
          type: string
        webhookInfo:
          oneOf:
          - $ref: '#/components/schemas/AnyObject'
          - type: 'null'
        subtotal:
          $ref: '#/components/schemas/Cents'
        fees:
          $ref: '#/components/schemas/Cents'
        gasFees:
          $ref: '#/components/schemas/Cents'
        chargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        fxFees:
          $ref: '#/components/schemas/Cents'
        networkFees:
          $ref: '#/components/schemas/Cents'
        total:
          $ref: '#/components/schemas/Cents'
        subscription:
          $ref: '#/components/schemas/IPopulatedSubscription_string_'
        merchantId:
          type: string
        paymentMethod:
          type: string
        merchantPaidFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidGasFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFxFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidNetworkFees:
          $ref: '#/components/schemas/Cents'
        invoicedCreditCardFees:
          $ref: '#/components/schemas/Cents'
        invoicedChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        invoicedGasFees:
          $ref: '#/components/schemas/Cents'
        invoicedFxFees:
          $ref: '#/components/schemas/Cents'
        invoicedNetworkFees:
          $ref: '#/components/schemas/Cents'
        cardToken:
          type: string
        last4:
          type: string
        bin:
          type: string
        reasonCode:
          type: string
        reasonMessage:
          type: string
        chargebackId:
          type: string
        reasonDescription:
          type: string
        respondByDate:
          type: string
          format: date-time
      required:
      - id
      - wallet
      - subtotal
      - fees
      - gasFees
      - chargebackProtectionFees
      - fxFees
      - total
      - merchantId
      - reasonCode
      - chargebackId
      - reasonDescription
      - respondByDate
      title: PaymentChargebackWebhookData
    Blockchain.MONAD:
      type: string
      enum:
      - monad
      title: Blockchain.MONAD
    ISubscriptionStringMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: ISubscriptionStringMerchant
    CryptoTiers:
      type: string
      enum:
      - stables
      - majors
      - volatile
      title: CryptoTiers
    PassiveDepositAddressListResponse:
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/PassiveDepositAddressListItem'
      required:
      - addresses
      title: PassiveDepositAddressListResponse
    VerificationStatus:
      type: string
      enum:
      - pending
      - partial-approval
      - approved
      - rejected
      - expired
      title: VerificationStatus
    Currency.BRL:
      type: string
      enum:
      - BRL
      title: Currency.BRL
    Blockchain:
      type: string
      enum:
      - solana
      - eth
      - polygon
      - base
      - user
      - arbitrum
      - stellar
      - monad
      - tempo
      title: Blockchain
    Currency.EUR:
      type: string
      enum:
      - EUR
      title: Currency.EUR
    VelocityLimitMode:
      type: string
      enum:
      - default
      - dynamic
      - custom
      - no_limit
      title: VelocityLimitMode
    WebhookVersion:
      type: string
      enum:
      - Legacy
      - Version 1
      - Version 2
      - Version 3
      title: WebhookVersion
    SubscriptionInterval:
      type: string
      enum:
      - Daily
      - Weekly
      - Monthly
      - Yearly
      title: SubscriptionInterval
    OverrideMethod:
      type: string
      enum:
      - customer_override
      - ignored_rejection
      - pending_review
      - inline_override
      title: OverrideMethod
    IPaymentStringSubscription:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ISubscription_string_'
      title: IPaymentStringSubscription
    PaymentWebhookData3:
      type: object
      properties:
        merchantId:
          type: string
        fxFees:
          $ref: '#/components/schemas/Cents'
        last4:
          type: string
        cardToken:
          type: string
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        id:
          type: string
        subscription:
          $ref: '#/components/schemas/IPopulatedSubscription_string_'
        subtotal:
          $ref: '#/components/schemas/Cents'
        chargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        gasFees:
          $ref: '#/components/schemas/Cents'
        networkFees:
          $ref: '#/components/schemas/Cents'
        total:
          $ref: '#/components/schemas/Cents'
        merchantPaidChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidGasFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFxFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidNetworkFees:
          $ref: '#/components/schemas/Cents'
        invoicedCreditCardFees:
          $ref: '#/components/schemas/Cents'
        invoicedChargebackProtectionFees:
          $ref: '#/components/schemas/Cents'
        invoicedGasFees:
          $ref: '#/components/schemas/Cents'
        invoicedFxFees:
          $ref: '#/components/schemas/Cents'
        invoicedNetworkFees:
          $ref: '#/components/schemas/Cents'
        merchantPaidFees:
          $ref: '#/components/schemas/Cents'
        reasonCode:
          type: string
        fees:
          $ref: '#/components/schemas/Cents'
        paymentMethod:
          type: string
        bin:
          type: string
        reasonMessage:
          type: string
        customerId:
          type: string
      required:
      - merchantId
      - fxFees
      - webhookInfo
      - id
      - subtotal
      - chargebackProtectionFees
      - gasFees
      - networkFees
      - total
      - merchantPaidChargebackProtectionFees
      - merchantPaidGasFees
      - merchantPaidFxFees
      - merchantPaidNetworkFees
      - invoicedCreditCardFees
      - invoicedChargebackProtectionFees
      - invoicedGasFees
      - invoicedFxFees
      - invoicedNetworkFees
      - merchantPaidFees
      - fees
      - customerId
      description: From T, pick a set of properties whose keys are in the union K
      title: PaymentWebhookData3
    Pick_ACHSettings.customerEmailNotifications-or-merchantEmailNotifications_:
      type: object
      properties:
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      description: From T, pick a set of properties whose keys are in the union K
      title: Pick_ACHSettings.customerEmailNotifications-or-merchantEmailNotifications_
    ApaCredentialType:
      type: string
      enum:
      - PHONE
      - EMAIL
      - PAN
      title: ApaCredentialType
    BinInfo:
      type: object
      properties:
        cardType:
          $ref: '#/components/schemas/Funding'
        cardName:
          type: string
        cardSegment:
          $ref: '#/components/schemas/Segment'
        country:
          $ref: '#/components/schemas/BinInfoCountry'
        bankName:
          type: string
      required:
      - cardType
      - cardName
      - cardSegment
      - country
      - bankName
      title: BinInfo
    MerchantCreditsMintPostResponsesContentApplicationJsonSchemaJobId:
      oneOf:
      - type: number
        format: double
      - type: string
      title: MerchantCreditsMintPostResponsesContentApplicationJsonSchemaJobId
    IPaymentCardInfo:
      type: object
      properties:
        storedTransactionType:
          $ref: '#/components/schemas/StoredCardTransactionType'
        authorizationPaymentReference:
          type: string
        originalPaymentId:
          type: string
          description: This is really the permissioning payment Id - what paymentId was used that had a CVV entered to authorize it
        statementDescriptor:
          type: string
        interchangeKey:
          type: string
        fraudReport:
          $ref: '#/components/schemas/FraudReport'
        enhancedTxInfo:
          $ref: '#/components/schemas/EnhancedTxInfo'
        transaction:
          type: string
        secureTransactionId:
          type: string
        processed3DS:
          $ref: '#/components/schemas/Verification3DS'
        cardType:
          $ref: '#/components/schemas/CardType'
        last4:
          type: string
        token:
          type: string
        mobileWallet:
          $ref: '#/components/schemas/MobileWallet'
        processor:
          $ref: '#/components/schemas/PaymentProcessor'
        authCode:
          type: string
        status:
          $ref: '#/components/schemas/CardPaymentStatus'
        authOnly:
          type: boolean
      required:
      - processor
      - authCode
      - status
      title: IPaymentCardInfo
    WithdrawWithDescriptiveStatus:
      type: object
      properties:
        transaction:
          type: string
        createdAt:
          type: string
          format: date-time
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        speed:
          $ref: '#/components/schemas/WithdrawSpeed'
        idempotencyKey:
          type: string
        merchant:
          $ref: '#/components/schemas/WithdrawWithDescriptiveStatusMerchant'
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        wallet:
          type: string
        userLocation:
          $ref: '#/components/schemas/WithdrawWithDescriptiveStatusUserLocation'
          description: 'Browser-captured geolocation at the time of the withdraw request, when

            the caller supplied one. Stored independently of payout method so the

            merchant dashboard can render a map for any withdraw. `resolved*` fields

            are populated when the GEOLOCATION enforcement step happened to reverse-

            geocode the coordinates — they''re a free piggyback on the lock cache,

            not a guarantee.'
        withdrawer:
          $ref: '#/components/schemas/WithdrawWithDescriptiveStatusWithdrawer'
        transferId:
          type: string
        accountId:
          type: string
        usdToForeignExchangeRate:
          type: number
          format: double
          description: 'This is the conversion rate from USD to the foreign currency.

            For example 0.90 = 0.90 USD/GBP


            So if you want to convert GBP to USD you would multiply 15 GBP * 0.90 USD/GBP = 13.5 USD

            If you want to convert USD to GBP you would multiply 13.5 USD * 1/0.90 GBP/USD = 15 GBP'
        userPaidFees:
          $ref: '#/components/schemas/WithdrawWithDescriptiveStatusUserPaidFees'
        merchantPaidFees:
          $ref: '#/components/schemas/WithdrawWithDescriptiveStatusMerchantPaidFees'
        returnStatus:
          $ref: '#/components/schemas/WithdrawFailedReturnStatus'
        expectedDeliveryDate:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        provider:
          type: string
        returnTransaction:
          type: string
        returnedAt:
          type: string
          format: date-time
        userId:
          type: string
        detailMessage:
          type: string
        errorData:
          type: string
        pin:
          type: string
          description: 'Only used for Interac payments if the user must provide their

            bank a PIN to claim the transfer.'
        isFirstParty:
          type: boolean
          description: 'True when this withdraw was a first-party payout (the merchant

            withdrawing from their own settlement wallet).'
        payoutInitiated:
          type: boolean
        manuallyFailedBy:
          $ref: '#/components/schemas/IWithdrawManualFailAudit'
        manuallySucceededBy:
          $ref: '#/components/schemas/IWithdrawManualSuccessAudit'
        orchestrationTraceId:
          type: string
        entityTag:
          $ref: '#/components/schemas/EntityTag'
        status:
          $ref: '#/components/schemas/WithdrawStatusWithReview'
      required:
      - transaction
      - createdAt
      - amount
      - speed
      - merchant
      - blockchain
      - wallet
      - withdrawer
      - transferId
      - accountId
      - usdToForeignExchangeRate
      - userPaidFees
      - merchantPaidFees
      - expectedDeliveryDate
      - updatedAt
      - provider
      - status
      description: From T, pick a set of properties whose keys are in the union K
      title: WithdrawWithDescriptiveStatus
    DisbursedFundsWebhookData:
      type: object
      properties:
        id:
          type: string
        merchantId:
          type: string
        signature:
          type: string
          description: 'The on-chain transaction signature for the disbursement. Always set on a

            successful USDC/Credits disbursement.'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        disbursedAt:
          type: string
          format: date-time
      required:
      - id
      - merchantId
      - signature
      - amount
      - disbursedAt
      title: DisbursedFundsWebhookData
    RainAccountDetails:
      type: object
      properties:
        beneficiaryName:
          type: string
        beneficiaryAddress:
          type: string
        beneficiaryBankName:
          type: string
        beneficiaryBankAddress:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
      required:
      - beneficiaryName
      - beneficiaryAddress
      - accountNumber
      - routingNumber
      title: RainAccountDetails
    WithdrawSort:
      type: string
      enum:
      - DEFAULT
      - CHEAPEST
      - ORDERED
      - LIMIT_CONSUMPTION
      title: WithdrawSort
    Cents:
      type: object
      properties:
        cents:
          type: integer
      required:
      - cents
      title: Cents
    WebhookPacket:
      type: object
      properties:
        eventType:
          $ref: '#/components/schemas/WebhookEventType'
        category:
          $ref: '#/components/schemas/WebhookCategory'
        created:
          type: string
        data:
          $ref: '#/components/schemas/WebhookPacketData'
      required:
      - eventType
      - category
      - created
      - data
      title: WebhookPacket
    RainAutoTopUpSettings:
      type: object
[...]
