openapi: 3.2.0
info:
  title: Reference Refund API
  version: 1.0.0
servers:
- url: https://api-sandbox.coinflow.cash/api
  description: https://api-sandbox.coinflow.cash/api
tags:
- name: Refund
paths:
  /refunds:
    get:
      operationId: get-refunds
      summary: Get Refunds
      tags:
      - Refund
      parameters:
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: method
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: Payment ID or User ID / Customer ID
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefundInfo'
  /refunds/{refundId}/retry:
    post:
      operationId: retry-refund
      summary: Retry a Failed Refund
      tags:
      - Refund
      parameters:
      - name: refundId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund_RetryRefund_Response_200'
  /refunds/payment/{paymentId}/all:
    get:
      operationId: get-refunds-via-payment-id
      summary: View All Refunds for Payment
      tags:
      - Refund
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IRefund'
  /refunds/payment/{paymentId}:
    get:
      operationId: get-refund-via-payment-id
      summary: View Refund Information for Payment
      tags:
      - Refund
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund_GetRefundViaPaymentId_Response_200'
components:
  schemas:
    IVenmoPaymentInfoSandboxSimulations:
      type: object
      properties:
        refundFailure:
          type: boolean
        captureFailure:
          type: boolean
        authorizationFailure:
          type: boolean
      title: IVenmoPaymentInfoSandboxSimulations
    AVSResponseCode:
      type: string
      enum:
      - A
      - B
      - C
      - D
      - E
      - G
      - I
      - M
      - N
      - O
      - P
      - R
      - S
      - U
      - W
      - X
      - Y
      - Z
      description: 'AVS (Address Verification System) Response Codes

        These codes indicate the results of address verification checks'
      title: AVSResponseCode
    VenmoSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/VenmoProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxFee:
          $ref: '#/components/schemas/Cents'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - fixedFee
      - feeBps
      - minFee
      - customerEmailNotifications
      - merchantEmailNotifications
      title: VenmoSettings
    ISubscriptionMongooseTypesObjectIdCustomer:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ICustomer_mongoose.Types.ObjectId_'
      title: ISubscriptionMongooseTypesObjectIdCustomer
    ICustomerMongooseTypesObjectIdMerchant:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IMerchant_mongoose.Types.ObjectId_'
      title: ICustomerMongooseTypesObjectIdMerchant
    PixPayoutProvider:
      type: string
      enum:
      - brla
      - mock
      title: PixPayoutProvider
    CustomerUsdcTransferDataV2:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        value:
          type: string
        validAfter:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidAfter'
        validBefore:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidBefore'
        nonce:
          type: string
        signature:
          type: string
      required:
      - from
      - to
      - value
      - validAfter
      - validBefore
      - nonce
      - signature
      description: 'V2 of CustomerUsdcTransferData — replaces the (v, r, s) triple with a single

        `signature` bytes string, matching USDC FiatTokenV2_2''s bytes-overload

        `transferWithAuthorization`. All other fields unchanged from V1.'
      title: CustomerUsdcTransferDataV2
    IPayPalPaymentInfoSandboxSimulations:
      type: object
      properties:
        refundFailure:
          type: boolean
        captureFailure:
          type: boolean
        authorizationFailure:
          type: boolean
      title: IPayPalPaymentInfoSandboxSimulations
    IMerchantMongooseTypesObjectIdWallets:
      type: object
      properties:
        stellar:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWalletsStellar'
        evm:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWalletsEvm'
        solana:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWalletsSolana'
      required:
      - stellar
      - evm
      - solana
      title: IMerchantMongooseTypesObjectIdWallets
    ChargebackProtectionDecision:
      type: string
      enum:
      - approved
      - rejected
      - Not Reviewed
      - Not Enabled
      - Overridden
      - Pending Review
      title: ChargebackProtectionDecision
    IPaymentMongooseTypesObjectIdCustomer:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ICustomer_mongoose.Types.ObjectId_'
      title: IPaymentMongooseTypesObjectIdCustomer
    CustomerUsdcTransferDataV2ValidAfter:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CustomerUsdcTransferDataV2ValidAfter
    InteracProcessor:
      type: string
      enum:
      - mock
      - aptpay
      title: InteracProcessor
    TokenSubtotalAmount:
      oneOf:
      - type: number
        format: double
      - type: string
      description: Number of tokens
      title: TokenSubtotalAmount
    MerchantSsoSettings:
      type: object
      properties:
        requireSso:
          type: boolean
      required:
      - requireSso
      title: MerchantSsoSettings
    CardPayoutProvider:
      type: string
      enum:
      - aptpay
      - checkbook
      - shift4
      - MOCK
      title: CardPayoutProvider
    PaymentProcessor:
      type: string
      enum:
      - payarc
      - mock
      - shift4
      - merchant_warrior
      - greenlight
      - frame
      - nmi_direct
      - mvb
      - fifththird
      - natwest
      - nuveiv1
      - fallback_payarc_shift4
      - fallback_shift4_payarc
      - fallback_shift4_nuvei
      - fallback_nuvei_payarc
      - fallback_payarc_nuvei
      - fallback_shift4_greenlight
      - fallback_greenlight_shift4
      - fallback_frame_merchant_warrior
      - fallback_merchant_warrior_frame
      - fallback_natwest_shift4
      - fallback_natwest_nuvei
      - fallback_natwest_shift4_payarc
      - fallback_natwest_shift4_nuvei
      - fallback_shift4_natwest_payarc
      - fallback_nuvei_natwest_payarc
      - fallback_natwest_nuvei_payarc
      - fallback_mvb_fifththird_shift4_payarc
      - fallback_fifththird_mvb_shift4_payarc
      - fallback_mvb_nuvei
      - fallback_nuvei_fifththird
      - fallback_fifththird_nuvei
      title: PaymentProcessor
    TokenSubtotal:
      type: object
      properties:
        address:
          type: string
          description: 'The tokens address


            Solana - Token Mint Address

            Evm - Token Contract Address'
        amount:
          $ref: '#/components/schemas/TokenSubtotalAmount'
          description: Number of tokens
        decimals:
          type: number
          format: double
          description: Number of decimals for the token
      required:
      - address
      - amount
      title: TokenSubtotal
    ApplePayPayoutProvider:
      type: string
      enum:
      - aptpay
      - MOCK
      title: ApplePayPayoutProvider
    Record_any.any_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_any.any_
    Country:
      type: string
      enum:
      - AF
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AX
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CD
      - CG
      - CK
      - CR
      - HR
      - CU
      - CW
      - CY
      - CZ
      - CI
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - EH
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KP
      - KR
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - MK
      - RO
      - RU
      - RW
      - RE
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - XK
      - YE
      - ZM
      - ZW
      title: Country
    VerificationVendor:
      type: string
      enum:
      - middesk
      - sumsub
      - sumsub_docv
      - persona
      - persona_kyb
      title: VerificationVendor
    Record_string.any_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_string.any_
    IvySettings:
      type: object
      properties:
        gbpPayinAccountId:
          type: string
        eurAccountId:
          type: string
      required:
      - gbpPayinAccountId
      - eurAccountId
      title: IvySettings
    IGeoBlockOverride:
      type: object
      properties:
        reason:
          type: string
        setBy:
          type: string
        setAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
      required:
      - reason
      - setBy
      - setAt
      description: 'Per-customer exemption from real-time geographic enforcement.


        When set and not expired, withdrawal blocking rules with method

        `GEOLOCATION` or `IP` are skipped for this withdrawer. `KYC_ADDRESS` rules

        still apply — KYC is the compliance floor and must remain enforceable.


        Auditable by construction: `reason` and `setBy` are required so admins can

        review why a specific user was exempted. `expiresAt` is optional but

        strongly recommended; long-lived overrides should be avoided.'
      title: IGeoBlockOverride
    VerificationStatus:
      type: string
      enum:
      - pending
      - partial-approval
      - approved
      - rejected
      - expired
      title: VerificationStatus
    SubscriptionStatus:
      type: string
      enum:
      - Active
      - Canceled
      - Expired
      - Concluded
      - Failed
      - Blocked
      title: SubscriptionStatus
    IPaymentStringIbanInfo:
      type: object
      properties:
        reference:
          type: string
        failedAttempts:
          type: array
          items:
            $ref: '#/components/schemas/FailedIbanAttempt'
        accountHolder:
          type: string
        reason:
          type: string
        transactionId:
          type: string
        processed:
          type: string
          format: date-time
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        transaction:
          type: string
        expiration:
          type: string
          format: date-time
        token:
          type: string
        processor:
          $ref: '#/components/schemas/IbanProcessor'
        status:
          $ref: '#/components/schemas/IbanPaymentStatus'
      required:
      - expiration
      - token
      - processor
      - status
      title: IPaymentStringIbanInfo
    Record_string.InterchangeRate_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_string.InterchangeRate_
    BlockingRuleScope:
      type: string
      enum:
      - WITHDRAWAL
      - CHECKOUT
      - GLOBAL
      title: BlockingRuleScope
    IPaymentMongooseTypesObjectIdBankTransferInfo:
      type: object
      properties:
        reason:
          type: string
        token:
          type: string
        batchedAt:
          type: string
          format: date-time
        refundTransferId:
          type: string
        refundReview:
          type: boolean
        transaction:
          type: string
        processor:
          $ref: '#/components/schemas/AchProcessor'
        status:
          $ref: '#/components/schemas/AchPaymentStatus'
      required:
      - refundReview
      - processor
      - status
      title: IPaymentMongooseTypesObjectIdBankTransferInfo
    Blockchain.MONAD:
      type: string
      enum:
      - monad
      title: Blockchain.MONAD
    ProgramWhitelistRequest:
      type: object
      properties:
        programId:
          type: string
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        status:
          $ref: '#/components/schemas/ProgramWhitelistStatus'
      required:
      - programId
      - blockchain
      - status
      title: ProgramWhitelistRequest
    OverrideMethod:
      type: string
      enum:
      - customer_override
      - ignored_rejection
      - pending_review
      - inline_override
      title: OverrideMethod
    PixSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/PixProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: PixSettings
    EnhancedTxInfoIpLocation:
      type: object
      properties:
        hosting:
          type: boolean
        mobile:
          type: boolean
        proxy:
          type: boolean
        zip:
          type: string
        city:
          type: string
        isp:
          type: string
        region:
          type: string
        country:
          type: string
        lon:
          type: string
        lat:
          type: string
      required:
      - zip
      - city
      - isp
      - region
      - country
      - lon
      - lat
      title: EnhancedTxInfoIpLocation
    IMerchantMongooseTypesObjectIdCheckbookSettings:
      type: object
      properties:
        merchantName:
          type: string
        secret:
          type: string
        key:
          type: string
        walletId:
          type: string
        id:
          type: string
      required:
      - merchantName
      - secret
      - key
      - walletId
      - id
      title: IMerchantMongooseTypesObjectIdCheckbookSettings
    MobileWallet:
      type: string
      enum:
      - applePay
      - googlePay
      title: MobileWallet
    VenmoProcessor:
      type: string
      enum:
      - mock
      - paypal
      title: VenmoProcessor
    ACHSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/AchProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxAmount:
          $ref: '#/components/schemas/Cents'
        nameMatchThreshold:
          type: number
          format: double
        requireKycBeforePurchase:
          type: boolean
        withdrawNameMatchThreshold:
          type: number
          format: double
        allowDelayedTransactions:
          type: boolean
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        instantSettle:
          type: boolean
        minFee:
          $ref: '#/components/schemas/Cents'
        maxFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/Cents'
        settlementDays:
          type: number
          format: double
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - allowDelayedTransactions
      - customerEmailNotifications
      - merchantEmailNotifications
      - instantSettle
      title: ACHSettings
    Partial_Record_Currency.number__:
      type: object
      properties:
        USD:
          type: number
          format: double
        AED:
          type: number
          format: double
        AFN:
          type: number
          format: double
        ALL:
          type: number
          format: double
        AMD:
          type: number
          format: double
        ANG:
          type: number
          format: double
        AOA:
          type: number
          format: double
        ARS:
          type: number
          format: double
        AUD:
          type: number
          format: double
        AWG:
          type: number
          format: double
        AZN:
          type: number
          format: double
        BAM:
          type: number
          format: double
        BBD:
          type: number
          format: double
        BDT:
          type: number
          format: double
        BGN:
          type: number
          format: double
        BHD:
          type: number
          format: double
        BIF:
          type: number
          format: double
        BMD:
          type: number
          format: double
        BND:
          type: number
          format: double
        BOB:
          type: number
          format: double
        BRL:
          type: number
          format: double
        BSD:
          type: number
          format: double
        BTN:
          type: number
          format: double
        BWP:
          type: number
          format: double
        BYN:
          type: number
          format: double
        BZD:
          type: number
          format: double
        CAD:
          type: number
          format: double
        CHF:
          type: number
          format: double
        CLF:
          type: number
          format: double
        CLP:
          type: number
          format: double
        CNY:
          type: number
          format: double
        COP:
          type: number
          format: double
        CRC:
          type: number
          format: double
        CUP:
          type: number
          format: double
        CVE:
          type: number
          format: double
        CZK:
          type: number
          format: double
        DJF:
          type: number
          format: double
        DKK:
          type: number
          format: double
        DOP:
          type: number
          format: double
        DZD:
          type: number
          format: double
        EGP:
          type: number
          format: double
        ETB:
          type: number
          format: double
        EUR:
          type: number
          format: double
        FJD:
          type: number
          format: double
        GBP:
          type: number
          format: double
        GEL:
          type: number
          format: double
        GHS:
          type: number
          format: double
        GMD:
          type: number
          format: double
        GNF:
          type: number
          format: double
        GTQ:
          type: number
          format: double
        GYD:
          type: number
          format: double
        HKD:
          type: number
          format: double
        HNL:
          type: number
          format: double
        HTG:
          type: number
          format: double
        HUF:
          type: number
          format: double
        IDR:
          type: number
          format: double
        ILS:
          type: number
          format: double
        INR:
          type: number
          format: double
        IQD:
          type: number
          format: double
        IRR:
          type: number
          format: double
        ISK:
          type: number
          format: double
        JMD:
          type: number
          format: double
        JOD:
          type: number
          format: double
        JPY:
          type: number
          format: double
        KES:
          type: number
          format: double
        KGS:
          type: number
          format: double
        KHR:
          type: number
          format: double
        KMF:
          type: number
          format: double
        KRW:
          type: number
          format: double
        KWD:
          type: number
          format: double
        KYD:
          type: number
          format: double
        KZT:
          type: number
          format: double
        LAK:
          type: number
          format: double
        LBP:
          type: number
          format: double
        LKR:
          type: number
          format: double
        LRD:
          type: number
          format: double
        LSL:
          type: number
          format: double
        LYD:
          type: number
          format: double
        MAD:
          type: number
          format: double
        MDL:
          type: number
          format: double
        MGA:
          type: number
          format: double
        MKD:
          type: number
          format: double
        MMK:
          type: number
          format: double
        MNT:
          type: number
          format: double
        MOP:
          type: number
          format: double
        MRU:
          type: number
          format: double
        MUR:
          type: number
          format: double
        MWK:
          type: number
          format: double
        MVR:
          type: number
          format: double
        MXN:
          type: number
          format: double
        MYR:
          type: number
          format: double
        MZN:
          type: number
          format: double
        NAD:
          type: number
          format: double
        NGN:
          type: number
          format: double
        NIO:
          type: number
          format: double
        NOK:
          type: number
          format: double
        NPR:
          type: number
          format: double
        NZD:
          type: number
          format: double
        OMR:
          type: number
          format: double
        PAB:
          type: number
          format: double
        PEN:
          type: number
          format: double
        PGK:
          type: number
          format: double
        PHP:
          type: number
          format: double
        PKR:
          type: number
          format: double
        PLN:
          type: number
          format: double
        PYG:
          type: number
          format: double
        QAR:
          type: number
          format: double
        RON:
          type: number
          format: double
        RSD:
          type: number
          format: double
        RWF:
          type: number
          format: double
        SAR:
          type: number
          format: double
        SCR:
          type: number
          format: double
        SDG:
          type: number
          format: double
        SEK:
          type: number
          format: double
        SGD:
          type: number
          format: double
        SLE:
          type: number
          format: double
        SLL:
          type: number
          format: double
        SOS:
          type: number
          format: double
        SRD:
          type: number
          format: double
        STN:
          type: number
          format: double
        SVC:
          type: number
          format: double
        SYP:
          type: number
          format: double
        SZL:
          type: number
          format: double
        THB:
          type: number
          format: double
        TJS:
          type: number
          format: double
        TMT:
          type: number
          format: double
        TND:
          type: number
          format: double
        TOP:
          type: number
          format: double
        TRY:
          type: number
          format: double
        TTD:
          type: number
          format: double
        TWD:
          type: number
          format: double
        TZS:
          type: number
          format: double
        UAH:
          type: number
          format: double
        UGX:
          type: number
          format: double
        UYU:
          type: number
          format: double
        UZS:
          type: number
          format: double
        VND:
          type: number
          format: double
        VUV:
          type: number
          format: double
        WST:
          type: number
          format: double
        XAF:
          type: number
          format: double
        XCD:
          type: number
          format: double
        XOF:
          type: number
          format: double
        XPF:
          type: number
          format: double
        YER:
          type: number
          format: double
        ZAR:
          type: number
          format: double
        ZMW:
          type: number
          format: double
        ZWL:
          type: number
          format: double
        CDF:
          type: number
          format: double
        ERN:
          type: number
          format: double
        FKP:
          type: number
          format: double
        KPW:
          type: number
          format: double
        RUB:
          type: number
          format: double
        SBD:
          type: number
          format: double
        SHP:
          type: number
          format: double
        SSP:
          type: number
          format: double
        VES:
          type: number
          format: double
      description: Make all properties in T optional
      title: Partial_Record_Currency.number__
    Blockchain.BASE:
      type: string
      enum:
      - base
      title: Blockchain.BASE
    PayPalVendorSettings:
      type: object
      properties:
        accountId:
          type: string
        status:
          type: string
          description: PAY_WITH_PAYPAL capability status (ACTIVE / NEED_DATA / SUSPENDED).
        requirements:
          type: array
          items:
            type: string
          description: Outstanding requirements blocking PAY_WITH_PAYPAL.
        venmoStatus:
          type: string
          description: VENMO_PAY_PROCESSING capability status — same account, separate status.
        venmoRequirements:
          type: array
          items:
            type: string
          description: Outstanding requirements blocking VENMO_PAY_PROCESSING.
        stakeholderIds:
          type: array
          items:
            type: string
        verificationTriggered:
          type: boolean
          description: 'True once we''ve asked PayPal to (re)verify this account''s capabilities.

            triggerVerification itself makes PayPal emit a CAPABILITY_UPDATED webhook,

            so this flag stops that webhook from triggering verification again forever.'
      required:
      - accountId
      title: PayPalVendorSettings
    ISubscriptionStringCustomer:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ICustomer_string_'
      title: ISubscriptionStringCustomer
    AchPaymentStatus:
      type: string
      enum:
      - PENDING
      - BATCHED
      - DEPOSITED
      - SETTLED
      - RETURNED
      - FAILED
      - CHARGEBACK
      - REFUND_REVIEW
      - REFUNDED
      title: AchPaymentStatus
    Segment:
      type: string
      enum:
      - consumer
      - business
      - commercial
      title: Segment
    CustomerVerificationSetting:
      type: string
      enum:
      - Enforced
      - Exempt
      title: CustomerVerificationSetting
    TokenizationProviderOption:
      type: string
      enum:
      - bt
      - tokenex
      title: TokenizationProviderOption
    IMerchantMongooseTypesObjectIdWithdrawFees:
      type: object
      properties:
        firstParty:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        business:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        user:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        swapBps:
          type: number
          format: double
      required:
      - firstParty
      - business
      - user
      - swapBps
      title: IMerchantMongooseTypesObjectIdWithdrawFees
    CryptoPaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - REFUNDED
      title: CryptoPaymentStatus
    IMerchantStringProcessing:
      type: object
      properties:
        msaSigned:
          type: boolean
        statementsOnFile:
          type: boolean
      required:
      - msaSigned
      - statementsOnFile
      title: IMerchantStringProcessing
    BlockingRuleListMode:
      type: string
      enum:
      - DENY
      - ALLOW
      title: BlockingRuleListMode
    ApplePayIntegratorRegistration:
      type: object
      properties:
        domainNames:
          type: array
          items:
            type: string
        partnerMerchantName:
          type: string
        partnerMerchantValidationURI:
          type: string
        partnerInternalMerchantIdentifier:
          type: string
      required:
      - domainNames
      - partnerMerchantName
      - partnerMerchantValidationURI
      - partnerInternalMerchantIdentifier
      title: ApplePayIntegratorRegistration
    IAvailability:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/AvailabilityStatus'
        reason:
          type: string
        editor:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
      - status
      - reason
      - editor
      - updatedAt
      title: IAvailability
    ISubscriptionPlan_mongoose.Types.ObjectId_:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/mongoose.Types.ObjectId'
        merchant:
          $ref: '#/components/schemas/ISubscriptionPlanMongooseTypesObjectIdMerchant'
        name:
          type: string
        code:
          type: string
        interval:
          $ref: '#/components/schemas/SubscriptionInterval'
        duration:
          type: integer
          description: 'This represents the span of an interval.

            Ex. duration = 3, interval = Monthly means every 3 months the subscription renews

            Default is 1'
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        description:
          type: string
        transaction:
          type: string
        settlementChain:
          $ref: '#/components/schemas/OperationalBlockchain'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        active:
          type: boolean
        merchantInitiated:
          type: boolean
          description: If true this means we will not run it through our Subscription Payments Pipeline, but instead make the merchant pass us the plan code for MITs to process it
      required:
      - _id
      - merchant
      - name
      - code
      - interval
      - amount
      - active
      title: ISubscriptionPlan_mongoose.Types.ObjectId_
    CustomerInfo:
      oneOf:
      - $ref: '#/components/schemas/SplitNameCustomerInfo'
      - $ref: '#/components/schemas/NameCustomerInfo'
      title: CustomerInfo
    WalletDebitStatus:
      type: string
      enum:
      - pending
      - success
      - failed
      title: WalletDebitStatus
    Blockchain.TEMPO:
      type: string
      enum:
      - tempo
      title: Blockchain.TEMPO
    USState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - DC
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: USState
    RtpPayoutProvider:
      type: string
      enum:
      - dwolla
      - mock
      - aptpay
      - aptpayRtp
      - checkbook
      - brale
      title: RtpPayoutProvider
    MerchantGoLiveChecklist:
      type: object
      properties:
        acceptedToS:
          type: boolean
        programWhitelistRequests:
          type: array
          items:
            $ref: '#/components/schemas/ProgramWhitelistRequest'
        rfis:
          type: array
          items:
            $ref: '#/components/schemas/MerchantRfiRef'
        onboardingFormSubmitted:
          type: boolean
        applicationSubmitted:
          type: boolean
        applicationSubmittedAt:
          type: string
          format: date-time
        lockIndustry:
          type: boolean
      title: MerchantGoLiveChecklist
    ExchangeInfo:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/ExchangeTotalsResponse'
        rate:
          type: number
          format: double
        base:
          $ref: '#/components/schemas/CurrencyCents'
      required:
      - amount
      - rate
      title: ExchangeInfo
    PayPalSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/PayPalProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxFee:
          $ref: '#/components/schemas/Cents'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - fixedFee
      - feeBps
      - minFee
      - customerEmailNotifications
      - merchantEmailNotifications
      title: PayPalSettings
    EftPayoutProvider:
      type: string
      enum:
      - checkbook
      - aptpay
      - mock
      title: EftPayoutProvider
    FailedAttemptSetting:
      type: string
      enum:
      - Standard
      - Exempt
      title: FailedAttemptSetting
    IRefund:
      type: object
      properties:
        _id:
          type: string
        totals:
          $ref: '#/components/schemas/RefundTotals'
        customer:
          $ref: '#/components/schemas/IRefundCustomer'
        merchant:
          $ref: '#/components/schemas/IRefundMerchant'
        payment:
          $ref: '#/components/schemas/IRefundPayment'
        signature:
          type: string
        status:
          $ref: '#/components/schemas/RefundStatus'
        reimbursementStatus:
          $ref: '#/components/schemas/ReimbursementStatus'
        reimbursementId:
          type: string
        outstanding:
          $ref: '#/components/schemas/Cents'
        source:
          $ref: '#/components/schemas/RefundSource'
        method:
          $ref: '#/components/schemas/RefundMethod'
        provider:
          type: string
        invoicedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        reason:
          $ref: '#/components/schemas/RefundReason'
        refundedBy:
          $ref: '#/components/schemas/MerchantEditor'
        failureReason:
          type: string
        cryptoRefundInfo:
          $ref: '#/components/schemas/CryptoRefundInfo'
        walletDebitStatus:
          $ref: '#/components/schemas/WalletDebitStatus'
        walletDebitTxHash:
          type: string
        returnSignature:
          type: string
      required:
      - _id
      - totals
      - customer
      - merchant
      - payment
      - status
      - reimbursementStatus
      - outstanding
      - source
      - method
      - provider
      - createdAt
      - updatedAt
      title: IRefund
    IMerchantMongooseTypesObjectIdApiKeysItems:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/MerchantScope'
        ips:
          type: array
          items:
            type: string
        disabled:
          type: boolean
        privateUuid:
          type: string
        publicUuid:
          type: string
      required:
      - ips
      - privateUuid
      - publicUuid
      title: IMerchantMongooseTypesObjectIdApiKeysItems
    PayPalProcessor:
      type: string
      enum:
      - mock
      - paypal
      title: PayPalProcessor
    IPaymentStringCryptoInfo:
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/CryptoTiers'
        paymentCurrency:
          type: string
        overpaymentAmount:
          type: string
        actualPaymentAmountUSD:
          type: string
        depositAddress:
          type: string
        refundAddress:
          type: string
        refundTransactionHash:
          type: string
        sessionId:
          type: string
        reason:
          type: string
        tokenLogoUrl:
          type: string
        blockchainLogoUrl:
          type: string
        tokenAmount:
          type: string
        token:
          type: string
        sponsoredTransactionHash:
          type: string
        originatingTransactionHash:
          type: string
        originatingWallet:
          type: string
        processed:
          type: string
          format: date-time
        transaction:
          type: string
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        status:
          $ref: '#/components/schemas/CryptoPaymentStatus'
      required:
      - status
      title: IPaymentStringCryptoInfo
    CustomWithdrawFeesConfig:
      type: object
      properties:
        asap:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        same_day:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        standard:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        card:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        iban:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        pix:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        eft:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        venmo:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        paypal:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        wire:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        interac:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        global:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        lineItemLabel:
          type: string
        isBundled:
          type: boolean
      required:
      - global
      - lineItemLabel
      - isBundled
      description: Make all properties in T optional
      title: CustomWithdrawFeesConfig
    CitconSettingsFundPurpose:
      type: string
      enum:
      - goods
      - services
      - prizes
      - rebates
      - others
      title: CitconSettingsFundPurpose
    OrchestrationTraversalStepNodeType:
      type: string
      enum:
      - action
      - decision
      title: OrchestrationTraversalStepNodeType
    ICustomerStringBlockConfigOverride:
      type: object
      properties:
        maxDistinctTokensPer30Days:
          type: number
          format: double
      description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
      title: ICustomerStringBlockConfigOverride
    NuveiV1MerchantArgs:
      type: object
      properties:
        merchantId:
          type: string
        merchantSiteId:
          type: string
        conversionAffiliateCountryCode:
          type: string
      required:
      - merchantId
      - merchantSiteId
      title: NuveiV1MerchantArgs
    IMerchantMongooseTypesObjectIdSettlementAddresses:
      type: object
      properties:
        solana:
          type: string
        eth:
          type: string
        polygon:
          type: string
        base:
          type: string
        user:
          type: string
        arbitrum:
          type: string
        stellar:
          type: string
        monad:
          type: string
        tempo:
          type: string
        directVendor:
          $ref: '#/components/schemas/DirectVendorSettlement'
        mpcWalletProvider:
          $ref: '#/components/schemas/MpcWalletProvider'
        recipientAddresses:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdSettlementAddressesRecipientAddressesItems'
        verification:
          $ref: '#/components/schemas/Verification'
      title: IMerchantMongooseTypesObjectIdSettlementAddresses
    IPaymentMongooseTypesObjectIdDelayedSettlement:
      type: object
      properties:
        disbursedAt:
          type: string
          format: date-time
        isDisbursed:
          type: boolean
        days:
          type: number
          format: double
        scheduledDate:
          type: string
          format: date-time
        isScheduled:
          type: boolean
      required:
      - isDisbursed
      - days
      - scheduledDate
      - isScheduled
      title: IPaymentMongooseTypesObjectIdDelayedSettlement
    ReserveStatus:
      type: string
      enum:
      - Disabled
      - Active
      - SweepFixed
      title: ReserveStatus
    IRefundCustomer:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ICustomer_string_'
      title: IRefundCustomer
    CustomerUsdcTransferDataValidBefore:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CustomerUsdcTransferDataValidBefore
    ReserveSettings:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ReserveStatus'
        rollingBps:
          type: number
          format: double
        rollingDuration:
          type: number
          format: double
        notes:
          type: string
      required:
      - status
      - rollingBps
      - rollingDuration
      title: ReserveSettings
    MpcWalletProvider:
      type: string
      enum:
      - metakeep
      description: 'The MPC provider Coinflow uses to custody managed settlement wallets. Single

        source of truth — the merchant type, the predicate, and the query filter all

        reference this so a new provider can''t silently pass one check but not another.'
      title: MpcWalletProvider
    CrbMerchantSettings:
      type: object
      properties:
        customerId:
          type: string
        cifNumber:
          type: string
        subledgerAccountNumber:
          type: string
        environment:
          $ref: '#/components/schemas/CrbEnvironment'
      required:
      - customerId
      description: 'The merchant''s CRB banking identity. CRB is onboarded manually in CRB''s

        dashboard — these values are pasted into our merchant dashboard and

        verified live against CRB before being persisted.'
      title: CrbMerchantSettings
    IMerchantMongooseTypesObjectIdWalletsSolana:
      type: object
      properties:
        usdcPayer:
          type: string
        feePayer:
          type: string
      required:
      - usdcPayer
      - feePayer
      title: IMerchantMongooseTypesObjectIdWalletsSolana
    CitconSettings:
      type: object
      properties:
        fundPurpose:
          $ref: '#/components/schemas/CitconSettingsFundPurpose'
        apiKey:
          type: string
      required:
      - fundPurpose
      title: CitconSettings
    VelocityLimitMode:
      type: string
      enum:
      - default
      - dynamic
      - custom
      - no_limit
      title: VelocityLimitMode
    IPaymentMongooseTypesObjectIdRefundInfo:
      type: object
      properties:
        count:
          type: number
          format: double
        refundedAt:
          type: string
          format: date-time
        amount:
          $ref: '#/components/schemas/CurrencyCents'
      required:
      - count
      - refundedAt
      - amount
      title: IPaymentMongooseTypesObjectIdRefundInfo
    ISubscriptionMongooseTypesObjectIdMerchant:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IMerchant_mongoose.Types.ObjectId_'
      title: ISubscriptionMongooseTypesObjectIdMerchant
    IMerchantStringFirstPartyPayoutOverrides:
      type: object
      properties:
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
      title: IMerchantStringFirstPartyPayoutOverrides
    CustomWithdrawFeeValue0:
      type: object
      properties:
        maxFeeCents:
          type:
          - number
          - 'null'
          format: double
        minFeeCents:
          type:
          - number
          - 'null'
          format: double
        coverProcessingFees:
          type: boolean
        cents:
          type: number
          format: double
        currency:
          $ref: '#/components/schemas/Currency'
        percent:
          type:
          - number
          - 'null'
          format: double
        isFixed:
          type: boolean
      required:
      - maxFeeCents
      - minFeeCents
      - coverProcessingFees
      - cents
      - currency
      - percent
      - isFixed
      title: CustomWithdrawFeeValue0
    IPaymentMongooseTypesObjectIdPixInfo:
      type: object
      properties:
        reason:
          type: string
        processed:
          type: string
          format: date-time
        transaction:
          type: string
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        expiration:
          type: string
          format: date-time
        processor:
          $ref: '#/components/schemas/PixProcessor'
        status:
          $ref: '#/components/schemas/PixPaymentStatus'
      required:
      - expiration
      - processor
      - status
      title: IPaymentMongooseTypesObjectIdPixInfo
    CardOnFileSettings:
      type: object
      properties:
        enabled:
          type: boolean
        period:
          type: number
          format: double
        maxCount:
          type: number
          format: double
        maxMultiple:
          type: number
          format: double
        expiration:
          type: number
          format: double
        maxZeroAuthAmount:
          $ref: '#/components/schemas/Cents'
        maxAmountLookback:
          type: number
          format: double
      required:
      - enabled
      - period
      - maxCount
      - maxMultiple
      - expiration
      title: CardOnFileSettings
    WebhookVersion:
      type: string
      enum:
      - Legacy
      - Version 1
      - Version 2
      - Version 3
      title: WebhookVersion
    ICustomerMongooseTypesObjectIdBlockConfigOverride:
      type: object
      properties:
        maxDistinctTokensPer30Days:
          type: number
          format: double
      description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
      title: ICustomerMongooseTypesObjectIdBlockConfigOverride
    IMerchantStringWithdrawFeePayment:
      type: object
      properties:
        paysGasFees:
          $ref: '#/components/schemas/Partial_Record_Blockchain.boolean__'
        bundleDelegatedPayoutFees:
          type: boolean
        paysSwapFees:
          type: boolean
        paysWithdrawFees:
          type: boolean
      title: IMerchantStringWithdrawFeePayment
    FailedIbanAttempt:
      type: object
      properties:
        transactionId:
          type: string
        processed:
          type: string
          format: date-time
        reason:
          type: string
      required:
      - transactionId
      - processed
      - reason
      title: FailedIbanAttempt
    IPaymentStringCustomer:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ICustomer_string_'
      title: IPaymentStringCustomer
    CustomerUsdcTransferData:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        value:
          type: string
        validAfter:
          $ref: '#/components/schemas/CustomerUsdcTransferDataValidAfter'
        validBefore:
          $ref: '#/components/schemas/CustomerUsdcTransferDataValidBefore'
        nonce:
          type: string
        v:
          type: number
          format: double
        r:
          type: string
        s:
          type: string
      required:
      - from
      - to
      - value
      - validAfter
      - validBefore
      - nonce
      - v
      - r
      - s
      description: 'Customer signed USDC transferWithAuthorization data for dual-source payments

        Used for combined USDC + Credit Card payments on EVM chains'
      title: CustomerUsdcTransferData
    WirePaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - EXPIRED
      - REFUNDED
      title: WirePaymentStatus
    AftSettings:
      type: object
      properties:
        enabled:
          type: boolean
        type:
          $ref: '#/components/schemas/AftType'
        purpose:
          $ref: '#/components/schemas/AftPurpose'
        merchantA2AMastercardAftRecipient:
          $ref: '#/components/schemas/AftSettingsMerchantA2AMastercardAftRecipient'
      required:
      - enabled
      - type
      - purpose
      title: AftSettings
    Partial_Record_Blockchain.boolean__:
      type: object
      properties:
        solana:
          type: boolean
        eth:
          type: boolean
        polygon:
          type: boolean
        base:
          type: boolean
        user:
          type: boolean
        arbitrum:
          type: boolean
        stellar:
          type: boolean
        monad:
          type: boolean
        tempo:
          type: boolean
      description: Make all properties in T optional
      title: Partial_Record_Blockchain.boolean__
    ApaSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/ApaProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: ApaSettings
    VenmoPayoutProvider:
      type: string
      enum:
      - checkbook
      - citcon
      - mock
      - paypal
      title: VenmoPayoutProvider
    OperationalBlockchain:
      oneOf:
      - $ref: '#/components/schemas/Blockchain.SOLANA'
      - $ref: '#/components/schemas/Blockchain.ETH'
      - $ref: '#/components/schemas/Blockchain.POLYGON'
      - $ref: '#/components/schemas/Blockchain.BASE'
      - $ref: '#/components/schemas/Blockchain.ARBITRUM'
      - $ref: '#/components/schemas/Blockchain.STELLAR'
      - $ref: '#/components/schemas/Blockchain.MONAD'
      - $ref: '#/components/schemas/Blockchain.TEMPO'
      title: OperationalBlockchain
    ApaProcessor:
      type: string
      enum:
      - apa
      - mock
      title: ApaProcessor
    ReimbursementStatus:
      type: string
      enum:
      - Pending
      - Complete
      - Failure
      - Returned
      title: ReimbursementStatus
    SubscriptionVersion:
      type: string
      enum:
      - '1'
      - '2'
      title: SubscriptionVersion
    AftPurpose:
      type: string
      enum:
      - businessToBusiness
      - creditCardRepayment
      - crypto
      - crowdLending
      - debitCard
      - education
      - emergency
      - familySupport
      - gift
      - giftCard
      - gaming
      - highRiskSecurities
      - liquidAssets
      - medical
      - payroll
      - prepaidCard
      - salary
      - savings
      - travel
      - other
      title: AftPurpose
    SplitNameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
      - firstName
      - lastName
      title: SplitNameCustomerInfo
    IMerchantStringSettlementAddressesRecipientAddressesItems:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/Record_string.any_'
        createdAt:
          type: string
          format: date-time
        recipient:
          type: string
      required:
      - createdAt
      - recipient
      title: IMerchantStringSettlementAddressesRecipientAddressesItems
    Verification3DS:
      type: string
      enum:
      - Required
      - Exempt
      - NotApplicable
      title: Verification3DS
    IMerchantMongooseTypesObjectIdRiskControls:
      type: object
      properties:
        topup:
          $ref: '#/components/schemas/TopupRiskControls'
      title: IMerchantMongooseTypesObjectIdRiskControls
    CashAppSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/CashAppProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: CashAppSettings
    KycType:
      type: string
      enum:
      - person
      - business
      - both
      title: KycType
    IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides:
      type: object
      properties:
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
      title: IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides
    LiabilityOwner:
      type: string
      enum:
      - coinflow-entity
      - coinflow
      - merchant
      title: LiabilityOwner
    ThreeDSArgs:
      type: object
      properties:
        VISA:
          $ref: '#/components/schemas/AcquirerInfo'
        MSTR:
          $ref: '#/components/schemas/AcquirerInfo'
        AMEX:
          $ref: '#/components/schemas/AcquirerInfo'
        DISC:
          $ref: '#/components/schemas/AcquirerInfo'
        scaOnly:
          type: boolean
        allowAttempts:
          type: boolean
        mcc:
          type: string
      required:
      - VISA
      - MSTR
      - AMEX
      - DISC
      - allowAttempts
      - mcc
      description: Construct a type with a set of properties K of type T
      title: ThreeDSArgs
    ApaPaymentStatus:
      type: string
      enum:
      - INITIATED
      - APPROVED
      - DEPOSITED
      - SETTLED
      - FAILED
      - REFUNDED
      title: ApaPaymentStatus
    BlockingRuleMethod:
      type: string
      enum:
      - KYC_ADDRESS
      - IP
      - BILLING_ADDRESS
      - GEOLOCATION
      title: BlockingRuleMethod
    IbanProcessor:
      type: string
      enum:
      - merge
      - ivy
      - mock
      title: IbanProcessor
    IMerchantStringBlockConfig:
      type: object
      properties:
        disableMultiCardAttemptCheck:
          type: boolean
          description: When true, skips the multi-card attempt check (2+ distinct cards failing in 1 hour).
        maxDistinctTokensPer30Days:
          type: number
          format: double
          description: 'Maximum number of distinct card tokens a single customer may use across

            non-failed/voided card payments for this merchant in a rolling 30-day

            window. Apple Pay / Google Pay payments are excluded. Unset or 0 disables

            the check. Customers with `failedAttemptSetting: Exempt` bypass it.'
        disableDestinationAuthKey:
          type: boolean
          description: When true, prevents usage of destinationAuthKey for custom settlement addresses.
        enableNmiSettlement:
          type: boolean
          description: When true, enables the settlement pipeline for NMI transactions (converts card payments to USDC).
        disableInvoiceWalletPayment:
          type: boolean
          description: When true, disables wallet balance payments for invoices. Merchants must use checkout.
        blockingRules:
          type: array
          items:
            $ref: '#/components/schemas/IBlockingRule'
          description: 'Independent geo-blocking rules for withdrawals vs card checkout, with

            explicit per-rule enforcement methods (KYC address / IP / billing address).

            Read via `getBlockingRules` so callers transparently see the legacy

            `bannedWithdrawalStates` for un-migrated merchants.'
        bannedWithdrawalStates:
          type: array
          items:
            $ref: '#/components/schemas/USState'
        whitelistedBinLocations:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        failedPaymentAttemptLimit:
          type: number
          format: double
      title: IMerchantStringBlockConfig
    FraudReport:
      type: object
      properties:
        requestId:
          type: string
        report:
          $ref: '#/components/schemas/Record_any.any_'
        reportedAt:
          type: string
          format: date-time
          description: Timestamp when fraud was reported for this payment
      required:
      - requestId
      - report
      title: FraudReport
    Blockchain.ARBITRUM:
      type: string
      enum:
      - arbitrum
      title: Blockchain.ARBITRUM
    PayPalPaymentStatus:
      type: string
      enum:
      - INITIATED
      - AUTHORIZED
      - DEPOSITED
      - SETTLED
      - REFUNDED
      - FAILED
      - CHARGEBACK
      - CHARGEBACK_LOST
      - CHARGEBACK_WON
      - VOIDED
      title: PayPalPaymentStatus
    AptpayCanadaCoinflowSettings:
      type: object
      properties:
        coinflow:
          type: boolean
      required:
      - coinflow
      title: AptpayCanadaCoinflowSettings
    RainContractInfoOnramp:
      type: object
      properties:
        wire:
          $ref: '#/components/schemas/RainAccountDetails'
        rtp:
          $ref: '#/components/schemas/RainAccountDetails'
        ach:
          $ref: '#/components/schemas/RainAccountDetails'
      title: RainContractInfoOnramp
    RainAccountDetails:
      type: object
      properties:
        beneficiaryName:
          type: string
        beneficiaryAddress:
          type: string
        beneficiaryBankName:
          type: string
        beneficiaryBankAddress:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
      required:
      - beneficiaryName
      - beneficiaryAddress
      - accountNumber
      - routingNumber
      title: RainAccountDetails
    CurrencyCents:
      type: object
      properties:
        cents:
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
      required:
      - cents
      - currency
      title: CurrencyCents
    RainPendingTopUp:
      type: object
      properties:
        amount:
          type: number
          format: double
        queuedAt:
          type: string
          format: date-time
        transactionId:
          type: string
      required:
      - amount
      - queuedAt
      - transactionId
      title: RainPendingTopUp
    Cents:
      type: object
      properties:
        cents:
          type: integer
      required:
      - cents
      title: Cents
    CVVResponseCode:
      type: string
      enum:
      - M
      - N
      - P
      - S
      - U
      - X
      description: 'CVV (Card Verification Value) Response Codes

        These codes indicate the results of CVV verification checks'
      title: CVVResponseCode
    SubscriptionInterval:
      type: string
      enum:
      - Daily
      - Weekly
      - Monthly
      - Yearly
      title: SubscriptionInterval
    AftType:
      type: string
      enum:
      - disbursement
      - personToPerson
      - accountToAccount
      - topUp
      - purchase
      - cash
      - walletLoad
      title: AftType
    RefundsRefundIdRetryPostResponsesContentApplicationJsonSchemaJobId:
      oneOf:
      - type: string
      - type: number
        format: double
      title: RefundsRefundIdRetryPostResponsesContentApplicationJsonSchemaJobId
    CustomPayInFeesConfig:
      type: array
      items:
        $ref: '#/components/schemas/CustomPayInFeeConfig'
      title: CustomPayInFeesConfig
    ISubscriptionPlan_string_:
      type: object
      properties:
        _id:
          type: string
        merchant:
          $ref: '#/components/schemas/ISubscriptionPlanStringMerchant'
        name:
          type: string
        code:
          type: string
        interval:
          $ref: '#/components/schemas/SubscriptionInterval'
        duration:
          type: integer
          description: 'This represents the span of an interval.

            Ex. duration = 3, interval = Monthly means every 3 months the subscription renews

            Default is 1'
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        description:
          type: string
        transaction:
          type: string
        settlementChain:
          $ref: '#/components/schemas/OperationalBlockchain'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        active:
          type: boolean
        merchantInitiated:
          type: boolean
          description: If true this means we will not run it through our Subscription Payments Pipeline, but instead make the merchant pass us the plan code for MITs to process it
      required:
      - _id
      - merchant
      - name
      - code
      - interval
      - amount
      - active
      title: ISubscriptionPlan_string_
    BinInfo:
      type: object
      properties:
        cardType:
          $ref: '#/components/schemas/Funding'
        cardName:
          type: string
        cardSegment:
          $ref: '#/components/schemas/Segment'
        country:
          $ref: '#/components/schemas/BinInfoCountry'
        bankName:
          type: string
      required:
      - cardType
      - cardName
      - cardSegment
      - country
      - bankName
      title: BinInfo
    RefundDenominationType:
      type: string
      enum:
      - usd
      - token
      title: RefundDenominationType
    OrchestrationFailedAttempt:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/PaymentProcessor'
        paymentId:
          type: string
        authCode:
          type: string
      required:
      - processor
      title: OrchestrationFailedAttempt
    CustomWithdrawFeeValue:
      oneOf:
      - $ref: '#/components/schemas/CustomWithdrawFeeValue0'
      - $ref: '#/components/schemas/CustomWithdrawFeeValue1'
      title: CustomWithdrawFeeValue
    CryptoPayInSettings:
      type: object
      properties:
        stables:
          $ref: '#/components/schemas/TierSettings'
        majors:
          $ref: '#/components/schemas/TierSettings'
        volatile:
          $ref: '#/components/schemas/TierSettings'
        enabled:
          type: boolean
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxGasFeePayment:
          $ref: '#/components/schemas/Cents'
        coinbaseDisabled:
          type: boolean
        transferOnly:
          type: boolean
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        fixedFee:
          $ref: '#/components/schemas/Cents'
        enableStableDepositAddresses:
          type: boolean
        maxActivePassiveAddresses:
          type: number
          format: double
          description: 'Cap on the number of simultaneously-active customer pay-in passive

            deposit addresses for this merchant. Undefined = no cap. Paused

            addresses don''t count against the cap.'
      required:
      - stables
      - majors
      - volatile
      - enabled
      - maxGasFeePayment
      - coinbaseDisabled
      - customerEmailNotifications
      - merchantEmailNotifications
      title: CryptoPayInSettings
    WithdrawFeeConfig:
      type: object
      properties:
        fixed:
          $ref: '#/components/schemas/Cents'
        variableBps:
          type: number
          format: double
        minimum:
          $ref: '#/components/schemas/Cents'
        maximum:
          $ref: '#/components/schemas/Cents'
        limit:
          $ref: '#/components/schemas/Partial_WithdrawLimit_'
      required:
      - fixed
      - variableBps
      - minimum
      title: WithdrawFeeConfig
    CrbMerchantArgs:
      type: object
      properties:
        merchantAcceptorId:
          type: string
          description: 'Highnote MerchantAcceptor id — populated by Highnote onboarding, not

            hand-entered. Optional because the subledger account number can be

            recorded (from CRB''s manual onboarding) before Highnote provisions the

            acceptor.'
        subledgerAccountNumber:
          type: string
          description: 'The merchant''s CRB subledger account that AFT pulls fund. Recorded from

            CRB''s manual onboarding; enables the AFT branch of the CRB provider.'
      title: CrbMerchantArgs
    IPaymentStringPixInfo:
      type: object
      properties:
        reason:
          type: string
        processed:
          type: string
          format: date-time
        transaction:
          type: string
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        expiration:
          type: string
          format: date-time
        processor:
          $ref: '#/components/schemas/PixProcessor'
        status:
          $ref: '#/components/schemas/PixPaymentStatus'
      required:
      - expiration
      - processor
      - status
      title: IPaymentStringPixInfo
    BlockedStatus:
      type: object
      properties:
        level:
          $ref: '#/components/schemas/BlockedLevel'
        reason:
          type: string
        editor:
          type: string
        blockedAt:
          type: string
          format: date-time
        recoverySignature:
          type: string
      required:
      - level
      - reason
      - editor
      - blockedAt
      title: BlockedStatus
    OverrideMethod.CustomerOverride:
      type: string
      enum:
      - customer_override
      title: OverrideMethod.CustomerOverride
    ISubscriptionStringPlan:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ISubscriptionPlan_string_'
      title: ISubscriptionStringPlan
    IApaPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApaPaymentStatus'
        processor:
          $ref: '#/components/schemas/ApaProcessor'
        apaTransactionId:
          type: string
        credentialType:
          $ref: '#/components/schemas/ApaCredentialType'
        credentialValue:
          type: string
        transaction:
          type: string
        transactionHash:
          type: string
        rail:
          type: string
        reason:
          type: string
        processed:
          type: string
          format: date-time
      required:
      - status
      - processor
      - apaTransactionId
      - credentialType
      - credentialValue
      title: IApaPaymentInfo
    BinInfoCountry:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/Country'
      title: BinInfoCountry
    IPaymentMongooseTypesObjectIdIbanInfo:
      type: object
      properties:
        reference:
          type: string
        failedAttempts:
          type: array
          items:
            $ref: '#/components/schemas/FailedIbanAttempt'
        accountHolder:
          type: string
        reason:
          type: string
        transactionId:
          type: string
        processed:
          type: string
          format: date-time
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        transaction:
          type: string
        expiration:
          type: string
          format: date-time
        token:
          type: string
        processor:
          $ref: '#/components/schemas/IbanProcessor'
        status:
          $ref: '#/components/schemas/IbanPaymentStatus'
      required:
      - expiration
      - token
      - processor
      - status
      title: IPaymentMongooseTypesObjectIdIbanInfo
    MarketplaceInfo:
      type: object
      properties:
        marketplaceFee:
          $ref: '#/components/schemas/CurrencyCents'
        marketplaceSettlement:
          $ref: '#/components/schemas/CurrencyCents'
        sellerSettlement:
          $ref: '#/components/schemas/CurrencyCents'
        feePercentage:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/CurrencyCents'
      title: MarketplaceInfo
    AchProcessor:
      type: string
      enum:
      - mock
      - aptpay
      - coinfx
      - braid
      title: AchProcessor
    OrchestrationTraversalStep:
      type: object
      properties:
        nodeId:
          type: string
        nodeType:
          $ref: '#/components/schemas/OrchestrationTraversalStepNodeType'
        outcome:
          type: string
        operation:
          type: string
      required:
      - nodeId
      - nodeType
      title: OrchestrationTraversalStep
    IMerchant_mongoose.Types.ObjectId_:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/mongoose.Types.ObjectId'
        merchantId:
          type: string
        verification:
          $ref: '#/components/schemas/Verification'
        brand:
          $ref: '#/components/schemas/MerchantBrandSettings'
        colors:
          $ref: '#/components/schemas/MerchantTheme'
        url:
          type: string
        withdrawFees:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWithdrawFees'
        customWithdrawFees:
          $ref: '#/components/schemas/CustomWithdrawFeesConfig'
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        wallets:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWallets'
        apiKey:
          type: string
        webhookValidationKey:
          type: string
        nmiWebhookValidationKey:
          type: string
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdApiKeysItems'
        kycType:
          $ref: '#/components/schemas/KycType'
        settlementToken:
          $ref: '#/components/schemas/StableCoin'
        settlementAddresses:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdSettlementAddresses'
        users:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantUser'
        ubos:
          type: array
          items:
            $ref: '#/components/schemas/UboEntry'
        goLiveChecklist:
          $ref: '#/components/schemas/MerchantGoLiveChecklist'
        webhookSettings:
          $ref: '#/components/schemas/WebhookSettings'
        cardSettings:
          $ref: '#/components/schemas/CardSettings'
        achSettings:
          $ref: '#/components/schemas/ACHSettings'
        citconSettings:
          $ref: '#/components/schemas/CitconSettings'
        aptPayCanadaSettings:
          $ref: '#/components/schemas/AptPayCanadaSettings'
        wireSettings:
          $ref: '#/components/schemas/IWireProviderSettings'
        pixSettings:
          $ref: '#/components/schemas/PixSettings'
        ibanSettings:
          $ref: '#/components/schemas/IbanSettings'
        cryptoPayinSettings:
          $ref: '#/components/schemas/CryptoPayInSettings'
        passiveWithdrawSettings:
          $ref: '#/components/schemas/PassiveWithdrawSettings'
        cashAppSettings:
          $ref: '#/components/schemas/CashAppSettings'
        rainCompanyCards:
          $ref: '#/components/schemas/RainCompanyCardsSettings'
        paypalSettings:
          $ref: '#/components/schemas/PayPalSettings'
        venmoSettings:
          $ref: '#/components/schemas/VenmoSettings'
        apaSettings:
          $ref: '#/components/schemas/ApaSettings'
        verisoulSettings:
          $ref: '#/components/schemas/VerisoulSettings'
        blockConfig:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdBlockConfig'
        hideBranding:
          type: boolean
        onlyShowTotal:
          type: boolean
        skipSendWithdrawEmail:
          type: boolean
        sendInvoiceNotifications:
          type: boolean
        advancedAnalytics:
          type: boolean
        billingEmails:
          type: array
          items:
            type: string
        withdrawFeePayment:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWithdrawFeePayment'
        pushToCardEnabled:
          type: boolean
        requireAniCheck:
          type: boolean
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
        ibanPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/IbanPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        rtpPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/RtpPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        pixPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PixPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        eftPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/EftPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        p2cPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        venmoPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/VenmoPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        paypalPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PayPalPayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        interacPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/InteracPayoutProvider'
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        interacPaymentProvider:
          $ref: '#/components/schemas/InteracProcessor'
        interacSettings:
          $ref: '#/components/schemas/InteracSettings'
        withdrawSorting:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawSort__'
        withdrawRules:
          type: array
          items:
            $ref: '#/components/schemas/mongoose.Types.ObjectId'
        firstPartyPayoutOverrides:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides'
        maxTransactionAmount:
          $ref: '#/components/schemas/Cents'
        minTransactionAmount:
          $ref: '#/components/schemas/Cents'
        refundBalanceLimit:
          $ref: '#/components/schemas/Cents'
        parent:
          type: string
        creditSeed:
          type: string
        withdrawSettlementLocation:
          $ref: '#/components/schemas/SettlementLocations'
        enforceJwt:
          type: boolean
        enforceCheckoutJwt:
          type: boolean
        externalVerificationLinks:
          type: boolean
        whitelistedAncestorUrls:
          type: array
          items:
            type: string
        banDuplicateAccounts:
          type: boolean
        fxFees:
          $ref: '#/components/schemas/Partial_Record_Currency.number__'
        blocked:
          $ref: '#/components/schemas/BlockedStatus'
        vendorSettings:
          $ref: '#/components/schemas/VendorSettings'
        generatedDescription:
          type: string
        bankSettlementOptions:
          $ref: '#/components/schemas/MerchantBankSettlementOptions'
        allowAttestedKyc:
          type: boolean
        attestedKycSsnNotRequired:
          type: boolean
        allowAccountSharing:
          type: boolean
        personaKycShareTokenTemplate:
          type: string
        delayedSettlementDays:
          type: number
          format: double
          description: 'Number of business days to delay stablecoin settlement after payment capture.

            Only applies to USDC settlements. 0 means no delay (immediate settlement).

            Maximum value is 5 days.'
        sendPresettleWebhooks:
          type: boolean
        velocitySettings:
          $ref: '#/components/schemas/VelocityControlSettings'
        interchangeFees:
          $ref: '#/components/schemas/InterchangeFees'
        enforceLivenessKyc:
          type: boolean
        canCreateBankAccounts:
          type: boolean
        checkbookSettings:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdCheckbookSettings'
        reserveSettings:
          $ref: '#/components/schemas/ReserveSettings'
        globalRateLimit:
          type: number
          format: double
        banProxiesForCheckoutEndpoints:
          type: boolean
        riskControls:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdRiskControls'
        acceptedToS:
          type: boolean
        ssoSettings:
          $ref: '#/components/schemas/MerchantSsoSettings'
        chargebackFeeCents:
          type: number
          format: double
        chargebackEmails:
          type: array
          items:
            type: string
        fraudEmails:
          type: array
          items:
            type: string
        linkedBankAccount:
          $ref: '#/components/schemas/LinkedBankAccount'
        customerDefaultOverrideLimit:
          $ref: '#/components/schemas/Cents'
        customerOverrideLimitCeiling:
          $ref: '#/components/schemas/Cents'
        customerDefaultExposureLimit:
          $ref: '#/components/schemas/Cents'
        dailyExposureLimit:
          $ref: '#/components/schemas/Cents'
        monthlyExposureLimit:
          $ref: '#/components/schemas/Cents'
        mcc:
          type: string
        processing:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdProcessing'
      required:
      - _id
      - merchantId
      - verification
      - withdrawFees
      - wallets
      - apiKey
      - apiKeys
      - kycType
      - settlementToken
      - users
      - ubos
      - goLiveChecklist
      - cardSettings
      - achSettings
      - wireSettings
      - pixSettings
      - ibanSettings
      - cryptoPayinSettings
      - cashAppSettings
      - paypalSettings
      - venmoSettings
      - apaSettings
      - hideBranding
      - onlyShowTotal
      - skipSendWithdrawEmail
      - sendInvoiceNotifications
      - advancedAnalytics
      - pushToCardEnabled
      - requireAniCheck
      - interacSettings
      - refundBalanceLimit
      - creditSeed
      - withdrawSettlementLocation
      - enforceJwt
      - delayedSettlementDays
      - interchangeFees
      title: IMerchant_mongoose.Types.ObjectId_
    AvailabilityStatus:
      type: string
      enum:
      - Functional
      - Blocked
      - Override
      title: AvailabilityStatus
    ICustomer_string_:
      type: object
      properties:
        _id:
          type: string
        customerId:
          type: string
        blockchain:
          $ref: '#/components/schemas/Blockchain'
        email:
          type: string
        availability:
          $ref: '#/components/schemas/IAvailability'
        createdAt:
          type: string
          format: date-time
        verification:
          $ref: '#/components/schemas/Verification'
        ubos:
          type: array
          items:
            $ref: '#/components/schemas/UboEntry'
        customerInfo:
          $ref: '#/components/schemas/CustomerInfo'
        chargebackProtectionEnabled:
          type: boolean
        merchant:
          $ref: '#/components/schemas/ICustomerStringMerchant'
        failedAttemptSetting:
          $ref: '#/components/schemas/FailedAttemptSetting'
        verificationSetting:
          $ref: '#/components/schemas/CustomerVerificationSetting'
        exempt3DS:
          type: boolean
        chargebackProtectionOverrideLog:
          $ref: '#/components/schemas/CustomerOverrideAuditLog'
        geoBlockOverride:
          $ref: '#/components/schemas/IGeoBlockOverride'
        blockConfigOverride:
          $ref: '#/components/schemas/ICustomerStringBlockConfigOverride'
          description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
        customerOverrideLimit:
          $ref: '#/components/schemas/Cents'
        overrideExposureLimit:
          $ref: '#/components/schemas/Cents'
        fraudOverrideWhitelist:
          type: boolean
      required:
      - _id
      - customerId
      - email
      - availability
      - createdAt
      - chargebackProtectionEnabled
      - merchant
      - failedAttemptSetting
      - verificationSetting
      title: ICustomer_string_
    CustomWithdrawFeeValue1:
      type: object
      properties:
        maxFeeCents:
          type:
          - number
          - 'null'
          format: double
        minFeeCents:
          type:
          - number
          - 'null'
          format: double
        coverProcessingFees:
          type: boolean
        cents:
          type:
          - number
          - 'null'
          format: double
        currency:
          oneOf:
          - $ref: '#/components/schemas/Currency'
          - type: 'null'
        percent:
          type: number
          format: double
        isFixed:
          type: boolean
      required:
      - maxFeeCents
      - minFeeCents
      - coverProcessingFees
      - cents
      - percent
      - isFixed
      title: CustomWithdrawFeeValue1
    IPaymentStringVendorTransfer:
      type: object
      properties:
        external:
          type: string
        internal:
          type: string
      required:
      - internal
      title: IPaymentStringVendorTransfer
    WebhookEventType:
      type: string
      enum:
      - Card Payment Authorized
      - Card Payment Declined
      - Card Payment Voided
      - Credits Minted
      - ACH Initiated
      - ACH Success
      - ACH Returned
      - ACH Failed
      - ACH Chargeback
      - ACH Batched
      - PIX Failed
      - PIX Expiration
      - Payment Authorized
      - Payment Expiration
      - Settled
      - Wire Initiated
      - USDC Payment Received
      - Subscription Created
      - Subscription Canceled
      - Subscription Expired
      - Subscription Failure
      - Subscription Concluded
      - Card Payment Chargeback Opened
      - Card Payment Chargeback Won
      - Card Payment Chargeback Lost
      - Card Payment Suspected Fraud
      - Payment Pending Review
      - KYC Created
      - KYC Success
      - KYC Failure
      - Sub-merchant KYB Created
      - Sub-merchant KYB Success
      - Sub-merchant KYB Failure
      - Withdraw Pending
      - Withdraw Success
      - Withdraw Failure
      - Seller Blocked
      - Refund
      - Refund Complete
      - Refund Failure
      - Refund Returned
      - Wire Failure
      - Iban Failure
      - Interac Failure
      - CashApp Failure
      - PayPal Failure
      - Venmo Failure
      - Reserve Released
      - Crypto Overpayment
      - Crypto Underpayment
      - Iban RFI Created
      - Iban RFI Submitted
      - Crypto Deposit Funds Received
      - Customer Override Limit Threshold
      - Crypto Payin Funds Received
      - PayPal Payment Authorized
      - PayPal Payment Voided
      - PayPal Payment Chargeback Opened
      - PayPal Payment Chargeback Won
      - PayPal Payment Chargeback Lost
      - Venmo Payment Authorized
      - Venmo Payment Voided
      - Venmo Payment Chargeback Opened
      - Venmo Payment Chargeback Won
      - Venmo Payment Chargeback Lost
      - Disbursed Funds
      title: WebhookEventType
    CoinflowEntity:
      type: string
      enum:
      - US
      - Poland
      - Canada
      description: 'The Coinflow legal entity that owns a transaction. Used for

        compliance/finance''s per-payment entity reporting (#14259).'
      title: CoinflowEntity
    IMerchant_string_:
      type: object
      properties:
        _id:
          type: string
        merchantId:
          type: string
        verification:
          $ref: '#/components/schemas/Verification'
        brand:
          $ref: '#/components/schemas/MerchantBrandSettings'
        colors:
          $ref: '#/components/schemas/MerchantTheme'
        url:
          type: string
        withdrawFees:
          $ref: '#/components/schemas/IMerchantStringWithdrawFees'
        customWithdrawFees:
          $ref: '#/components/schemas/CustomWithdrawFeesConfig'
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        wallets:
          $ref: '#/components/schemas/IMerchantStringWallets'
        apiKey:
          type: string
        webhookValidationKey:
          type: string
        nmiWebhookValidationKey:
          type: string
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantStringApiKeysItems'
        kycType:
          $ref: '#/components/schemas/KycType'
        settlementToken:
          $ref: '#/components/schemas/StableCoin'
        settlementAddresses:
          $ref: '#/components/schemas/IMerchantStringSettlementAddresses'
        users:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantUser'
        ubos:
          type: array
          items:
            $ref: '#/components/schemas/UboEntry'
        goLiveChecklist:
          $ref: '#/components/schemas/MerchantGoLiveChecklist'
        webhookSettings:
          $ref: '#/components/schemas/WebhookSettings'
        cardSettings:
          $ref: '#/components/schemas/CardSettings'
        achSettings:
          $ref: '#/components/schemas/ACHSettings'
        citconSettings:
          $ref: '#/components/schemas/CitconSettings'
        aptPayCanadaSettings:
          $ref: '#/components/schemas/AptPayCanadaSettings'
        wireSettings:
          $ref: '#/components/schemas/IWireProviderSettings'
        pixSettings:
          $ref: '#/components/schemas/PixSettings'
        ibanSettings:
          $ref: '#/components/schemas/IbanSettings'
        cryptoPayinSettings:
          $ref: '#/components/schemas/CryptoPayInSettings'
        passiveWithdrawSettings:
          $ref: '#/components/schemas/PassiveWithdrawSettings'
        cashAppSettings:
          $ref: '#/components/schemas/CashAppSettings'
        rainCompanyCards:
          $ref: '#/components/schemas/RainCompanyCardsSettings'
        paypalSettings:
          $ref: '#/components/schemas/PayPalSettings'
        venmoSettings:
          $ref: '#/components/schemas/VenmoSettings'
        apaSettings:
          $ref: '#/components/schemas/ApaSettings'
        verisoulSettings:
          $ref: '#/components/schemas/VerisoulSettings'
        blockConfig:
          $ref: '#/components/schemas/IMerchantStringBlockConfig'
        hideBranding:
          type: boolean
        onlyShowTotal:
          type: boolean
        skipSendWithdrawEmail:
          type: boolean
        sendInvoiceNotifications:
          type: boolean
        advancedAnalytics:
          type: boolean
        billingEmails:
          type: array
          items:
            type: string
        withdrawFeePayment:
          $ref: '#/components/schemas/IMerchantStringWithdrawFeePayment'
        pushToCardEnabled:
          type: boolean
        requireAniCheck:
          type: boolean
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
        ibanPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/IbanPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        rtpPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/RtpPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        pixPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PixPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        eftPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/EftPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        p2cPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        venmoPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/VenmoPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        paypalPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PayPalPayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        interacPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/InteracPayoutProvider'
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        interacPaymentProvider:
          $ref: '#/components/schemas/InteracProcessor'
        interacSettings:
          $ref: '#/components/schemas/InteracSettings'
        withdrawSorting:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawSort__'
        withdrawRules:
          type: array
          items:
            type: string
        firstPartyPayoutOverrides:
          $ref: '#/components/schemas/IMerchantStringFirstPartyPayoutOverrides'
        maxTransactionAmount:
          $ref: '#/components/schemas/Cents'
        minTransactionAmount:
          $ref: '#/components/schemas/Cents'
        refundBalanceLimit:
          $ref: '#/components/schemas/Cents'
        parent:
          type: string
        creditSeed:
          type: string
        withdrawSettlementLocation:
[...]
