openapi: 3.1.0
info:
  title: API Reference authentication refund API
  version: 1.0.0
servers:
- url: https://api-sandbox.coinflow.cash/api
  description: https://api-sandbox.coinflow.cash/api
tags:
- name: refund
paths:
  /refunds:
    get:
      operationId: get-refunds
      summary: Get Refunds
      tags:
      - refund
      parameters:
      - name: since
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: method
        in: query
        required: false
        schema:
          type: string
      - name: merchantId
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        description: Payment ID or User ID / Customer ID
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefundInfo'
  /refunds/{refundId}/retry:
    post:
      operationId: retry-refund
      summary: Retry a Failed Refund
      tags:
      - refund
      parameters:
      - name: refundId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund_RetryRefund_Response_200'
  /refunds/payment/{paymentId}/all:
    get:
      operationId: get-refunds-via-payment-id
      summary: View All Refunds for Payment
      tags:
      - refund
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IRefund'
  /refunds/payment/{paymentId}:
    get:
      operationId: get-refund-via-payment-id
      summary: View Refund Information for Payment
      tags:
      - refund
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund_GetRefundViaPaymentId_Response_200'
components:
  schemas:
    Blockchain.ETH:
      type: string
      enum:
      - eth
      title: Blockchain.ETH
    IPaymentMongooseTypesObjectIdDelayedSettlement:
      type: object
      properties:
        disbursedAt:
          type: string
          format: date-time
        isDisbursed:
          type: boolean
        days:
          type: number
          format: double
        scheduledDate:
          type: string
          format: date-time
        isScheduled:
          type: boolean
      required:
      - isDisbursed
      - days
      - scheduledDate
      - isScheduled
      title: IPaymentMongooseTypesObjectIdDelayedSettlement
    Blockchain.STELLAR:
      type: string
      enum:
      - stellar
      title: Blockchain.STELLAR
    SettlementLocations:
      type: string
      enum:
      - circle
      - brale
      - paper
      - brale_youpay
      - bastion
      title: SettlementLocations
    ApplePayIntegratorRegistration:
      type: object
      properties:
        domainNames:
          type: array
          items:
            type: string
        partnerMerchantName:
          type: string
        partnerMerchantValidationURI:
          type: string
        partnerInternalMerchantIdentifier:
          type: string
      required:
      - domainNames
      - partnerMerchantName
      - partnerMerchantValidationURI
      - partnerInternalMerchantIdentifier
      title: ApplePayIntegratorRegistration
    NameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        name:
          type: string
      title: NameCustomerInfo
    IVenmoPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/VenmoPaymentStatus'
        processor:
          $ref: '#/components/schemas/VenmoProcessor'
        token:
          type: string
        authOnly:
          type: boolean
        transaction:
          type: string
        capturePending:
          type: boolean
        sandboxSimulations:
          $ref: '#/components/schemas/IVenmoPaymentInfoSandboxSimulations'
      required:
      - status
      - processor
      - token
      title: IVenmoPaymentInfo
    CrbMerchantSettings:
      type: object
      properties:
        customerId:
          type: string
        cifNumber:
          type: string
        subledgerAccountNumber:
          type: string
        environment:
          $ref: '#/components/schemas/CrbEnvironment'
      required:
      - customerId
      description: 'The merchant''s CRB banking identity. CRB is onboarded manually in CRB''s

        dashboard — these values are pasted into our merchant dashboard and

        verified live against CRB before being persisted.'
      title: CrbMerchantSettings
    IMerchantUser:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        scope:
          $ref: '#/components/schemas/MerchantScope'
        secret:
          type: string
        resetNonce:
          type: string
        resetNonceUsed:
          type: boolean
        ssoProvider:
          $ref: '#/components/schemas/SsoProvider'
        ssoId:
          type: string
      required:
      - email
      - scope
      title: IMerchantUser
    ICustomerStringBlockConfigOverride:
      type: object
      properties:
        maxDistinctTokensPer30Days:
          type: number
          format: double
      description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
      title: ICustomerStringBlockConfigOverride
    PayoutProviderOption:
      type: string
      enum:
      - aptpay
      - coinfx
      - checkbook
      - BRAID
      - brale
      - mock
      title: PayoutProviderOption
    VenmoPaymentStatus:
      type: string
      enum:
      - INITIATED
      - AUTHORIZED
      - DEPOSITED
      - SETTLED
      - REFUNDED
      - FAILED
      - CHARGEBACK
      - CHARGEBACK_LOST
      - CHARGEBACK_WON
      - VOIDED
      title: VenmoPaymentStatus
    IMerchantStringRiskControls:
      type: object
      properties:
        topup:
          $ref: '#/components/schemas/TopupRiskControls'
      title: IMerchantStringRiskControls
    Blockchain.ARBITRUM:
      type: string
      enum:
      - arbitrum
      title: Blockchain.ARBITRUM
    ApaPaymentStatus:
      type: string
      enum:
      - INITIATED
      - APPROVED
      - DEPOSITED
      - SETTLED
      - FAILED
      - REFUNDED
      title: ApaPaymentStatus
    EftPayoutProvider:
      type: string
      enum:
      - checkbook
      - aptpay
      - mock
      title: EftPayoutProvider
    OverrideMethod.CustomerOverride:
      type: string
      enum:
      - customer_override
      title: OverrideMethod.CustomerOverride
    CustomWithdrawFeesConfig:
      type: object
      properties:
        asap:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        same_day:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        standard:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        card:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        iban:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        pix:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        eft:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        venmo:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        paypal:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        wire:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        interac:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        global:
          $ref: '#/components/schemas/CustomWithdrawFeeValue'
        lineItemLabel:
          type: string
        isBundled:
          type: boolean
      required:
      - global
      - lineItemLabel
      - isBundled
      description: Make all properties in T optional
      title: CustomWithdrawFeesConfig
    BlockedLevel:
      type: string
      enum:
      - Unverified
      - Suspended
      title: BlockedLevel
    ReserveStatus:
      type: string
      enum:
      - Disabled
      - Active
      - SweepFixed
      title: ReserveStatus
    MerchantRfiRef:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: '#/components/schemas/RfiStatus'
        url:
          type: string
        assignmentFormId:
          type: string
      required:
      - name
      - status
      - url
      title: MerchantRfiRef
    ISubscriptionMongooseTypesObjectIdCustomer:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ICustomer_mongoose.Types.ObjectId_'
      title: ISubscriptionMongooseTypesObjectIdCustomer
    RefundStatus:
      type: string
      enum:
      - Pending
      - Invoiced
      - Settled
      - Failed
      title: RefundStatus
    ACHSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/AchProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxAmount:
          $ref: '#/components/schemas/Cents'
        nameMatchThreshold:
          type: number
          format: double
        requireKycBeforePurchase:
          type: boolean
        withdrawNameMatchThreshold:
          type: number
          format: double
        allowDelayedTransactions:
          type: boolean
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        instantSettle:
          type: boolean
        minFee:
          $ref: '#/components/schemas/Cents'
        maxFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/Cents'
        settlementDays:
          type: number
          format: double
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - allowDelayedTransactions
      - customerEmailNotifications
      - merchantEmailNotifications
      - instantSettle
      title: ACHSettings
    IPayment_mongoose.Types.ObjectId_:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/mongoose.Types.ObjectId'
        paymentId:
          type: string
        paymentIntentId:
          type: string
        totals:
          $ref: '#/components/schemas/TotalsResponse'
        customer:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdCustomer'
        merchant:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdMerchant'
        chargebackProtectionDecision:
          $ref: '#/components/schemas/ChargebackProtectionDecision'
        liabilityOwner:
          $ref: '#/components/schemas/LiabilityOwner'
        error:
          type: string
        signature:
          type: string
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        createdAt:
          type: string
          format: date-time
        velocityDate:
          type: string
          format: date-time
          description: 'Date when velocity check was done and used to bucket payments into velocity days

            Should match when a velocity hold was created if one was'
        cardInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdCardInfo'
        bankTransferInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdBankTransferInfo'
        pixInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdPixInfo'
        ibanInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdIbanInfo'
        wireInfo:
          $ref: '#/components/schemas/IWirePaymentInfo'
        cashAppInfo:
          $ref: '#/components/schemas/ICashAppPaymentInfo'
        paypalInfo:
          $ref: '#/components/schemas/IPayPalPaymentInfo'
        venmoInfo:
          $ref: '#/components/schemas/IVenmoPaymentInfo'
        apaInfo:
          $ref: '#/components/schemas/IApaPaymentInfo'
        interacInfo:
          $ref: '#/components/schemas/IInteracPaymentInfo'
        cryptoInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdCryptoInfo'
        exchangeInfo:
          $ref: '#/components/schemas/ExchangeInfo'
        subscription:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdSubscription'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        blockchain:
          $ref: '#/components/schemas/OperationalBlockchain'
        wallet:
          type: string
        redemptionCheck:
          type: boolean
        marketplaceInfo:
          $ref: '#/components/schemas/MarketplaceInfo'
        destination:
          type: string
        destinationSettlementToken:
          type: string
        overrideAuditLog:
          $ref: '#/components/schemas/OverrideAuditLog'
        customerUsdcTransferData:
          $ref: '#/components/schemas/CustomerUsdcTransferData'
        customerUsdcTransferDataV2:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2'
        delayedSettlement:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdDelayedSettlement'
        referrer:
          type: string
        alertStatus:
          $ref: '#/components/schemas/KytAlertStatus'
        refundInfo:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdRefundInfo'
        userLocation:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdUserLocation'
          description: 'Browser-captured geolocation at the time of the request, when the caller

            supplied one. Stored independently of payment method so the merchant

            dashboard can render a map for any purchase type. `resolved*` fields are

            populated when the GEOLOCATION enforcement step happened to reverse-

            geocode the coordinates — they''re a free piggyback on the lock cache,

            not a guarantee.'
        entityTag:
          $ref: '#/components/schemas/EntityTag'
        vendorTransfer:
          $ref: '#/components/schemas/IPaymentMongooseTypesObjectIdVendorTransfer'
        feesInvoicedPeriod:
          type: string
        vendorInfo:
          $ref: '#/components/schemas/Record_string.string_'
      required:
      - _id
      - paymentId
      - totals
      - customer
      - merchant
      - chargebackProtectionDecision
      - createdAt
      title: IPayment_mongoose.Types.ObjectId_
    ICustomerStringMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: ICustomerStringMerchant
    RainAutoTopUpCadence:
      type: string
      enum:
      - transaction
      - hour
      - day
      - week
      - month
      title: RainAutoTopUpCadence
    CustomerUsdcTransferDataV2:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        value:
          type: string
        validAfter:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidAfter'
        validBefore:
          $ref: '#/components/schemas/CustomerUsdcTransferDataV2ValidBefore'
        nonce:
          type: string
        signature:
          type: string
      required:
      - from
      - to
      - value
      - validAfter
      - validBefore
      - nonce
      - signature
      description: 'V2 of CustomerUsdcTransferData — replaces the (v, r, s) triple with a single

        `signature` bytes string, matching USDC FiatTokenV2_2''s bytes-overload

        `transferWithAuthorization`. All other fields unchanged from V1.'
      title: CustomerUsdcTransferDataV2
    IPaymentMongooseTypesObjectIdRefundInfo:
      type: object
      properties:
        count:
          type: number
          format: double
        refundedAt:
          type: string
          format: date-time
        amount:
          $ref: '#/components/schemas/CurrencyCents'
      required:
      - count
      - refundedAt
      - amount
      title: IPaymentMongooseTypesObjectIdRefundInfo
    IPaymentMongooseTypesObjectIdPixInfo:
      type: object
      properties:
        reason:
          type: string
        processed:
          type: string
          format: date-time
        transaction:
          type: string
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        expiration:
          type: string
          format: date-time
        processor:
          $ref: '#/components/schemas/PixProcessor'
        status:
          $ref: '#/components/schemas/PixPaymentStatus'
      required:
      - expiration
      - processor
      - status
      title: IPaymentMongooseTypesObjectIdPixInfo
    HighnoteMerchantSettings:
      type: object
      properties:
        businessId:
          type: string
        primaryAuthorizedPersonId:
          type: string
          description: 'Highnote id of the primary business person, captured from the

            createBusiness response — onboardBusiness attributes its consent to it.'
        merchantAcceptorId:
          type: string
        applicationSubmittedAt:
          type: string
          format: date-time
          description: 'Set when onboardBusiness (the ProductApplication submission) succeeded.

            A re-run while underwriting is still Pending must not re-submit the

            application — Highnote rejects duplicates, which would overwrite a

            healthy Pending status with an error.'
      required:
      - businessId
      title: HighnoteMerchantSettings
    TokenizationProviderOption:
      type: string
      enum:
      - bt
      - tokenex
      title: TokenizationProviderOption
    NuveiV1MerchantArgs:
      type: object
      properties:
        merchantId:
          type: string
        merchantSiteId:
          type: string
        conversionAffiliateCountryCode:
          type: string
      required:
      - merchantId
      - merchantSiteId
      title: NuveiV1MerchantArgs
    RefundsPaymentPaymentIdGetResponsesContentApplicationJsonSchemaMerchant:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IMerchant_mongoose.Types.ObjectId_'
      title: RefundsPaymentPaymentIdGetResponsesContentApplicationJsonSchemaMerchant
    Partial_WithdrawLimit_:
      type: object
      properties:
        singleTxLimit:
          $ref: '#/components/schemas/Cents'
        dailyLimit:
          $ref: '#/components/schemas/Cents'
        monthlyLimit:
          $ref: '#/components/schemas/Cents'
      description: Make all properties in T optional
      title: Partial_WithdrawLimit_
    InterchangeSettings:
      type: object
      properties:
        useType:
          type: boolean
        useRegion:
          type: boolean
        useScheme:
          type: boolean
        useBrand:
          type: boolean
        useDurbin:
          type: boolean
      required:
      - useType
      - useRegion
      - useScheme
      - useBrand
      - useDurbin
      title: InterchangeSettings
    IRefundPayment:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IPayment_string_'
      title: IRefundPayment
    VerificationVendor:
      type: string
      enum:
      - middesk
      - sumsub
      - sumsub_docv
      - persona
      - persona_kyb
      title: VerificationVendor
    InteracPaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - EXPIRED
      - REFUNDED
      title: InteracPaymentStatus
    Record_any.any_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_any.any_
    InteracPayoutProvider:
      type: string
      enum:
      - checkbook
      - mock
      - aptpay
      title: InteracPayoutProvider
    IMerchantStringWithdrawFeePayment:
      type: object
      properties:
        paysGasFees:
          $ref: '#/components/schemas/Partial_Record_Blockchain.boolean__'
        bundleDelegatedPayoutFees:
          type: boolean
        paysSwapFees:
          type: boolean
        paysWithdrawFees:
          type: boolean
      title: IMerchantStringWithdrawFeePayment
    Blockchain.MONAD:
      type: string
      enum:
      - monad
      title: Blockchain.MONAD
    ISubscriptionStringMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: ISubscriptionStringMerchant
    CryptoTiers:
      type: string
      enum:
      - stables
      - majors
      - volatile
      title: CryptoTiers
    VerificationStatus:
      type: string
      enum:
      - pending
      - partial-approval
      - approved
      - rejected
      - expired
      title: VerificationStatus
    Blockchain:
      type: string
      enum:
      - solana
      - eth
      - polygon
      - base
      - user
      - arbitrum
      - stellar
      - monad
      - tempo
      title: Blockchain
    VelocityLimitMode:
      type: string
      enum:
      - default
      - dynamic
      - custom
      - no_limit
      title: VelocityLimitMode
    WebhookVersion:
      type: string
      enum:
      - Legacy
      - Version 1
      - Version 2
      - Version 3
      title: WebhookVersion
    SubscriptionInterval:
      type: string
      enum:
      - Daily
      - Weekly
      - Monthly
      - Yearly
      title: SubscriptionInterval
    OverrideMethod:
      type: string
      enum:
      - customer_override
      - ignored_rejection
      - pending_review
      - inline_override
      title: OverrideMethod
    IPaymentStringSubscription:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ISubscription_string_'
      title: IPaymentStringSubscription
    ApaCredentialType:
      type: string
      enum:
      - PHONE
      - EMAIL
      - PAN
      title: ApaCredentialType
    BinInfo:
      type: object
      properties:
        cardType:
          $ref: '#/components/schemas/Funding'
        cardName:
          type: string
        cardSegment:
          $ref: '#/components/schemas/Segment'
        country:
          $ref: '#/components/schemas/BinInfoCountry'
        bankName:
          type: string
      required:
      - cardType
      - cardName
      - cardSegment
      - country
      - bankName
      title: BinInfo
    IMerchantMongooseTypesObjectIdWalletsStellar:
      type: object
      properties:
        usdcPayer:
          type: string
      required:
      - usdcPayer
      title: IMerchantMongooseTypesObjectIdWalletsStellar
    RainAccountDetails:
      type: object
      properties:
        beneficiaryName:
          type: string
        beneficiaryAddress:
          type: string
        beneficiaryBankName:
          type: string
        beneficiaryBankAddress:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
      required:
      - beneficiaryName
      - beneficiaryAddress
      - accountNumber
      - routingNumber
      title: RainAccountDetails
    WithdrawSort:
      type: string
      enum:
      - DEFAULT
      - CHEAPEST
      - ORDERED
      - LIMIT_CONSUMPTION
      title: WithdrawSort
    Cents:
      type: object
      properties:
        cents:
          type: integer
      required:
      - cents
      title: Cents
    RainAutoTopUpSettings:
      type: object
      properties:
        enabled:
          type: boolean
        targetUsdc:
          type: number
          format: double
        cadence:
          $ref: '#/components/schemas/RainAutoTopUpCadence'
        lastRunAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
      required:
      - enabled
      - targetUsdc
      - cadence
      title: RainAutoTopUpSettings
    Record_string.any_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_string.any_
    InteracSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/InteracProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: InteracSettings
    CurrencyCents:
      type: object
      properties:
        cents:
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
      required:
      - cents
      - currency
      title: CurrencyCents
    RefundSource:
      type: string
      enum:
      - Credits
      - Usdc
      - Settlement
      - None
      title: RefundSource
    ProgramWhitelistStatus:
      type: string
      enum:
      - approved
      - pending
      - rejected
      title: ProgramWhitelistStatus
    AptpayCanadaMerchantSettings:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: AptpayCanadaMerchantSettings
    AftSettings:
      type: object
      properties:
        enabled:
          type: boolean
        type:
          $ref: '#/components/schemas/AftType'
        purpose:
          $ref: '#/components/schemas/AftPurpose'
        merchantA2AMastercardAftRecipient:
          $ref: '#/components/schemas/AftSettingsMerchantA2AMastercardAftRecipient'
      required:
      - enabled
      - type
      - purpose
      title: AftSettings
    FeePayerMode:
      type: string
      enum:
      - user
      - merchant
      - invoice
      title: FeePayerMode
    RefundsPaymentPaymentIdGetResponsesContentApplicationJsonSchemaPayment:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IPayment_mongoose.Types.ObjectId_'
      title: RefundsPaymentPaymentIdGetResponsesContentApplicationJsonSchemaPayment
    IMerchantStringApiKeysItems:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/MerchantScope'
        ips:
          type: array
          items:
            type: string
        disabled:
          type: boolean
        privateUuid:
          type: string
        publicUuid:
          type: string
      required:
      - ips
      - privateUuid
      - publicUuid
      title: IMerchantStringApiKeysItems
    IMerchantMongooseTypesObjectIdApiKeysItems:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/MerchantScope'
        ips:
          type: array
          items:
            type: string
        disabled:
          type: boolean
        privateUuid:
          type: string
        publicUuid:
          type: string
      required:
      - ips
      - privateUuid
      - publicUuid
      title: IMerchantMongooseTypesObjectIdApiKeysItems
    IvySettings:
      type: object
      properties:
        gbpPayinAccountId:
          type: string
        eurAccountId:
          type: string
      required:
      - gbpPayinAccountId
      - eurAccountId
      title: IvySettings
    BlockingRuleScope:
      type: string
      enum:
      - WITHDRAWAL
      - CHECKOUT
      - GLOBAL
      title: BlockingRuleScope
    EditorType:
      type: string
      enum:
      - Coinflow
      - Merchant
      title: EditorType
    IbanPayoutProvider:
      type: string
      enum:
      - merge
      - mock
      - ivy
      title: IbanPayoutProvider
    IRefund:
      type: object
      properties:
        _id:
          type: string
        totals:
          $ref: '#/components/schemas/RefundTotals'
        customer:
          $ref: '#/components/schemas/IRefundCustomer'
        merchant:
          $ref: '#/components/schemas/IRefundMerchant'
        payment:
          $ref: '#/components/schemas/IRefundPayment'
        signature:
          type: string
        status:
          $ref: '#/components/schemas/RefundStatus'
        reimbursementStatus:
          $ref: '#/components/schemas/ReimbursementStatus'
        reimbursementId:
          type: string
        outstanding:
          $ref: '#/components/schemas/Cents'
        source:
          $ref: '#/components/schemas/RefundSource'
        method:
          $ref: '#/components/schemas/RefundMethod'
        provider:
          type: string
        invoicedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        reason:
          $ref: '#/components/schemas/RefundReason'
        refundedBy:
          $ref: '#/components/schemas/MerchantEditor'
        failureReason:
          type: string
        cryptoRefundInfo:
          $ref: '#/components/schemas/CryptoRefundInfo'
        walletDebitStatus:
          $ref: '#/components/schemas/WalletDebitStatus'
        walletDebitTxHash:
          type: string
        returnSignature:
          type: string
      required:
      - _id
      - totals
      - customer
      - merchant
      - payment
      - status
      - reimbursementStatus
      - outstanding
      - source
      - method
      - provider
      - createdAt
      - updatedAt
      title: IRefund
    LinkedBankAccount:
      type: object
      properties:
        routingNumber:
          type: string
        accountNumber:
          type: string
        accountType:
          $ref: '#/components/schemas/LinkedBankAccountAccountType'
        institutionName:
          type: string
        plaidAccessToken:
          type: string
        plaidAccountId:
          type: string
      required:
      - routingNumber
      - accountNumber
      - accountType
      - plaidAccessToken
      - plaidAccountId
      title: LinkedBankAccount
    CashAppSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/CashAppProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: CashAppSettings
    BinInfoCountry:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/Country'
      title: BinInfoCountry
    WebhookSettings:
      type: object
      properties:
        webhookUrls:
          type: array
          items:
            type: string
        version:
          $ref: '#/components/schemas/WebhookVersion'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        disableAuthorizationHeader:
          type: boolean
        disableSubmerchantToParentWebhooks:
          type: boolean
      required:
      - webhookUrls
      - version
      - subscriptions
      title: WebhookSettings
    IWireProviderSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/WireProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        minFee:
          $ref: '#/components/schemas/Cents'
        maxFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/Cents'
        dailyLimit:
          $ref: '#/components/schemas/Cents'
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: IWireProviderSettings
    MerchantGoLiveChecklist:
      type: object
      properties:
        acceptedToS:
          type: boolean
        programWhitelistRequests:
          type: array
          items:
            $ref: '#/components/schemas/ProgramWhitelistRequest'
        rfis:
          type: array
          items:
            $ref: '#/components/schemas/MerchantRfiRef'
        onboardingFormSubmitted:
          type: boolean
        applicationSubmitted:
          type: boolean
        applicationSubmittedAt:
          type: string
          format: date-time
        lockIndustry:
          type: boolean
      title: MerchantGoLiveChecklist
    MerchantTheme:
      type: object
      properties:
        showCardIcon:
          type: boolean
        placeholderColor:
          type: string
        expirationPlaceholder:
          type: string
        cvvPlaceholder:
          type: string
        cardNumberPlaceholder:
          type: string
        fontWeight:
          type: string
        fontSize:
          type: string
        style:
          $ref: '#/components/schemas/MerchantStyle'
        font:
          type: string
        ctaColor:
          type: string
        textColorAction:
          type: string
        textColorAccent:
          type: string
        textColor:
          type: string
        backgroundAccent2:
          type: string
        backgroundAccent:
          type: string
        cardBackground:
          type: string
        background:
          type: string
        primary:
          type: string
      title: MerchantTheme
    BraidMerchantSettings:
      type: object
      properties:
        businessId:
          type: number
          format: double
        accountId:
          type: number
          format: double
          description: the Braid operating accountId
        accountNumber:
          type: string
          description: the Braid operating account number
        reserveAccountId:
          type: number
          format: double
          description: the Braid reserve accountId
        reserveAccountNumber:
          type: string
          description: the Braid reserve account number
        rollingAccountId:
          type: number
          format: double
          description: the Braid rolling accountId
        rollingAccountNumber:
          type: string
          description: the Braid rolling account number
      required:
      - businessId
      - accountId
      - accountNumber
      - reserveAccountId
      - reserveAccountNumber
      title: BraidMerchantSettings
    IMerchantStringFirstPartyPayoutOverrides:
      type: object
      properties:
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
      title: IMerchantStringFirstPartyPayoutOverrides
    Blockchain.SOLANA:
      type: string
      enum:
      - solana
      title: Blockchain.SOLANA
    IMerchant_mongoose.Types.ObjectId_:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/mongoose.Types.ObjectId'
        merchantId:
          type: string
        verification:
          $ref: '#/components/schemas/Verification'
        brand:
          $ref: '#/components/schemas/MerchantBrandSettings'
        colors:
          $ref: '#/components/schemas/MerchantTheme'
        url:
          type: string
        withdrawFees:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWithdrawFees'
        customWithdrawFees:
          $ref: '#/components/schemas/CustomWithdrawFeesConfig'
        customPayInFees:
          $ref: '#/components/schemas/CustomPayInFeesConfig'
        wallets:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWallets'
        apiKey:
          type: string
        webhookValidationKey:
          type: string
        nmiWebhookValidationKey:
          type: string
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdApiKeysItems'
        kycType:
          $ref: '#/components/schemas/KycType'
        settlementToken:
          $ref: '#/components/schemas/StableCoin'
        settlementAddresses:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdSettlementAddresses'
        users:
          type: array
          items:
            $ref: '#/components/schemas/IMerchantUser'
        ubos:
          type: array
          items:
            $ref: '#/components/schemas/UboEntry'
        goLiveChecklist:
          $ref: '#/components/schemas/MerchantGoLiveChecklist'
        webhookSettings:
          $ref: '#/components/schemas/WebhookSettings'
        cardSettings:
          $ref: '#/components/schemas/CardSettings'
        achSettings:
          $ref: '#/components/schemas/ACHSettings'
        citconSettings:
          $ref: '#/components/schemas/CitconSettings'
        aptPayCanadaSettings:
          $ref: '#/components/schemas/AptPayCanadaSettings'
        wireSettings:
          $ref: '#/components/schemas/IWireProviderSettings'
        pixSettings:
          $ref: '#/components/schemas/PixSettings'
        ibanSettings:
          $ref: '#/components/schemas/IbanSettings'
        cryptoPayinSettings:
          $ref: '#/components/schemas/CryptoPayInSettings'
        passiveWithdrawSettings:
          $ref: '#/components/schemas/PassiveWithdrawSettings'
        cashAppSettings:
          $ref: '#/components/schemas/CashAppSettings'
        rainCompanyCards:
          $ref: '#/components/schemas/RainCompanyCardsSettings'
        paypalSettings:
          $ref: '#/components/schemas/PayPalSettings'
        venmoSettings:
          $ref: '#/components/schemas/VenmoSettings'
        apaSettings:
          $ref: '#/components/schemas/ApaSettings'
        verisoulSettings:
          $ref: '#/components/schemas/VerisoulSettings'
        blockConfig:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdBlockConfig'
        hideBranding:
          type: boolean
        onlyShowTotal:
          type: boolean
        skipSendWithdrawEmail:
          type: boolean
        sendInvoiceNotifications:
          type: boolean
        advancedAnalytics:
          type: boolean
        billingEmails:
          type: array
          items:
            type: string
        withdrawFeePayment:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdWithdrawFeePayment'
        pushToCardEnabled:
          type: boolean
        requireAniCheck:
          type: boolean
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
        ibanPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/IbanPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        rtpPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/RtpPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        pixPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PixPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        eftPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/EftPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        p2cPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        venmoPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/VenmoPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        paypalPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/PayPalPayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        interacPayoutProviders:
          type: array
          items:
            $ref: '#/components/schemas/InteracPayoutProvider'
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        interacPaymentProvider:
          $ref: '#/components/schemas/InteracProcessor'
        interacSettings:
          $ref: '#/components/schemas/InteracSettings'
        withdrawSorting:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawSort__'
        withdrawRules:
          type: array
          items:
            $ref: '#/components/schemas/mongoose.Types.ObjectId'
        firstPartyPayoutOverrides:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides'
        maxTransactionAmount:
          $ref: '#/components/schemas/Cents'
        minTransactionAmount:
          $ref: '#/components/schemas/Cents'
        refundBalanceLimit:
          $ref: '#/components/schemas/Cents'
        parent:
          type: string
        creditSeed:
          type: string
        withdrawSettlementLocation:
          $ref: '#/components/schemas/SettlementLocations'
        enforceJwt:
          type: boolean
        enforceCheckoutJwt:
          type: boolean
        externalVerificationLinks:
          type: boolean
        whitelistedAncestorUrls:
          type: array
          items:
            type: string
        banDuplicateAccounts:
          type: boolean
        fxFees:
          $ref: '#/components/schemas/Partial_Record_Currency.number__'
        blocked:
          $ref: '#/components/schemas/BlockedStatus'
        vendorSettings:
          $ref: '#/components/schemas/VendorSettings'
        generatedDescription:
          type: string
        bankSettlementOptions:
          $ref: '#/components/schemas/MerchantBankSettlementOptions'
        allowAttestedKyc:
          type: boolean
        attestedKycSsnNotRequired:
          type: boolean
        allowAccountSharing:
          type: boolean
        personaKycShareTokenTemplate:
          type: string
        delayedSettlementDays:
          type: number
          format: double
          description: 'Number of business days to delay stablecoin settlement after payment capture.

            Only applies to USDC settlements. 0 means no delay (immediate settlement).

            Maximum value is 5 days.'
        sendPresettleWebhooks:
          type: boolean
        velocitySettings:
          $ref: '#/components/schemas/VelocityControlSettings'
        interchangeFees:
          $ref: '#/components/schemas/InterchangeFees'
        enforceLivenessKyc:
          type: boolean
        canCreateBankAccounts:
          type: boolean
        checkbookSettings:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdCheckbookSettings'
        reserveSettings:
          $ref: '#/components/schemas/ReserveSettings'
        globalRateLimit:
          type: number
          format: double
        banProxiesForCheckoutEndpoints:
          type: boolean
        riskControls:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdRiskControls'
        acceptedToS:
          type: boolean
        ssoSettings:
          $ref: '#/components/schemas/MerchantSsoSettings'
        chargebackFeeCents:
          type: number
          format: double
        chargebackEmails:
          type: array
          items:
            type: string
        fraudEmails:
          type: array
          items:
            type: string
        linkedBankAccount:
          $ref: '#/components/schemas/LinkedBankAccount'
        customerDefaultOverrideLimit:
          $ref: '#/components/schemas/Cents'
        customerOverrideLimitCeiling:
          $ref: '#/components/schemas/Cents'
        customerDefaultExposureLimit:
          $ref: '#/components/schemas/Cents'
        dailyExposureLimit:
          $ref: '#/components/schemas/Cents'
        monthlyExposureLimit:
          $ref: '#/components/schemas/Cents'
        mcc:
          type: string
        processing:
          $ref: '#/components/schemas/IMerchantMongooseTypesObjectIdProcessing'
      required:
      - _id
      - merchantId
      - verification
      - withdrawFees
      - wallets
      - apiKey
      - apiKeys
      - kycType
      - settlementToken
      - users
      - ubos
      - goLiveChecklist
      - cardSettings
      - achSettings
      - wireSettings
      - pixSettings
      - ibanSettings
      - cryptoPayinSettings
      - cashAppSettings
      - paypalSettings
      - venmoSettings
      - apaSettings
      - hideBranding
      - onlyShowTotal
      - skipSendWithdrawEmail
      - sendInvoiceNotifications
      - advancedAnalytics
      - pushToCardEnabled
      - requireAniCheck
      - interacSettings
      - refundBalanceLimit
      - creditSeed
      - withdrawSettlementLocation
      - enforceJwt
      - delayedSettlementDays
      - interchangeFees
      title: IMerchant_mongoose.Types.ObjectId_
    IBlockingRule:
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/BlockingRuleScope'
        method:
          $ref: '#/components/schemas/BlockingRuleMethod'
        listMode:
          $ref: '#/components/schemas/BlockingRuleListMode'
        states:
          type: array
          items:
            $ref: '#/components/schemas/USState'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      required:
      - scope
      - method
      - states
      description: "A single geo-blocking rule on a merchant. Multiple rules of the same scope\nare OR-combined: any matching rule blocks the request. When both DENY and\nALLOW rules are configured, DENY rules are evaluated first — a matching\nDENY blocks the request even if the user is on a separate ALLOW list.\n\n`listMode` controls interpretation (defaults to `DENY`):\n- `DENY`: the listed countries/states are blocked.\n- `ALLOW`: ONLY the listed countries/states are permitted; everything else\n  is blocked.\n\nA rule may specify `countries` (ISO 3166-1 alpha-2 codes), `states`\n(US state codes), or both.\n\n- `scope: GLOBAL` applies to BOTH withdrawal and checkout flows; only valid\n  with `method: IP` (the only method that makes sense for both flows).\n- `method: KYC_ADDRESS` is only valid with `scope: WITHDRAWAL`.\n- `method: BILLING_ADDRESS` is only valid with `scope: CHECKOUT`.\n- `method: IP` is **strictly** fail-closed in both DENY and ALLOW modes:\n  missing IP, failed lookup, or an unresolvable US state resolved from\n  the IP rejects the withdrawal. Both the resolved country and the\n  resolved state (US-only) are evaluated on every request against the\n  rule's `countries` and `states` lists. Skipped on merchant-initiated\n  payouts where no end-user IP exists (`merchantInitiated: true`).\n- `method: GEOLOCATION` is a **best-effort, optional** signal and only\n  valid with `scope: WITHDRAWAL`. When the caller supplies a fresh,\n  resolvable `userLocation`, the rule enforces strictly against the\n  block list. When the signal is absent (browser permission denied,\n  merchant did not send coords, stale capture, or reverse-geocode\n  failure), enforcement is skipped — pair with an `IP` rule for hard\n  real-time enforcement."
      title: IBlockingRule
    MpcWalletProvider:
      type: string
      enum:
      - metakeep
      description: 'The MPC provider Coinflow uses to custody managed settlement wallets. Single

        source of truth — the merchant type, the predicate, and the query filter all

        reference this so a new provider can''t silently pass one check but not another.'
      title: MpcWalletProvider
    IbanSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/IbanProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: IbanSettings
    IbanPaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - EXPIRED
      - REFUNDED
      title: IbanPaymentStatus
    PortalBrand:
      type: string
      enum:
      - approvely
      - seamlesschex
      - coinflow
      - yourbrandhere
      - Plan2Play
      - tango
      - interlace
      - tapvia
      title: PortalBrand
    VendorSettings:
      type: object
      properties:
        aptPayIdentity:
          type: number
          format: double
        aptPayUSCoinflow:
          type: boolean
        braid:
          $ref: '#/components/schemas/BraidMerchantSettings'
        crb:
          $ref: '#/components/schemas/CrbMerchantSettings'
        highnote:
          $ref: '#/components/schemas/HighnoteMerchantSettings'
        ivy:
          $ref: '#/components/schemas/IvySettings'
        paypal:
          $ref: '#/components/schemas/PayPalVendorSettings'
        koard:
          $ref: '#/components/schemas/VendorSettingsKoard'
      title: VendorSettings
    CVVResponseCode:
      type: string
      enum:
      - M
      - N
      - P
      - S
      - U
      - X
      description: 'CVV (Card Verification Value) Response Codes

        These codes indicate the results of CVV verification checks'
      title: CVVResponseCode
    OverrideAuditLog:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/OverrideMethod'
        editor:
          type: string
        editorType:
          $ref: '#/components/schemas/EditorType'
        overriddenAt:
          type: string
          format: date-time
        ipAddress:
          type: string
      required:
      - reason
      title: OverrideAuditLog
    SplitNameCustomerInfo:
      type: object
      properties:
        verificationId:
          type: string
        displayName:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        ip:
          type: string
        lat:
          type: string
        lng:
          type: string
        dob:
          type: string
          description: Date of birth in YYYY-MM-DD format
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
      - firstName
      - lastName
      title: SplitNameCustomerInfo
    IPaymentMongooseTypesObjectIdCryptoInfo:
      type: object
      properties:
        tier:
          $ref: '#/components/schemas/CryptoTiers'
        paymentCurrency:
          type: string
        overpaymentAmount:
          type: string
        actualPaymentAmountUSD:
          type: string
        depositAddress:
          type: string
        refundAddress:
          type: string
        refundTransactionHash:
          type: string
        sessionId:
          type: string
        reason:
          type: string
        tokenLogoUrl:
          type: string
        blockchainLogoUrl:
          type: string
        tokenAmount:
          type: string
        token:
          type: string
        sponsoredTransactionHash:
          type: string
        originatingTransactionHash:
          type: string
        originatingWallet:
          type: string
        processed:
          type: string
          format: date-time
        transaction:
          type: string
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        status:
          $ref: '#/components/schemas/CryptoPaymentStatus'
      required:
      - status
      title: IPaymentMongooseTypesObjectIdCryptoInfo
    CustomPayInFeeValue:
      oneOf:
      - $ref: '#/components/schemas/CustomPayInFeeValue0'
      - $ref: '#/components/schemas/CustomPayInFeeValue1'
      title: CustomPayInFeeValue
    CitconSettingsFundPurpose:
      type: string
      enum:
      - goods
      - services
      - prizes
      - rebates
      - others
      title: CitconSettingsFundPurpose
    ISubscription_mongoose.Types.ObjectId_:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/mongoose.Types.ObjectId'
        customer:
          $ref: '#/components/schemas/ISubscriptionMongooseTypesObjectIdCustomer'
        merchant:
          $ref: '#/components/schemas/ISubscriptionMongooseTypesObjectIdMerchant'
        plan:
          $ref: '#/components/schemas/ISubscriptionMongooseTypesObjectIdPlan'
        cardProcessor:
          $ref: '#/components/schemas/PaymentProcessor'
        achProcessor:
          $ref: '#/components/schemas/AchProcessor'
        reference:
          type: string
        nextPaymentAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        webhookInfo:
          $ref: '#/components/schemas/AnyObject'
        marketplaceInfo:
          $ref: '#/components/schemas/Pick_MarketplaceInfo.fixedFee-or-feePercentage_'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          $ref: '#/components/schemas/SubscriptionVersion'
      required:
      - _id
      - customer
      - merchant
      - plan
      - reference
      - status
      - createdAt
      - updatedAt
      - version
      title: ISubscription_mongoose.Types.ObjectId_
    IPaymentMongooseTypesObjectIdCustomer:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ICustomer_mongoose.Types.ObjectId_'
      title: IPaymentMongooseTypesObjectIdCustomer
    ChargebackProtectionDecision:
      type: string
      enum:
      - approved
      - rejected
      - Not Reviewed
      - Not Enabled
      - Overridden
      - Pending Review
      title: ChargebackProtectionDecision
    IPaymentStringIbanInfo:
      type: object
      properties:
        reference:
          type: string
        failedAttempts:
          type: array
          items:
            $ref: '#/components/schemas/FailedIbanAttempt'
        accountHolder:
          type: string
        reason:
          type: string
        transactionId:
          type: string
        processed:
          type: string
          format: date-time
        tokenSubtotal:
          $ref: '#/components/schemas/TokenSubtotal'
        transaction:
          type: string
        expiration:
          type: string
          format: date-time
        token:
          type: string
        processor:
          $ref: '#/components/schemas/IbanProcessor'
        status:
          $ref: '#/components/schemas/IbanPaymentStatus'
      required:
      - expiration
      - token
      - processor
      - status
      title: IPaymentStringIbanInfo
    IMerchantMongooseTypesObjectIdSettlementAddressesRecipientAddressesItems:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/Record_string.any_'
        createdAt:
          type: string
          format: date-time
        recipient:
          type: string
      required:
      - createdAt
      - recipient
      title: IMerchantMongooseTypesObjectIdSettlementAddressesRecipientAddressesItems
    Refund_RetryRefund_Response_200:
      type: object
      properties:
        jobId:
          $ref: '#/components/schemas/RefundsRefundIdRetryPostResponsesContentApplicationJsonSchemaJobId'
      required:
      - jobId
      title: Refund_RetryRefund_Response_200
    IPayPalPaymentInfoSandboxSimulations:
      type: object
      properties:
        refundFailure:
          type: boolean
        captureFailure:
          type: boolean
        authorizationFailure:
          type: boolean
      title: IPayPalPaymentInfoSandboxSimulations
    CryptoRefundInfo:
      type: object
      properties:
        refundTransactionHash:
          type: string
        refundTransactionUrl:
          type: string
        refundAddress:
          type: string
        amountUSD:
          type: string
        tokenAmount:
          type: string
        paymentCurrency:
          type: string
        denominationType:
          $ref: '#/components/schemas/RefundDenominationType'
      required:
      - refundAddress
      - denominationType
      title: CryptoRefundInfo
    IMerchantMongooseTypesObjectIdWalletsSolana:
      type: object
      properties:
        usdcPayer:
          type: string
        feePayer:
          type: string
      required:
      - usdcPayer
      - feePayer
      title: IMerchantMongooseTypesObjectIdWalletsSolana
    IPaymentStringBankTransferInfo:
      type: object
      properties:
        reason:
          type: string
        token:
          type: string
        batchedAt:
          type: string
          format: date-time
        refundTransferId:
          type: string
        refundReview:
          type: boolean
        transaction:
          type: string
        processor:
          $ref: '#/components/schemas/AchProcessor'
        status:
          $ref: '#/components/schemas/AchPaymentStatus'
      required:
      - refundReview
      - processor
      - status
      title: IPaymentStringBankTransferInfo
    RtpPayoutProvider:
      type: string
      enum:
      - dwolla
      - mock
      - aptpay
      - aptpayRtp
      - checkbook
      - brale
      title: RtpPayoutProvider
    CustomerInfo:
      oneOf:
      - $ref: '#/components/schemas/SplitNameCustomerInfo'
      - $ref: '#/components/schemas/NameCustomerInfo'
      title: CustomerInfo
    Partial_Record_WithdrawSpeed.WithdrawSort__:
      type: object
      properties:
        asap:
          $ref: '#/components/schemas/WithdrawSort'
        same_day:
          $ref: '#/components/schemas/WithdrawSort'
        standard:
          $ref: '#/components/schemas/WithdrawSort'
        card:
          $ref: '#/components/schemas/WithdrawSort'
        iban:
          $ref: '#/components/schemas/WithdrawSort'
        pix:
          $ref: '#/components/schemas/WithdrawSort'
        eft:
          $ref: '#/components/schemas/WithdrawSort'
        venmo:
          $ref: '#/components/schemas/WithdrawSort'
        paypal:
          $ref: '#/components/schemas/WithdrawSort'
        wire:
          $ref: '#/components/schemas/WithdrawSort'
        interac:
          $ref: '#/components/schemas/WithdrawSort'
      description: Make all properties in T optional
      title: Partial_Record_WithdrawSpeed.WithdrawSort__
    PassiveWithdrawSettings:
      type: object
      properties:
        enabled:
          type: boolean
        maxActiveAddresses:
          type: number
          format: double
          description: 'Cap on the number of simultaneously-active withdraw passive deposit

            addresses for this merchant. Undefined = no cap.'
      required:
      - enabled
      description: 'Merchant-level settings for the withdrawer-side passive deposit address

        flow (CryptoWithdrawService). Independent from CryptoPayInSettings.'
      title: PassiveWithdrawSettings
    IPaymentStringVendorTransfer:
      type: object
      properties:
        external:
          type: string
        internal:
          type: string
      required:
      - internal
      title: IPaymentStringVendorTransfer
    CustomerUsdcTransferData:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        value:
          type: string
        validAfter:
          $ref: '#/components/schemas/CustomerUsdcTransferDataValidAfter'
        validBefore:
          $ref: '#/components/schemas/CustomerUsdcTransferDataValidBefore'
        nonce:
          type: string
        v:
          type: number
          format: double
        r:
          type: string
        s:
          type: string
      required:
      - from
      - to
      - value
      - validAfter
      - validBefore
      - nonce
      - v
      - r
      - s
      description: 'Customer signed USDC transferWithAuthorization data for dual-source payments

        Used for combined USDC + Credit Card payments on EVM chains'
      title: CustomerUsdcTransferData
    IbanProcessor:
      type: string
      enum:
      - merge
      - ivy
      - mock
      title: IbanProcessor
    IMerchantStringCheckbookSettings:
      type: object
      properties:
        merchantName:
          type: string
        secret:
          type: string
        key:
          type: string
        walletId:
          type: string
        id:
          type: string
      required:
      - merchantName
      - secret
      - key
      - walletId
      - id
      title: IMerchantStringCheckbookSettings
    ISubscriptionPlan_string_:
      type: object
      properties:
        _id:
          type: string
        merchant:
          $ref: '#/components/schemas/ISubscriptionPlanStringMerchant'
        name:
          type: string
        code:
          type: string
        interval:
          $ref: '#/components/schemas/SubscriptionInterval'
        duration:
          type: integer
          description: 'This represents the span of an interval.

            Ex. duration = 3, interval = Monthly means every 3 months the subscription renews

            Default is 1'
        amount:
          $ref: '#/components/schemas/CurrencyCents'
        description:
          type: string
        transaction:
          type: string
        settlementChain:
          $ref: '#/components/schemas/OperationalBlockchain'
        settlementType:
          $ref: '#/components/schemas/SettlementType'
        active:
          type: boolean
        merchantInitiated:
          type: boolean
          description: If true this means we will not run it through our Subscription Payments Pipeline, but instead make the merchant pass us the plan code for MITs to process it
      required:
      - _id
      - merchant
      - name
      - code
      - interval
      - amount
      - active
      title: ISubscriptionPlan_string_
    IMerchantStringWalletsStellar:
      type: object
      properties:
        usdcPayer:
          type: string
      required:
      - usdcPayer
      title: IMerchantStringWalletsStellar
    SubscriptionVersion:
      type: string
      enum:
      - '1'
      - '2'
      title: SubscriptionVersion
    ApplePayPayoutProvider:
      type: string
      enum:
      - aptpay
      - MOCK
      title: ApplePayPayoutProvider
    CustomerUsdcTransferDataV2ValidBefore:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CustomerUsdcTransferDataV2ValidBefore
    VerisoulSettings:
      type: object
      properties:
        enabled:
          type: boolean
        riskThresholds:
          $ref: '#/components/schemas/VerisoulRiskThresholds'
      required:
      - enabled
      - riskThresholds
      title: VerisoulSettings
    CustomerOverrideAuditLog:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/OverrideMethod.CustomerOverride'
        editor:
          type: string
        editorType:
          $ref: '#/components/schemas/EditorType'
        overriddenAt:
          type: string
          format: date-time
        ipAddress:
          type: string
      required:
      - reason
      title: CustomerOverrideAuditLog
    OperationalBlockchain:
      oneOf:
      - $ref: '#/components/schemas/Blockchain.SOLANA'
      - $ref: '#/components/schemas/Blockchain.ETH'
      - $ref: '#/components/schemas/Blockchain.POLYGON'
      - $ref: '#/components/schemas/Blockchain.BASE'
      - $ref: '#/components/schemas/Blockchain.ARBITRUM'
      - $ref: '#/components/schemas/Blockchain.STELLAR'
      - $ref: '#/components/schemas/Blockchain.MONAD'
      - $ref: '#/components/schemas/Blockchain.TEMPO'
      title: OperationalBlockchain
    FailedAttemptSetting:
      type: string
      enum:
      - Standard
      - Exempt
      title: FailedAttemptSetting
    PayPalVendorSettings:
      type: object
      properties:
        accountId:
          type: string
        status:
          type: string
          description: PAY_WITH_PAYPAL capability status (ACTIVE / NEED_DATA / SUSPENDED).
        requirements:
          type: array
          items:
            type: string
          description: Outstanding requirements blocking PAY_WITH_PAYPAL.
        venmoStatus:
          type: string
          description: VENMO_PAY_PROCESSING capability status — same account, separate status.
        venmoRequirements:
          type: array
          items:
            type: string
          description: Outstanding requirements blocking VENMO_PAY_PROCESSING.
        stakeholderIds:
          type: array
          items:
            type: string
        verificationTriggered:
          type: boolean
          description: 'True once we''ve asked PayPal to (re)verify this account''s capabilities.

            triggerVerification itself makes PayPal emit a CAPABILITY_UPDATED webhook,

            so this flag stops that webhook from triggering verification again forever.'
      required:
      - accountId
      title: PayPalVendorSettings
    Verification3DS:
      type: string
      enum:
      - Required
      - Exempt
      - NotApplicable
      title: Verification3DS
    EnhancedTxInfo:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        streetAddress:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        email:
          type: string
        bin:
          type: string
        ip:
          type: string
        userAgent:
          type: string
        expMonth:
          type: string
        expYear:
          type: string
        eci:
          type: string
        avsResponseCode:
          $ref: '#/components/schemas/AVSResponseCode'
        cvvResponseCode:
          $ref: '#/components/schemas/CVVResponseCode'
        binLocation:
          $ref: '#/components/schemas/BinInfo'
        ipLocation:
          $ref: '#/components/schemas/EnhancedTxInfoIpLocation'
        orchestrationInfo:
          $ref: '#/components/schemas/OrchestrationInfo'
      title: EnhancedTxInfo
    IMerchantMongooseTypesObjectIdWithdrawFeePayment:
      type: object
      properties:
        paysGasFees:
          $ref: '#/components/schemas/Partial_Record_Blockchain.boolean__'
        bundleDelegatedPayoutFees:
          type: boolean
        paysSwapFees:
          type: boolean
        paysWithdrawFees:
          type: boolean
      title: IMerchantMongooseTypesObjectIdWithdrawFeePayment
    IMerchantStringWalletsEvm:
      type: object
      properties:
        usdcPayer:
          type: string
        feePayer:
          type: string
      required:
      - usdcPayer
      - feePayer
      title: IMerchantStringWalletsEvm
    ICustomerMongooseTypesObjectIdBlockConfigOverride:
      type: object
      properties:
        maxDistinctTokensPer30Days:
          type: number
          format: double
      description: Per-customer overrides of merchant `blockConfig`. Only honored when they raise the effective limit.
      title: ICustomerMongooseTypesObjectIdBlockConfigOverride
    AchPaymentStatus:
      type: string
      enum:
      - PENDING
      - BATCHED
      - DEPOSITED
      - SETTLED
      - RETURNED
      - FAILED
      - CHARGEBACK
      - REFUND_REVIEW
      - REFUNDED
      title: AchPaymentStatus
    IMerchantStringProcessing:
      type: object
      properties:
        msaSigned:
          type: boolean
        statementsOnFile:
          type: boolean
      required:
      - msaSigned
      - statementsOnFile
      title: IMerchantStringProcessing
    ThreeDsChallengePreference:
      type: string
      enum:
      - NoPreference
      - Frictionless
      - Challenge
      title: ThreeDsChallengePreference
    SettlementType:
      type: string
      enum:
      - Credits
      - USDC
      title: SettlementType
    PixSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/PixProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - customerEmailNotifications
      - merchantEmailNotifications
      title: PixSettings
    AftType:
      type: string
      enum:
      - disbursement
      - personToPerson
      - accountToAccount
      - topUp
      - purchase
      - cash
      - walletLoad
      title: AftType
    InteracProcessor:
      type: string
      enum:
      - mock
      - aptpay
      title: InteracProcessor
    AcquirerInfo:
      type: object
      properties:
        merchantId:
          type: string
        bin:
          type: string
        name:
          type: string
        mcc:
          type: string
      required:
      - merchantId
      - bin
      - name
      title: AcquirerInfo
    IMerchantStringWallets:
      type: object
      properties:
        stellar:
          $ref: '#/components/schemas/IMerchantStringWalletsStellar'
        evm:
          $ref: '#/components/schemas/IMerchantStringWalletsEvm'
        solana:
          $ref: '#/components/schemas/IMerchantStringWalletsSolana'
      required:
      - stellar
      - evm
      - solana
      title: IMerchantStringWallets
    ICashAppPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/CashAppPaymentStatus'
        processor:
          $ref: '#/components/schemas/CashAppProcessor'
        depositAddress:
          type: string
        transaction:
          type: string
        referenceId:
          type: string
        cashAppLink:
          type: string
        expiresAt:
          type: string
          format: date-time
      required:
      - status
      - processor
      - referenceId
      - cashAppLink
      - expiresAt
      title: ICashAppPaymentInfo
    RefundsRefundIdRetryPostResponsesContentApplicationJsonSchemaJobId:
      oneOf:
      - type: string
      - type: number
        format: double
      title: RefundsRefundIdRetryPostResponsesContentApplicationJsonSchemaJobId
    CustomPayInFeesConfig:
      type: array
      items:
        $ref: '#/components/schemas/CustomPayInFeeConfig'
      title: CustomPayInFeesConfig
    CrbEnvironment:
      type: string
      enum:
      - sandbox
      - production
      title: CrbEnvironment
    WithdrawFeeConfig:
      type: object
      properties:
        fixed:
          $ref: '#/components/schemas/Cents'
        variableBps:
          type: number
          format: double
        minimum:
          $ref: '#/components/schemas/Cents'
        maximum:
          $ref: '#/components/schemas/Cents'
        limit:
          $ref: '#/components/schemas/Partial_WithdrawLimit_'
      required:
      - fixed
      - variableBps
      - minimum
      title: WithdrawFeeConfig
    Partial_Record_WithdrawSpeed.WithdrawFeeConfig__:
      type: object
      properties:
        asap:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        same_day:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        standard:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        card:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        iban:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        pix:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        eft:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        venmo:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        paypal:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        wire:
          $ref: '#/components/schemas/WithdrawFeeConfig'
        interac:
          $ref: '#/components/schemas/WithdrawFeeConfig'
      description: Make all properties in T optional
      title: Partial_Record_WithdrawSpeed.WithdrawFeeConfig__
    MerchantBankSettlementOptions:
      type: object
      properties:
        token:
          type: string
        minRemainingBalance:
          $ref: '#/components/schemas/Cents'
        useWire:
          type: boolean
      required:
      - token
      - minRemainingBalance
      title: MerchantBankSettlementOptions
    MerchantEditor:
      type: object
      properties:
        editor:
          type: string
        editorType:
          $ref: '#/components/schemas/EditorType'
        ipAddress:
          type: string
      required:
      - editor
      - editorType
      - ipAddress
      title: MerchantEditor
    AftSettingsMerchantA2AMastercardAftRecipient:
      type: object
      properties:
        walletReference:
          type: string
        countryCode:
          type: string
        state:
          type: string
        postalCode:
          type: string
        city:
          type: string
        address1:
          type: string
        lastName:
          type: string
        firstName:
          type: string
      required:
      - walletReference
      - countryCode
      - state
      - postalCode
      - city
      - address1
      - lastName
      - firstName
      title: AftSettingsMerchantA2AMastercardAftRecipient
    CashAppPaymentStatus:
      type: string
      enum:
      - INITIATED
      - PROCESSING
      - DEPOSITED
      - SETTLED
      - FAILED
      - EXPIRED
      - REFUNDED
      title: CashAppPaymentStatus
    PayPalPayoutProvider:
      type: string
      enum:
      - checkbook
      - citcon
      - mock
      - paypal
      title: PayPalPayoutProvider
    OrchestrationFailedAttempt:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/PaymentProcessor'
        paymentId:
          type: string
        authCode:
          type: string
      required:
      - processor
      title: OrchestrationFailedAttempt
    IMerchantStringWithdrawFees:
      type: object
      properties:
        firstParty:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        business:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        user:
          $ref: '#/components/schemas/Partial_Record_WithdrawSpeed.WithdrawFeeConfig__'
        swapBps:
          type: number
          format: double
      required:
      - firstParty
      - business
      - user
      - swapBps
      title: IMerchantStringWithdrawFees
    CryptoPaymentStatus:
      type: string
      enum:
      - INITIATED
      - DEPOSITED
      - SETTLED
      - FAILED
      - REFUNDED
      title: CryptoPaymentStatus
    ISubscriptionMongooseTypesObjectIdMerchant:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IMerchant_mongoose.Types.ObjectId_'
      title: ISubscriptionMongooseTypesObjectIdMerchant
    FailedIbanAttempt:
      type: object
      properties:
        transactionId:
          type: string
        processed:
          type: string
          format: date-time
        reason:
          type: string
      required:
      - transactionId
      - processed
      - reason
      title: FailedIbanAttempt
    AvailabilityStatus:
      type: string
      enum:
      - Functional
      - Blocked
      - Override
      title: AvailabilityStatus
    IPaymentStringMerchant:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/IMerchant_string_'
      title: IPaymentStringMerchant
    TopupRiskControls:
      type: object
      properties:
        minAmountCents:
          type: number
          format: double
          description: Minimum topup amount in cents
        maxAmountCents:
          type: number
          format: double
          description: Maximum topup amount in cents
      title: TopupRiskControls
    OrchestrationTraversalStepNodeType:
      type: string
      enum:
      - action
      - decision
      title: OrchestrationTraversalStepNodeType
    CardOnFileSettings:
      type: object
      properties:
        enabled:
          type: boolean
        period:
          type: number
          format: double
        maxCount:
          type: number
          format: double
        maxMultiple:
          type: number
          format: double
        expiration:
          type: number
          format: double
        maxZeroAuthAmount:
          $ref: '#/components/schemas/Cents'
        maxAmountLookback:
          type: number
          format: double
      required:
      - enabled
      - period
      - maxCount
      - maxMultiple
      - expiration
      title: CardOnFileSettings
    IMerchantMongooseTypesObjectIdRiskControls:
      type: object
      properties:
        topup:
          $ref: '#/components/schemas/TopupRiskControls'
      title: IMerchantMongooseTypesObjectIdRiskControls
    TokenSubtotal:
      type: object
      properties:
        address:
          type: string
          description: 'The tokens address


            Solana - Token Mint Address

            Evm - Token Contract Address'
        amount:
          $ref: '#/components/schemas/TokenSubtotalAmount'
          description: Number of tokens
        decimals:
          type: number
          format: double
          description: Number of decimals for the token
      required:
      - address
      - amount
      title: TokenSubtotal
    LinkedBankAccountAccountType:
      type: string
      enum:
      - checking
      - savings
      title: LinkedBankAccountAccountType
    VendorSettingsKoard:
      type: object
      properties:
        enabled:
          type: boolean
        apiKeyPreview:
          type: string
        apiKey:
          type: string
        accountId:
          type: string
      required:
      - accountId
      title: VendorSettingsKoard
    IVenmoPaymentInfoSandboxSimulations:
      type: object
      properties:
        refundFailure:
          type: boolean
        captureFailure:
          type: boolean
        authorizationFailure:
          type: boolean
      title: IVenmoPaymentInfoSandboxSimulations
    ISubscriptionMongooseTypesObjectIdPlan:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ISubscriptionPlan_mongoose.Types.ObjectId_'
      title: ISubscriptionMongooseTypesObjectIdPlan
    RefundTotals:
      type: object
      properties:
        subtotal:
          $ref: '#/components/schemas/CurrencyCents'
        processorFees:
          $ref: '#/components/schemas/CurrencyCents'
        total:
          $ref: '#/components/schemas/CurrencyCents'
        adjustment:
          $ref: '#/components/schemas/CurrencyCents'
        rate:
          type: number
          format: double
        resolution:
          $ref: '#/components/schemas/CurrencyCents'
      required:
      - subtotal
      - processorFees
      - total
      - rate
      - resolution
      title: RefundTotals
    CryptoPayInSettings:
      type: object
      properties:
        stables:
          $ref: '#/components/schemas/TierSettings'
        majors:
          $ref: '#/components/schemas/TierSettings'
        volatile:
          $ref: '#/components/schemas/TierSettings'
        enabled:
          type: boolean
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxGasFeePayment:
          $ref: '#/components/schemas/Cents'
        coinbaseDisabled:
          type: boolean
        transferOnly:
          type: boolean
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        fixedFee:
          $ref: '#/components/schemas/Cents'
        enableStableDepositAddresses:
          type: boolean
        maxActivePassiveAddresses:
          type: number
          format: double
          description: 'Cap on the number of simultaneously-active customer pay-in passive

            deposit addresses for this merchant. Undefined = no cap. Paused

            addresses don''t count against the cap.'
      required:
      - stables
      - majors
      - volatile
      - enabled
      - maxGasFeePayment
      - coinbaseDisabled
      - customerEmailNotifications
      - merchantEmailNotifications
      title: CryptoPayInSettings
    TierSettings:
      type: object
      properties:
        feeBps:
          type: number
          format: double
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        enabled:
          type: boolean
      required:
      - feeBps
      - enabled
      title: TierSettings
    CustomerVerificationSetting:
      type: string
      enum:
      - Enforced
      - Exempt
      title: CustomerVerificationSetting
    VenmoSettings:
      type: object
      properties:
        processor:
          $ref: '#/components/schemas/VenmoProcessor'
        feeMode:
          $ref: '#/components/schemas/FeePayerMode'
        fxFeeMode:
          $ref: '#/components/schemas/FeePayerMode'
        maxFee:
          $ref: '#/components/schemas/Cents'
        fixedFee:
          $ref: '#/components/schemas/Cents'
        feeBps:
          type: number
          format: double
        minFee:
          $ref: '#/components/schemas/Cents'
        customerEmailNotifications:
          type: boolean
        merchantEmailNotifications:
          type: boolean
        refundFeeSettings:
          $ref: '#/components/schemas/RefundFeeSettings'
      required:
      - fixedFee
      - feeBps
      - minFee
      - customerEmailNotifications
      - merchantEmailNotifications
      title: VenmoSettings
    CustomerUsdcTransferDataValidBefore:
      oneOf:
      - type: string
      - type: number
        format: double
      title: CustomerUsdcTransferDataValidBefore
    IMerchantMongooseTypesObjectIdCheckbookSettings:
      type: object
      properties:
        merchantName:
          type: string
        secret:
          type: string
        key:
          type: string
        walletId:
          type: string
        id:
          type: string
      required:
      - merchantName
      - secret
      - key
      - walletId
      - id
      title: IMerchantMongooseTypesObjectIdCheckbookSettings
    EntityTag:
      type: object
      properties:
        coinflowEntity:
          $ref: '#/components/schemas/CoinflowEntity'
      required:
      - coinflowEntity
      title: EntityTag
    RefundFeeSettings:
      type: object
      properties:
        feeBps:
          type: number
          format: double
        fixedFee:
          $ref: '#/components/schemas/Cents'
        minFee:
          $ref: '#/components/schemas/Cents'
        maxFee:
          $ref: '#/components/schemas/Cents'
      title: RefundFeeSettings
    IApaPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApaPaymentStatus'
        processor:
          $ref: '#/components/schemas/ApaProcessor'
        apaTransactionId:
          type: string
        credentialType:
          $ref: '#/components/schemas/ApaCredentialType'
        credentialValue:
          type: string
        transaction:
          type: string
        transactionHash:
          type: string
        rail:
          type: string
        reason:
          type: string
        processed:
          type: string
          format: date-time
      required:
      - status
      - processor
      - apaTransactionId
      - credentialType
      - credentialValue
      title: IApaPaymentInfo
    TokenSubtotalAmount:
      oneOf:
      - type: number
        format: double
      - type: string
      description: Number of tokens
      title: TokenSubtotalAmount
    MerchantScope:
      type: string
      enum:
      - admin
      - editor
      - chargeback
      - chargeback_analyst
      - viewer
      - seller
      - pos_device
      title: MerchantScope
    BlockingRuleMethod:
      type: string
      enum:
      - KYC_ADDRESS
      - IP
      - BILLING_ADDRESS
      - GEOLOCATION
      title: BlockingRuleMethod
    Partial_Record_Blockchain.boolean__:
      type: object
      properties:
        solana:
          type: boolean
        eth:
          type: boolean
        polygon:
          type: boolean
        base:
          type: boolean
        user:
          type: boolean
        arbitrum:
          type: boolean
        stellar:
          type: boolean
        monad:
          type: boolean
        tempo:
          type: boolean
      description: Make all properties in T optional
      title: Partial_Record_Blockchain.boolean__
    CustomWithdrawFeeValue:
      oneOf:
      - $ref: '#/components/schemas/CustomWithdrawFeeValue0'
      - $ref: '#/components/schemas/CustomWithdrawFeeValue1'
      title: CustomWithdrawFeeValue
    EnhancedTxInfoIpLocation:
      type: object
      properties:
        hosting:
          type: boolean
        mobile:
          type: boolean
        proxy:
          type: boolean
        zip:
          type: string
        city:
          type: string
        isp:
          type: string
        region:
          type: string
        country:
          type: string
        lon:
          type: string
        lat:
          type: string
      required:
      - zip
      - city
      - isp
      - region
      - country
      - lon
      - lat
      title: EnhancedTxInfoIpLocation
    AnyObject:
      type: object
      properties:
        example:
          type: string
      title: AnyObject
    CardPayoutProvider:
      type: string
      enum:
      - aptpay
      - checkbook
      - shift4
      - MOCK
      title: CardPayoutProvider
    IPayPalPaymentInfo:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PayPalPaymentStatus'
        processor:
          $ref: '#/components/schemas/PayPalProcessor'
        token:
          type: string
        authOnly:
          type: boolean
        transaction:
          type: string
        capturePending:
          type: boolean
          description: 'This means when we tried to capture from PayPal, they returned PENDING instead of COMPLETED.

            We will use this field to determine whether to refund a completed capture or not.

            If it was PENDING, and then it finally comletes at a later time, just refund it automatically.'
        sandboxSimulations:
          $ref: '#/components/schemas/IPayPalPaymentInfoSandboxSimulations'
      required:
      - status
      - processor
      - token
      title: IPayPalPaymentInfo
    Blockchain.TEMPO:
      type: string
      enum:
      - tempo
      title: Blockchain.TEMPO
    IRefundCustomer:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ICustomer_string_'
      title: IRefundCustomer
    ISubscriptionStringPlan:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/ISubscriptionPlan_string_'
      title: ISubscriptionStringPlan
    Currency:
      type: string
      enum:
      - USD
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CHF
      - CLF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ETB
      - EUR
      - FJD
      - GBP
      - GEL
      - GHS
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MWK
      - MVR
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RWF
      - SAR
      - SCR
      - SDG
      - SEK
      - SGD
      - SLE
      - SLL
      - SOS
      - SRD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWL
      - CDF
      - ERN
      - FKP
      - KPW
      - RUB
      - SBD
      - SHP
      - SSP
      - VES
      title: Currency
    CardSettingsVerificationSettings:
      type: object
      properties:
        threshold3DS:
          $ref: '#/components/schemas/Cents'
        verificationLimit:
          $ref: '#/components/schemas/Cents'
      title: CardSettingsVerificationSettings
    ICustomerMongooseTypesObjectIdMerchant:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/IMerchant_mongoose.Types.ObjectId_'
      title: ICustomerMongooseTypesObjectIdMerchant
    Record_string.string_:
      type: object
      properties: {}
      description: Construct a type with a set of properties K of type T
      title: Record_string.string_
    IAvailability:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/AvailabilityStatus'
        reason:
          type: string
        editor:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
      - status
      - reason
      - editor
      - updatedAt
      title: IAvailability
    IPaymentMongooseTypesObjectIdSubscription:
      oneOf:
      - $ref: '#/components/schemas/mongoose.Types.ObjectId'
      - $ref: '#/components/schemas/ISubscription_mongoose.Types.ObjectId_'
      title: IPaymentMongooseTypesObjectIdSubscription
    IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides:
      type: object
      properties:
        interacPayoutProvider:
          $ref: '#/components/schemas/InteracPayoutProvider'
        wirePayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/WirePayoutProvider'
        paypalPayoutProvider:
          $ref: '#/components/schemas/PayPalPayoutProvider'
        venmoPayoutProvider:
          $ref: '#/components/schemas/VenmoPayoutProvider'
        appleP2cPayoutProvider:
          $ref: '#/components/schemas/ApplePayPayoutProvider'
        globalP2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        p2cPayoutProvider:
          $ref: '#/components/schemas/CardPayoutProvider'
        eftPayoutProvider:
          $ref: '#/components/schemas/EftPayoutProvider'
        pixPayoutProvider:
          $ref: '#/components/schemas/PixPayoutProvider'
        rtpPayoutProvider:
          $ref: '#/components/schemas/RtpPayoutProvider'
        ibanPayoutProvider:
          $ref: '#/components/schemas/IbanPayoutProvider'
        bankPayoutProvider:
          type: array
          items:
            $ref: '#/components/schemas/PayoutProviderOption'
      title: IMerchantMongooseTypesObjectIdFirstPartyPayoutOverrides
    IPaymentMongooseTypesObjectIdBankTransferInfo:
      type: object
      properties:
        reason:
          type: string
        token:
          type: string
        batchedAt:
          type: string
          format: date-time
        refundTransferId:
          type: string
        refundReview:
          type: boolean
        transaction:
          type: string
        processor:
          $ref: '#/components/schemas/AchProcessor'
        status:
          $ref: '#/components/schemas/AchPaymentStatus'
      required:
      - refundReview
      - processor
      - status
      title: IPaymentMongooseTypesObjectIdBankTransferInfo
    PayPalProcessor:
      type: string
      enum:
      - mock
      - paypal
      title: PayPalProcessor
    IPaymentStringCardInfo:
      type: object
      properties:
        storedTransactionType:
          $ref: '#/components/schemas/StoredCardTransactionType'
        authorizationPaymentReference:
          type: string
        originalPaymentId:
          type: string
          description: This is really the permissioning payment Id - what paymentId was used that had a CVV entered to authorize it
        statementDescriptor:
          type: string
        interchangeKey:
          type: string
        fraudReport:
          $ref: '#/components/schemas/FraudReport'
        enhancedTxInfo:
          $ref: '#/components/schemas/EnhancedTxInfo'
        transaction:
          type: string
        secureTransactionId:
          type: string
        processed3DS:
          $ref: '#/components/schemas/Verification3DS'
        cardType:
          $ref: '#/components/schemas/CardType'
        last4:
          type: string
        token:
          type: string
        mobileWallet:
          $ref: '#/components/schemas/MobileWallet'
        processor:
          $ref: '#/components/schemas/PaymentProcessor'
        authCode:
          type: string
        status:
          $ref: '#/components/schemas/CardPaymentStatus'
        authOnly:
          type: boolean
      required:
      - processor
      - authCode
      - status
      title: IPaymentStringCardInfo
    RainPendingTopUp:
      type: object
      properties:
        amount:
          type: number
          format: double
        queuedAt:
          type: string
          format: date-time
        transactionId:
          type: string
      required:
      - amount
      - queuedAt
      - transactionId
      title: RainPendingTopUp
    IMerchantMongooseTypesObjectIdBlockConfig:
      type: object
      properties:
        disableMultiCardAttemptCheck:
          type: boolean
          description: When true, skips the multi-card attempt check (2+ distinct cards failing in 1 hour).
        maxDistinctTokensPer30Days:
          type: number
          format: double
          description: 'Maximum number of distinct card tokens a single customer may use across

            non-failed/voided card payments for this merchant in a rolling 30-day

            window. Apple Pay / Google Pay payments are excluded. Unset or 0 disables

            the check. Customers with `failedAttemptSetting: Exempt` bypass it.'
        disableDestinationAuthKey:
          type: boolean
          description: When true, prevents usage of destinationAuthKey for custom settlement addresses.
        enableNmiSettlement:
          type: boolean
          description: When true, enables the settlement pipeline for NMI transactions (converts card payments to USDC).
        disableInvoiceWalletPayment:
          type: boolean
[...]
